/*@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Montserrat:400,700,800');



/***********************************************/
/* CSS @imports must be at the top of the file */
/* Add them above this section                 */
/***********************************************/

/****************************************/
/* HubSpot Style Boilerplate            */
/****************************************/

/* These includes are optional, but helpful. */
{% include "hubspot/styles/responsive/modules.css" %}
{% include "hubspot/styles/patches/recommended.css" %}


/*****************************************/
/* Start your style declarations here    */
/*****************************************/





/*--------- SIZING ----------*/

{% set bodyWidth = '100%' %} 



/*--------- NAVBAR COLORS ----------*/

{% set headerBackground = '#fff ' %} 
{% set navTextColor = '#ffffff ' %} 
{% set navTextHoverColor = '#ffffff ' %}
{% set navDropdownTextColor = '#2d3e50 ' %} 
{% set navDropdownBackgroundColor = '#fff' %} 
{% set bodytextcolor =  '#2d3e50' %}



/*--------- Theme Base Colors ----------*/

{% set baseColor = '#ed7448' %} 

{% set ctaBackgroundColor = '#ed7448' %} 
{% set ctaTextColor = '#fff' %} 
{% set ctaBorderColor = '#ed7448 ' %} 





body{
    padding:0;
    font-size: 16px ;
    line-height: 1.4;
    overflow-x:hidden;
    -webkit-font-smoothing: antialiased;
    font-family:{{ baseFontFamily }};
    width:100%;
    letter-spacing:.5px;
    background: #fff ;
    margin:0 auto;
    max-width:{{ bodyWidth }};
    color:{{bodytextcolor}};
}

.row-fluid [class*="span"].wrapper,
.row-fluid .wrapper{
    width: 100%;
    max-width: 1600px;
    margin-left:auto;
    margin-right:auto;
    float: none;
    padding-left:15px;
    padding-right:15px;
}

/*
h1,h2,h3,h4,h5,h6,p,a{
    text-transform:initial;
    margin:0;
    padding:0;
    text-decoration:none;
    margin-bottom:15px;
    color:{{bodytextcolor}};
}

h1,h2,h3,h4,h5,h6{
    color:{{bodytextcolor}};
}

h1+h4{
    font-family: 'Open Sans', sans-serif;
    font-weight:400;
    font-size:18px;
    letter-spacing:.75px;
    line-height:1.5;
}
*/
.body-container-wrapper ul,.body-container-wrapper li{
    margin-bottom:15px;
}

a{
    margin-bottom:0;
    
}
/*
h1{
    font-size:48px;
    font-weight:400;
    letter-spacing: 1px;
    margin-bottom: 20px;
    line-height: 1.3;
}
*/
h2{
    font-size:42px;
    font-weight:400;
    letter-spacing: 0;
    line-height: 1.3;
}

h3{
    font-size: 34px;
    font-weight:400;
    letter-spacing: .5px;
}

h4{
    font-size: 22px;
    font-weight:400;
    letter-spacing: 0;
}

h5{
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0;
}

h6{
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
}

p,
.body-container-wrapper li{
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: .5px;
    font-weight:400;
}


h3+p{
    margin-top:15px;
}

.body-container-wrapper {
    background:#fff;
    overflow:hidden;
    position:relative;
    z-index:2;
    //padding-top:85px;
}

.body-container-wrapper ul{
    padding:0;
    text-decoration:none;
    margin:20px 0;
}

.body-container-wrapper ol{
    margin:0;
    padding:0;
    text-decoration:none;
    margin-bottom:15px;    
}

.body-container-wrapper li{
    margin-left:26px;
    margin-bottom:8px;
}


.body-container-wrapper ol li:before{
    display:none;
}

.no-list-style ul{
    margin:0;    
    list-style:none;
}

.no-list-style li{
    margin:0;
}

.body-container-wrapper a{
    color:{{ baseColor  }};
    transition: all ease-in-out .2s;
}

blockquote{
    margin: 0;
    font-size: 16px;
    font-style: italic;
    color: #a9a9a9;
    font-weight: 300;
    padding-left: 17px;
    border-left: 2px solid {{ baseColor }};
    margin-left: 4px;
    margin-top: 25px;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.widget-type-cta{
    margin-top:15px;
}


body a.cta_button,
body .container-fluid .row-fluid .hs-button{    
    font-size: 16px;
    line-height: 18px;
    padding: 16px 40px;
    font-weight: 400;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    letter-spacing: 1px;
    color: #fff;
    border-radius:50px;
    margin-bottom: 0;
    position: relative;
    z-index: 1;
    background:{{ctaBackgroundColor}};
    border-color:{{ctaBackgroundColor}};
    transition: all ease-in-out .2s;
    letter-spacing: 1.5px;
    top:0;
}

.hs_cos_wrapper_type_custom_widget a.cta_button{
    margin-top:25px;
}

body a.cta_button.image-cta{
    padding:0;
    background:transparent;
    text-align:center;
}

body a.cta_button:hover,
body .container-fluid .row-fluid .hs-button:hover{
    box-shadow: 0px 8px 20px 2px rgba(0, 0, 0, 0.32);
    top:-5px;
}

/*body .white-cta a.cta_button,
body .all-text-white a.cta_button,
body .white-cta .container-fluid .row-fluid .hs-button{    
    background:#fff;
    border-color:#fff;
    color:#000;
}*/

body .dark-cta a.cta_button{
    background:#0d2e4f;
    border-color:#0d2e4f;
}

.simple-cta a.cta_button,
.simple-cta a{
    background:transparent;
    border:0;
    padding:0;
    position:relative;
    color: {{ baseColor }};
    font-weight:400;
}

.simple-cta a:after{
    content:'\f107';
    font-family: FontAwesome;
    padding-left: 6px;
}   

.align-center {
    text-align:center;
}

.align-left {
    text-align:left;
}

.align-right {
    text-align:right;
}

.float-left{
    float:left;
}

.float-right{
    float:right;
}

.overlay,.base-color-overlay{
    position:relative;
    z-index:1;
}

.overlay:before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background:rgba(0, 0, 0, 0.6);
    z-index: -1;
}
/*
@media (min-width:1025px){

.left-triangle,
.right-triangle{
    position:relative;
    z-index:1;
    overflow:hidden
}

.left-triangle:before{
    position: absolute;
    content: '';
    top: 15%;
    left: -200px;
    z-index: -1;
    width: 300px;
    height: 400px;
    background:{{ baseColor }};
    transform: rotate(30deg);
    opacity: .3;
}

.right-triangle:after{
    position: absolute;
    content: '';
    right: -200px;
    bottom: 15%;
    z-index: -1;
    width: 300px;
    height: 400px;
    background:{{ baseColor }};
    transform: rotate(30deg);
    opacity: .3;
}
}*/

.base-color-overlay:before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background:{{ baseColor }};
    z-index: -1;
    opacity:.95;
    background: {{ baseColorOverlay }};
}

.grey-bg{
    background:#f8f8f8;
}

body .row-fluid .blue-bg{
    background: #0d82df;
}


body .container-fluid .row-fluid .section-heading.align-center {
    max-width: 840px;
    float: none;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:60px;
}

.section-heading p{
    font-size: 18px;
    font-weight: 400;
    max-width: 600px;
    margin: 0 auto;
    letter-spacing: .5px;
}

.section-heading h5{
    font-size: 14px;
    font-weight:700;
    letter-spacing:1px;
    text-transform: uppercase;
    color:{{baseColor}};
    font-family: 'Montserrat',sans-serif;
    margin-bottom: 5px;
}

.all-text-white,
.all-text-white h1,
.all-text-white h2,
.all-text-white h3,
.all-text-white p,
.all-text-white h4,
.all-text-white h5,
.all-text-white h6,
.all-text-white li,
.all-text-white .fa,
.all-text-white a{
    color:#fff;
}

.text-margin-zero h1,
.text-margin-zero h2,
.text-margin-zero h3,
.text-margin-zero p,
.text-margin-zero h4,
.text-margin-zero h5,
.text-margin-zero h6,
.text-margin-zero .fa,
.text-margin-zero a{
    margin:0;
}

.base-color-text h1,
.base-color-text h2,
.base-color-text h3,
.base-color-text p,
.base-color-text h4,
.base-color-text h5,
.base-color-text h6,
.base-color-text .fa,
.base-color-text a{
    color:{{ baseColor }};
}

.body-container-wrapper .all-text-white li:before{
    background:#fff;
}

body .container-fluid .row-fluid .pad-bottom{
    margin-bottom:80px;
}

body .container-fluid .row-fluid [class*="span"]{
    min-height:0;
}

.section-bg{
    background-size: cover!important;
    background-position: center center!important;
}

/* Removed by HS Support #1930576 
.section-bg .bg-image{
    display:none!important;
}
*/

/* Added by HS Support #1930576 */
.span12.widget-span.widget-type-cell.section-bg.all-text-white.overlay.news-blog-banner {
z-index: -999;
}
.span12.widget-span.widget-type-cell.section-bg.all-text-white.overlay.news-blog-banner {
 height: 630px;
}

.section-padding{
    padding:100px 0;
}

.section-border{
    border-bottom:1px solid #e7e7e7;
}

.cta-margin{
    margin-top:50px;
}

@media (min-width: 768px) {
    
.equal-height-container > .row-fluid-wrapper > .row-fluid {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: stretch;
    -moz-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

body .row-fluid .vertical-center{
    display: flex;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
}     
}

.inner-page-hero-section{
    padding:30px 0;
}

.inner-page-hero-section h1{
    margin:0;
    font-size:30px;
}


/*========================================================
        Responsive Styling
========================================================*/

@media (min-width:768px) and (max-width:1024px){

.row-fluid [class*="span"].wrapper{
    padding-left:40px;
    padding-right:40px;
}

.pth-header .row-fluid [class*="span"].wrapper{
    padding-left:15px;
    padding-right:15px;
}


h1{
    font-size:32px;
}

h2{
    font-size: 28px;
}

h3{
    font-size: 20px;
}

h4{
    font-size: 18px;
}

h5{
    font-size: 16px;
}

h6{
    font-size: 16px;
}

.section-padding {
    padding: 60px 0;
}

body .container-fluid .row-fluid .section-heading.align-center {
    margin-bottom: 30px;
}

p{
    font-size: 14px;
}

.body-container-wrapper li {
    font-size: 14px;
}

.section-heading p {
    font-size: 18px;
}

.cta-margin {
    margin-top: 30px;
}

}




@media (max-width:767px){


.row-fluid [class*="span"].wrapper{
    padding-left:20px;
    padding-right:20px;
}


h1{
    font-size:32px;
}

h2{
    font-size:28px;
}

h3{
    font-size: 24px;
}

h4{
    font-size: 18px;
}

h5{
    font-size: 16px;
}

h6{
    font-size: 16px;
}

.section-padding {
    padding: 60px 0;
}

.align-right {
    text-align: center;
}

.align-left {
    text-align: center;    
}

body .container-fluid .row-fluid .section-heading.align-center{
    margin-bottom: 30px;
}

p {
    font-size: 14px;
    line-height: 24px;
}

.body-container-wrapper li {
    font-size: 14px;
    line-height: 24px;
}

.primary-banner {
    padding: 120px 0 40px;
}

.section-heading p {
    font-size: 16px;
}

.heading-underline {
    margin-bottom: 20px;
    padding-bottom: 2px;
}

.cta-margin {
    margin-top: 20px;
}

.body-container-wrapper {
    padding-top:0px;   
}

}











/*========================================  
        Header Styling
========================================*/          

@media (min-width:768px){

.pth-header .header-logo{
    padding:26px 0;
}

.pth-header .header-logo img{
    width:100%;
    max-width:200px;
}

}


.pth-top-bar{
    padding:10px 0;
    background:#F8F7F6;
}

.pth-top-bar .widget-type-cta{
    margin:0;
    text-align:right;
}

.pth-top-bar a.cta_button{
    padding:9px 20px;
    font-size:12px;
}

.pth-top-bar .phone-number-container a span{
    font-weight:500;
} 

.pth-top-bar .phone-number-container .fa{
    color:{{ baseColor }};
    font-size: 20px;
    margin-right: 4px;    
}





@media (max-width:767px){
    
.pth-top-bar .phone-number-container .fa {
    font-size: 14px;
    margin-right: 2px;
}

.pth-top-bar a.cta_button {
    padding: 3px 6px;
    font-size: 12px;
}

.pth-top-bar .phone-number-container {
    font-size: 12px;
}

body .row-fluid .pth-top-bar .phone-number-container{
    width: 48%;
    float: left;
    margin-top: 8px;
}

body .row-fluid .pth-top-bar .top-cta-container{
    width:40%;
    float:right;
}


}


















/*************************************
            HEADER STYLING
*************************************/            



body .row-fluid .pth-header{
    //background: #ffffff;
   // border-bottom: 1px solid #e1e2e3;
    position:absolute;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 11;
    transition: all .35s ease-in-out;
    top: 0;
   // box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.50);
}

body .row-fluid .pth-header.fixed-nav {
    //top: -86px;
}

.pth-header .logo{
    padding:10px 0;
}

.pth-header .head-cta{
    margin-top:0;
}

.pth-header .head-cta a.cta_button{
    padding: 12px 30px;    
    border:2px solid {{ baseColor }};
}

.pth-header .top-nav-container{
    margin-top:50px;
}

.pth-header .contact-info span{
    font-size:12px;
}

.pth-header .contact-info span .fa{
    margin-right: 7px;
    width: 12px;
    text-align: center;
    font-size: 16px;
    position: relative;
    top: 1px;
}

@media(max-width:1200px) and (min-width:768px){
    
.hs-menu-wrapper.hs-menu-flow-horizontal > ul>li.hs-item-has-children:last-child>ul.hs-menu-children-wrapper{
    left:-125px;        
}

}

@media (min-width:768px){
    
body .row-fluid .pth-header{
    height:85px;
}    

.pth-header .hs-menu-wrapper.hs-menu-flow-horizontal > ul>li>a{
    font-size: 14px;
    padding:35px 12px;
    line-height:1;
    font-weight:400;
    color:#ffffff;
}

.hs-menu-wrapper.hs-menu-flow-horizontal > ul li.hs-item-has-children ul.hs-menu-children-wrapper{
    border-top:3px solid {{ baseColor }};
}

.pth-header .hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-menu-depth-1 {
    line-height: 0;
}

.pth-header .hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-menu-depth-1.hs-item-has-children>a{
    position:relative;
    margin-right:12px;
}

.pth-header .hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-item-has-children>a:before{
    position: absolute;
    content: '\f107';
    font-family:FontAwesome;
    top: -2px;
    bottom: 0;
    right: 12px;
    font-size: 14px;
    color:#ffffff;
    display: flex;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.pth-header .hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-menu-depth-1.hs-item-has-children>a:before{
    right:-5px;
}

.pth-header .hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-menu-depth-1:hover a,
.pth-header .hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-menu-depth-1.active a,
.pth-header .hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-item-has-children:hover>a:before{
    color:#fff;
}


.pth-header .hs-menu-wrapper {
    line-height: 0;
    text-align: center;
    float:right;
}

.pth-header .hs-menu-wrapper.hs-menu-flow-horizontal > ul li.hs-item-has-children ul.hs-menu-children-wrapper li a{
    font-size: 14px;
    padding: 12px 24px 12px 15px;
    line-height: 1;
    color: {{ navDropdownTextColor }};
    text-align: left;
    border: 1px solid rgba(18, 18, 50, 0.11);
    background: {{ navDropdownBackgroundColor }};
    border-top: 0;
    font-weight: 400;
    transition:all .2s ease-in-out;
    min-width: 140px;
    -webkit-transition:all .2s ease-in-out;
}

.pth-header .hs-menu-wrapper.hs-menu-flow-horizontal > ul li.hs-item-has-children ul.hs-menu-children-wrapper li a:before{
    color:{{ navDropdownTextColor }};
}

.pth-header .hs-menu-wrapper.hs-menu-flow-horizontal > ul li.hs-item-has-children ul.hs-menu-children-wrapper li:hover a:before{
    color:{{ baseColor }};
}

.pth-header .hs-menu-wrapper.hs-menu-flow-horizontal > ul li.hs-item-has-children ul.hs-menu-children-wrapper li a:hover{
    color:{{ baseColor }};
    text-indent:2px;
}

.pth-header .hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-item-has-children ul.hs-menu-children-wrapper li.hs-item-has-children ul.hs-menu-children-wrapper {
    left: 100%;
    top: 0;
}

}




@media (min-width:768px) and (max-width:1024px){

.pth-header .head-cta a.cta_button {
    padding: 10px 18px;
    font-size: 14px;
}

.pth-header .hs-menu-wrapper.hs-menu-flow-horizontal>ul>li>a {
    //padding: 22px 10px 22px;
    font-size:12px;
}

.pth-header .top-nav-container {
    margin-top: 34px;
}

.pth-header {
    padding:0;
}

}


@media (max-width:767px){


}











/*==================================================
            Two Col Adjust 
==================================================*/

body .container-fluid .row-fluid .two-col-adjust>span {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: stretch;
    -moz-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    flex-wrap: wrap;
    -wevkit-flex-wrap: wrap;
    flex-direction: row;
    -webkit-flex-direction: row;
    margin-right: -2.5%;
}

body .row-fluid .two-col-adjust span>.hs_cos_wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-basis: 47.4%;
    -webkit-flex-basis: 47.4%;
    float: left;
    margin-right: 2.43%;
    margin-top: 25px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position:relative;
}


/* Make border boxed*/


body .container-fluid .row-fluid .two-col-adjust.have-box-border span>.hs_cos_wrapper{
    background-color: #fff;
    box-shadow: 0 1px 1px 0 #e6ebee;
    border: solid 1px rgba(129,154,179,0.14);
    position: relative;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
    padding:20px;
    position:relative;
} 



@media (max-width:767px){
 
 
body .container-fluid .row-fluid .two-col-adjust>span {
    display: block;
    margin-right: 0;
}

body .row-fluid .two-col-adjust span>.hs_cos_wrapper {
    display: block;
    margin: 0;
    margin-top: 20px;
    max-width: 379px;
    width: 100%;
    margin: 30px auto 0;
    float: none;
}   
}











/*==================================================
            Three Col Adjust 
==================================================*/

body .container-fluid .row-fluid .three-col-adjust>span {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: stretch;
    -moz-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    flex-wrap: wrap;
    -wevkit-flex-wrap: wrap;
    flex-direction: row;
    -webkit-flex-direction: row;
    margin-right: -2.5%;
}

body .row-fluid .three-col-adjust span>.hs_cos_wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-basis: 30.2%;
    -webkit-flex-basis: 30.2%;
    float: left;
    margin-right: 2.43%;
    margin-top: 25px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position:relative;
}


/* Make border boxed*/


body .container-fluid .row-fluid .three-col-adjust.have-box-border span>.hs_cos_wrapper{
    background-color: #fff;
    box-sizing: border-box;
    box-shadow: 0 1px 1px 0 #e6ebee;
    border: solid 1px rgba(129,154,179,0.14);
    position: relative;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
    padding:20px 0;
    position:relative;
} 

body .container-fluid .row-fluid .three-col-adjust.have-box-border span>.hs_cos_wrapper>div{
    padding:0 20px;
}
.redirect-page{
    position:absolute;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    width:100%;
    height:100%;
    display:block;
    cursor:pointer;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}

body .container-fluid .row-fluid .three-col-adjust.have-box-border span>.hs_cos_wrapper:hover .redirect-page{
    border:1px solid {{baseColor}};
}


@media (max-width:767px){
 
 
body .container-fluid .row-fluid .three-col-adjust>span {
    display: block;
    margin-right: 0;
}

body .row-fluid .three-col-adjust span>.hs_cos_wrapper {
    display: block;
    margin: 0;
    margin-top: 20px;
    max-width: 379px;
    width: 100%;
    margin: 30px auto 0;
    float: none;
}   
}









/*==================================================
            Four Col Adjust 
==================================================*/

body .container-fluid .row-fluid .four-col-adjust>span {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: stretch;
    -moz-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    flex-wrap: wrap;
    -wevkit-flex-wrap: wrap;
    flex-direction: row;
    -webkit-flex-direction: row;
    margin-right: -2.565%;
}

body .row-fluid .four-col-adjust span>.hs_cos_wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-basis: 22.5%;
    -webkit-flex-basis: 22.5%;
    float: left;
    margin-right: 2.5%;
    margin-top: 20px;
    box-sizing:border-box;
    position:relative;
}










@media (max-width:767px){
 
body .container-fluid .row-fluid .four-col-adjust>span {
    display: block;
    margin-right: 0;
}

body .row-fluid .four-col-adjust span>.hs_cos_wrapper {
    display: block;
    flex-basis: 100%;
    width:100%;
    -webkit-flex-basis: 100%;
    margin:0;
    margin-top: 20px;
}   
}









/*=========================================================
                    FORM STYLE
=========================================================*/                

::-webkit-input-placeholder {
   color: #989898;
}

:-moz-placeholder {
   color: #989898;
}

::-moz-placeholder {  
   color: #989898;
}

:-ms-input-placeholder {  
   color: #989898;
}

select::-ms-expand {
    display: none;
}

.row-fluid form li{
    margin:0;
}

.row-fluid  form li:before{
    display:none;
}

.row-fluid  form input,
.row-fluid  form select,
.row-fluid  form textarea{
    height: 54px;
    font-family:{{ baseFontFamily }};
    border: 0;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1px;
    padding: 0;
    margin-bottom: 8px;
    border-radius: 0;
    background: #f5f5f5;
    padding:10px 20px;
    color: {{bodytextcolor}};
    font-weight:400;
    background:#fff;
    border:1px solid #dedede;
    box-sizing: border-box;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
}


.row-fluid  form input:focus,
.row-fluid  form select:focus,
.row-fluid  form textarea:focus{
    outline:0;
    border:1px solid {{ baseColor}};
}

.row-fluid  form textarea{
    height:150px;    
}

.row-fluid  form .hs_file_upload input,
.row-fluid  form .hs-form-checkbox input,
.row-fluid  form .hs-form-radio input,
.row-fluid  form .hs-form-booleancheckbox input{
    height:auto;
    padding:0;
    border:0;
}

.row-fluid  form .hs-form-checkbox input,
.row-fluid  form .hs-form-radio input,
.row-fluid  form .hs-form-booleancheckbox input{
    height:auto;
    padding:0;
    border:0;
    margin-bottom:0;
}

.row-fluid form .field>label{
    font-size: 14px;
    line-height: 1;
    letter-spacing: 1px;
    font-weight: 300;
    display:block;
    margin-bottom:6px;
    margin-top:14px;
}

.row-fluid form .hs_submit .actions{
    text-align:center;
}

.row-fluid form .hs-button.primary{
    height: auto;
    margin-top: 24px;
}

form .hs-error-msgs{
    margin:0;
    padding:0;
}

form .hs-error-msgs li{
    line-height: 1;
    color: red;
    font-weight: 500;
    font-size: 11px;
    position: relative;
    top: -4px;
    letter-spacing: 0.3px;
}

.row-fluid .hs-form fieldset.form-columns-1 .hs-input {
    width: 100%;
}

body .row-fluid .hs-form fieldset {
    max-width: 100%;
}

form .hs-form-required{
    display:none;
}

.body-container-wrapper form ul,
.body-container-wrapper form li{
    margin:0;
    padding:0;
}

.body-container-wrapper form ul,
form ul{
    list-style:none;
}

.body-container-wrapper form li:before{
    display:none;
}

body form .hs-form-checkbox:last-child,
body form .hs-form-radio:last-child,
body form .hs-form-booleancheckbox{
    margin-bottom:20px;
}

body .row-fluid .hs-form fieldset.form-columns-3 .hs-form-field {
    width: 32%;
    margin-right:2%;
}

body .row-fluid .hs-form fieldset.form-columns-2 .hs-form-field {
    width: 49%;
    margin-right:2%;
}

body .row-fluid .hs-form fieldset .hs-form-field:last-child{
    margin-right:0;
}

body .row-fluid .hs-form fieldset.form-columns-2 .input,
body .row-fluid .hs-form fieldset.form-columns-3 .input {
    margin-right:0px;
}

body .container-fluid .row-fluid .hs-form fieldset .field:last-child .input{
    margin-right:0;
}

body .row-fluid select{
    background: #fff url(//cdn2.hubspot.net/hubfs/2558848/Product-3-Pack/Select%20Arrow%20Small.png) no-repeat;
    background-position: center right;
    -webkit-appearance: none;
}





/*=======================================================
            CHECKBOX AND RADIO BUTTONS STYLING
=======================================================*/            

.row-fluid .hs-form .field .input input[type="checkbox"],
.row-fluid .hs-form .field .input  input[type="radio"]{
    width:auto;
}

.row-fluid .hs-form .field .input input[type="checkbox"],
.row-fluid .hs-form .field .input  input[type="radio"]{
    padding: 0;
    border-radius: 4px;
    background: #fff;
    margin-left: 0;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    color: #cfd3d7;
    -webkit-appearance: none;
    border: 2px solid #ddd;
    margin-right: 8px;
    top: 2px;
    width: 20px;
    height: 20px;
}

.row-fluid .hs-form .field .input input[type="checkbox"]:checked:after {
    content: '';
    position: absolute;
    width: 9px;
    height: 5px;
    top: 3px;
    left: 2px;
    border: 3px solid {{ baseColor }};
    border-top: 0;
    border-right: 0;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
}


.row-fluid .hs-form .field .input  input[type="radio"]{
    border-radius: 50%;
}

.row-fluid .hs-form .field .input  input[type="radio"]:checked:after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    top: 3px;
    background: {{ baseColor }};
    left: 3px;
    border-top: 0;
    border-right: 0;
    border-radius: 50%;
}


@media (max-width:480px){


body form.hs-form .form-columns-2 .hs-form-field .hs-input,body form.hs-form .form-columns-3 .hs-form-field .hs-input{
    width:100%;
}

body .row-fluid .hs-form fieldset .input{
    margin:0;
}

body .row-fluid .hs-form fieldset.form-columns-3 .hs-form-field {
    width: 100%;
    margin-right: 0;
}

body .row-fluid .hs-form fieldset.form-columns-2 .hs-form-field {
    width: 100%;
    margin-right: 0;
}

.row-fluid form .hs_submit .actions{
    text-align:center;
}

}











/*============================ Talk To Us Section ==============================*/


.talk-to-us-99,.talk-to-us-main{
    padding:130px 0;   
}
    
body .container-fluid .row-fluid .talk-to-us-99 .section-heading{
    max-width:1060px;
    padding:0;
}

body .row-fluid .talk-to-us-99 .icon-img{
    width: 100%;
    max-width: 110px;
    margin: 20px auto 30px;
    float: none;
    border: 2px solid #fff;
    height: 110px;
    padding: 23px;
    border-radius: 50%;
}

.talk-to-us-99 h3{
    color{{bodytextcolor}};
    font-weight: 600;
    font-size: 30px;
}

.talk-to-us-99 .button a{
    color: #fff;
    border: 2px solid;
    padding: 14px 26px;
    display: inline-block;
    margin-top: 10px;
    font-weight: 600;
    letter-spacing: 1px;
    width: 100%;
    max-width: 210px;
}

.talk-to-us-99 .button a img {
    width: 25px;
    padding-right: 10px;
}


.talk-to-us-99 .button a .fa{
    font-size: 20px;
    position: relative;
    margin-right: 14px;
}

.talk-to-us-99 .divider{
    margin:50px 0 30px;
}

.contact-assets{
    padding: 30px 0px;
}

.phone-nos{
    position:relative;
    padding-left:50px;
}

.email-address{
    position:relative;
    padding-left:50px;
}

.phone-nos a,.email-address a{
    font-size: 16px;
    font-weight: 600;
}

.phone-nos:before,
.email-address:before{
    content: "\f095";
    font-family: FontAwesome;
    color: {{baseColor}};
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: block;
    background: #fff;
    line-height: 45px;
    text-align: center;
    font-size: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.55);
    position: absolute;
    left: 0px;
    top: -10px;
}

.row-fluid .email-address:before{
    content:"\f0e0";
    line-height: 40px;
}

.contact-assets{
    
}

.form-wrapped {
    max-width: 450px;
    position:relative;
}

.form-wrapped:before{
    content: "Or";
    font-weight: 600;
}

body .row-fluid .form-wrapped form .hs_submit .actions{
    text-align:left;
}
/*
body .row-fluid .form-wrapped form .hs_submit .hs-button {
    background-image:url('//cdn2.hubspot.net/hubfs/2432204/99%20Template%20Pack/Background%20Images/send-option.png');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 50px;
    padding-right: 65px;
}*/

.talk-to-us-main.overlay:before{
    background: rgba(255, 255, 255, 0.9);
}


@media (max-width:1024px){
 
.talk-to-us-99 {
    padding: 70px 0;
} 
}



@media (max-width:767px){

body .container-fluid .row-fluid .talk-to-us-99 .section-heading {
    padding: 0;
    margin-bottom: 0;
}

body .row-fluid .talk-to-us-99 .icon-img{
    margin: 20px auto 20px;
}


.talk-to-us-99 {
    padding: 50px 0;
} 

.talk-to-us-main {
    padding: 75px 0;
}

.widget-type-rich_text.phone-nos {
    margin-bottom: 40px;
}

.talk-to-us-main .wrapper>.row-fluid-wrapper>.row-fluid {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.talk-to-us-main .wrapper>.row-fluid-wrapper>.row-fluid .span5{
    order:1;
    margin-bottom:50px;
}


.talk-to-us-main .wrapper>.row-fluid-wrapper>.row-fluid .span7{
    order:2;
}

}    
















/* ==========================================================================
   Custom Menu Primary
   ========================================================================== */


{% set ulColor       = "" %} /* Set ul background color */
{% set liColor       = "" %} /* Set li background Color */
{% set aColor        = "" %} /* Set link Color */
{% set aColorHover   = "" %} /* Set link Hover Color */

/* Parent List */
.custom-menu-primary .hs-menu-wrapper > ul{ 
  background:{{ ulColor }};
}
.custom-menu-primary .hs-menu-wrapper > ul > li{
  background:{{ liColor }};
}
.custom-menu-primary .hs-menu-wrapper > ul > li > a{
  color:{{ aColor }};
}
.custom-menu-primary .hs-menu-wrapper > ul > li > a:hover{
  color:{{ aColorHover }};
}

/* Child List */
.custom-menu-primary .hs-menu-wrapper > ul ul{}
.custom-menu-primary .hs-menu-wrapper > ul ul li{
  background:{{ liColor }};
}
.custom-menu-primary .hs-menu-wrapper > ul ul li a{
  color:{{ aColor }};
}
.custom-menu-primary .hs-menu-wrapper > ul ul li a:hover{
  color:{{ aColorHover }};
}

/* Override max width on menu links */
.custom-menu-primary .hs-menu-wrapper > ul li a, 
.hs-menu-wrapper.hs-menu-flow-horizontal > ul li.hs-item-has-children ul.hs-menu-children-wrapper li a {
  overflow: visible !important;
  max-width: none !important;
  width: auto !important;
}

/* Fix menu disappearing on desktop after toggling mobile menu */
@media screen and (min-width:768px) {
      .custom-menu-primary .hs-menu-wrapper { 
          display:block !important;
      }
  }




/* ==========================================================================
   Mobile Menu - Hubspot Standard Toggle Menu
   ========================================================================== */


/**
 * Special Note
 *
 * When the menu is open, a class of .mobile-open is applied to the body. You can 
 * use this for custom styling on any element when the menu is in the open position.                     
 */

.mobile-trigger, .child-trigger{
    display: none; /* Hide button on Desktop */
}

@media (max-width: 767px){


  /* Variables
     ========================================================================== */

  {% set menuColorMobile = "#ffffff" %}   /* Set Mobile Menu Background Color */
  {% set aColorMobile = "#000000" %}      /* Set Link Color */
  {% set aColorHoverMobile = "#000000" %} /* Set Link Hover Color */

  /* 
    * Menu Reset
    *
    * Remove styling from desktop version of custom-menu-primary. Place any 
    * additional CSS you want removed from the mobile menu in this reset 
    */

  .custom-menu-primary,
  .custom-menu-primary .hs-menu-wrapper > ul,
  .custom-menu-primary .hs-menu-wrapper > ul li,
  .custom-menu-primary .hs-menu-wrapper > ul li a{
    display: block;
    float: none;
    position: static;
    top: auto;
    right: auto;
    left: auto;
    bottom: auto;
    padding: 0px;
    margin: 0px;
    background-image: none;
    background-color: transparent;
    border: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow:    none;
    box-shadow:         none; 
    max-width: none;
    width: 100%;
    height: auto;
    line-height: 1;  
    font-weight: normal;
    text-decoration: none;
    text-indent: 0px;
    text-align: left;
    color:{{aColorMobile}};
  }


  /* Toggle Button
     ========================================================================== */

  .mobile-trigger{
    display: inline-block !important; /* Show button on mobile */
    cursor: pointer; /* Mouse pointer type on hover */
    position: absolute; /*******************************************/
    top: 0px;          /* Position Button at right of screen  */
    right: 10px;        /*******************************************/
    width: auto; /* Button width */
    height: auto; /* Button height */      
    padding: 7px 10px 8px 10px;
    background: #ffffff; /* Background color */
    border: 1px solid {{ menuColorMobile }};
    font-size: 16px;
    font-weight: normal;
    text-align: left;
    text-transform: uppercase;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: {{ menuColorMobile }}; 
  }
  .mobile-trigger:hover{
    text-decoration: none; /* Removes link text underline on button */
    color:{{ aColorHoverMobile }};
    background-color: {{ menuColorMobile }}; 
    border-color: transparent;
  }

  /* Change button when menu is open */
  .mobile-open .mobile-trigger{
    color:{{ aColorHoverMobile }};
    background-color: {{ menuColorMobile }}; 
    border-color: transparent;
  }


  /* Toggle Button Icon
     ========================================================================== */

  .mobile-trigger i{
    display: inline;
    position: relative;
    top: -4px;
  }
  .mobile-trigger i:before, .mobile-trigger i:after{
    position: absolute;
    content: '';
  }
  .mobile-trigger i, .mobile-trigger i:before, .mobile-trigger i:after{
    width: 22px; /* Icon line width */
    height: 2px; /* Icon line height */
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    background-color: {{ menuColorMobile }}; /* Icon color */
    display: inline-block;
  }
  .mobile-trigger i:before{
    top: -6px; /* Position top line */
  }
  .mobile-trigger i:after{
    top: 6px; /* Position bottom line */
  }
  
  .mobile-trigger:hover i, .mobile-trigger:hover i:before, .mobile-trigger:hover i:after,  
  .mobile-open .mobile-trigger i, .mobile-open .mobile-trigger i:before, .mobile-open .mobile-trigger i:after{
      background-color: {{ aColorHoverMobile }}; /* Icon color */
  }


  /* Child Toggle Button
     ========================================================================== */

  .child-trigger{
    display: block !important; /* Hide button on Desktop */
    cursor: pointer; /* Mouse pointer type on hover */
    position: absolute;
    top: 0px;
    right: 0px;
    width: 55px !important; /* Button width */
    min-width: 55px !important;
    height: 45px !important; /* Button height */  
    padding: 0 !important;
    border-left: 1px dotted rgba(255, 255, 255, .20);
  }
  .child-trigger:hover{
    text-decoration: none;
  }
  .child-trigger i{
    position: relative;
    top: 50%; /* Centers icon inside button */
    margin: 0 auto !important;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  .child-trigger i:after{
    position: absolute;
    content: '';
  }
  .child-trigger i, .child-trigger i:after{
    width: 10px; /* Icon line width */
    height: 1px; /* Icon line height */
    background-color:{{ aColorMobile }}; /* Icon color */
    display: block;

  }
  .child-trigger i:after{
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  .child-trigger.child-open i:after{
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }
  .child-trigger.child-open i{
  }

    
  /* Menu Styles on Mobile Devices
     ========================================================================== */  
     
   .custom-menu-primary.js-enabled{
       position: relative;
       padding-top: 44px; /* Makes room for button */
       margin: 10px 0 10px 0;
   }

  /* Hide menu on mobile */
  .custom-menu-primary.js-enabled .hs-menu-wrapper,
  .custom-menu-primary.js-enabled .hs-menu-children-wrapper{
    display: none;
  }  

  /* Make child lists appear below parent items */
  .custom-menu-primary ul.hs-menu-children-wrapper{
    visibility: visible !important;
    opacity: 1 !important;
    position: static !important;
    display: none;
  }

  /* Mobile Menu Styles */ 
  .custom-menu-primary.js-enabled .hs-menu-wrapper{
    width: 100%;
    position: relative; /**************************************************************/
    top: 0;             /* Positions the menu to drop from the very top of the screen */
    left: 0;          /**************************************************************/
    padding: 0;
  }
  .custom-menu-primary .hs-menu-wrapper{
    background-color:{{ menuColorMobile }}; /* Menu background color set off global menuColorMobile variable */
    width: 100%; /* Full screen width */
  }

   /* Level 1 Menu List Styles */
  .custom-menu-primary .hs-menu-wrapper > ul > li{
    position: relative;
  }
  .custom-menu-primary .hs-menu-wrapper > ul > li a{
    font-size: 22px; /* Font size of top level list items */
    line-height: 45px;
    overflow: visible;
  }

  /* Level 1 and Higher Menu List Styles */
  .custom-menu-primary .hs-menu-wrapper > ul li{
    border-top: 1px dotted rgba(255, 255, 255, .35); /* Adds transparent dark highlights to top of top level list items */
  }
  .custom-menu-primary .hs-menu-wrapper >  ul li a{
    padding: 0 10px;
    color:{{ aColorMobile }}; /* link color set by global mobile-aColor variable */
  }
  .custom-menu-primary .hs-menu-wrapper > ul li a:hover{
    color:{{ aColorHoverMobile }}; /* link hover color set by global mobile-aColorHover variable */
  }

  /* Level 2 and Higher Menu List Styles */
  .custom-menu-primary .hs-menu-wrapper > ul ul li{
    background-color: rgba(255, 255, 255, .08);
  }
  .custom-menu-primary .hs-menu-wrapper > ul ul li a{
    text-indent: 10px; /* Indent Child lists */
    font-size: 16px; /* Font size of child lists */
  }

  /* Level 3 and Higher Menu List Styles */
  .custom-menu-primary .hs-menu-wrapper > ul ul ul li a{
    text-indent: 30px; /* Indent Child lists */
  }
  .custom-menu-primary .hs-menu-wrapper > ul ul ul ul li a{
    text-indent: 50px; /* Indent Child lists */
  }
}









/*============================================================
            HEADER Mobile Responsive
===========================================================*/

@media (max-width:767px){

.custom-menu-primary .hs-menu-wrapper{    
    display:none;
}

.mobile-trigger {
    border: 0;
    top: 0;
    right: 14px;    
    background:transparent;
}

.mobile-trigger i, .mobile-trigger i:before, .mobile-trigger i:after {
    width:30px;
    background:#ffffff;
    height:4px;
}

.mobile-trigger i:before {
    top: -8px;
}

.mobile-trigger i:after {
    top: 8px;
}

.mobile-trigger {
    top: 10px;
    right: 8px;
}

.mobile-open .mobile-trigger ,
.mobile-trigger {
    background-color: transparent;
    z-index:15;
}

.mobile-trigger:hover {
    background-color: rgba(0, 0, 0, 0);
    border-color: transparent;
}

.mobile-trigger:hover i, .mobile-trigger:hover i:before, 
.mobile-trigger:hover i:after, .mobile-open .mobile-trigger i,
.mobile-open .mobile-trigger i:before, .mobile-open .mobile-trigger i:after {
    background-color: #ffffff;
}

.mobile-trigger i{
    transition: all .5s ease-in;
}

.mobile-open .mobile-trigger i{
    background:transparent;
    transition: all .1s ease-in;
}

.mobile-trigger i:before,
.mobile-trigger i:after{
    transition: all .3s ease-in;
}

.mobile-open .mobile-trigger i:before {
    top: 0;
    transform: rotate(45deg);
    background:#ffffff;
}

.mobile-open .mobile-trigger i:after{
    top: 0;
    transform: rotate(-45deg);
    background:#ffffff;
}

.custom-menu-primary.js-enabled{
    position: absolute;
    padding-top: 0;
    margin: 10px 0 10px 0;
    left: 0;
    right: 0;
    top: 0;
    margin:0;
}

body .header-container-wrapper .pth-header .logo{
    max-width:190px;
    float:left;
    margin-top:0;
    margin-left:20px;
}

.custom-menu-primary .hs-menu-wrapper>ul li {
    border-top: 0px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.24);
}

.child-trigger i, .child-trigger i:after {
    background-color: #000;
}

.custom-menu-primary.js-enabled .hs-menu-wrapper{
    margin: 0;
    //z-index: 1;
    box-shadow: 0px 0px 1px #1d1d1d;
    padding: 10px 6px 10px 20px;
    //z-index: 999;
    top:49px;
    box-sizing: border-box;
}

body .header-container-wrapper .pth-header ul>li{
    border:0;
    background:transparent;
}

.custom-menu-primary .hs-menu-wrapper>ul>li a {
    font-size: 14px;
    padding:0;
    color:#000;
    font-weight: 500;
}

.custom-menu-primary .hs-menu-wrapper>ul>li a:hover{
    color:#000;
}

body .row-fluid .custom-menu-primary .hs-menu-wrapper>ul ul li a {
    font-size: 14px;
    text-indent:0;
}

.child-trigger {
    border-left: 0;
}

body .row-fluid .pth-header .custom-menu-primary .hs-menu-wrapper>ul li.hs-menu-depth-1 .hs-menu-children-wrapper {
    padding: 0 0 0 15px;
    position: relative !important;
    left: 0 !important;
}

.pth-header .custom-menu-primary .hs-menu-wrapper>ul li.hs-menu-depth-1 .hs-menu-children-wrapper:before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 12px;
    top: 10px;
    width: 1px;
    background: rgba(0, 0, 0, 0.33);
}

.pth-header .head-cta a.cta_button{
    display:none;
}

body .row-fluid .pth-header .contact-info {
    display:none;
}

body .row-fluid .pth-header .header-logo {
    width: 160px;
    float: left;   
    text-align:left;
}

.pth-header {
    padding:12px 0;
}

}

/****************** END Header Mobile Responsive *******************/
















/*========================================  
        Footer Styling
========================================*/          

HUBSPOTSUPPORT
.footer-group{
  padding: 80px 0 40px;
  background-color:#249941;
}
.footer-group h2{
  font-size: 25px; 
}

.pth-footer{
    padding:80px 0 40px;
    background:#249941;
}

.pth-footer .social-icons{
    padding-top:25px;
}

.pth-footer .heading{
    margin-bottom:15px;
}

.pth-footer .hs-menu-wrapper.hs-menu-flow-vertical > ul li a{
    padding: 4px 0;
    font-weight: 400;
    letter-spacing: 1px;
    font-size:16px;
}

.pth-footer .contact-us .cta_button{
    padding-left:0;
    padding-right:0;
    width:100%;
}

.pth-footer .contact-us p{
    color:{{bodytextcolor}};
    font-weight:400;
}

.pth-footer .menu-group h5{
    font-weight:600;
}


.pth-footer .bottom-footer{
    margin-top:60px;
    padding-top:40px;
    position:relative;
    border-top: 1px solid #e1e2e2;
}


.pth-footer .bottom-footer:before{
    position:absolute;
    content:'';
    top:0;
    left:15px;
    right:15px;
    border-top:1px solid rgba(255,255,255,0.2);
}


.pth-footer .footer-logo{
    margin-bottom:30px;
}

.pth-footer .footer-logo img{
    width:100%;
    max-width:200px;
}

.pth-footer .copyright{
    color:#333333;
}

.pth-footer .social-icons a{
    margin:0 8px;
    font-size:18px;
}

.pth-footer .social-icons a:first-child{
    margin-left:0px;
}

.pth-footer  .bottom-menu .hs-menu-wrapper.hs-menu-flow-horizontal > ul li a{
    font-weight: 400;
    letter-spacing: 1px;
    padding: 0 0 0 22px;
}

@media (min-width:768px) and (max-width:1024px){
    
body .container-fluid .row-fluid .pth-footer .menu-group{
    width:100%;
    margin:0;
}     

body .container-fluid .row-fluid .pth-footer .right-col{
    width:100%;
    margin:0;
}

.pth-footer .social-icons a {
    margin: 0 6px;
    font-size: 16px;
}

.pth-footer .bottom-menu .hs-menu-wrapper.hs-menu-flow-horizontal>ul li a {
    font-size: 12px;
}

.pth-footer .copyright {
    font-size: 12px;
}

.pth-footer .social-icons{
    padding-bottom: 25px;
}

}




@media (max-width:767px){
    
.pth-footer .social-icons{
    margin:20px 0;
}    

.pth-footer .bottom-menu .hs-menu-wrapper.hs-menu-flow-horizontal > ul{
    text-align:center;
}

.pth-footer .bottom-menu .hs-menu-wrapper.hs-menu-flow-horizontal > ul li{
    float: none;
    width: auto;
    display: inline-block;
}

.pth-footer .bottom-menu .hs-menu-wrapper.hs-menu-flow-horizontal > ul li a {
    padding: 0 8px;
    width:auto;
    max-width:none;
}

}


























/***************************Hero Style************************************/

.news-blog-banner{
    padding:150px 0px 100px;
}

.overlay.news-blog-banner:before {
    background: rgba(0, 0, 0, 0.40);
}



/*Toggle*/

.subnav{
    width: 100%;
    background: #eaeaea;
    border-bottom: 1px solid #d7d5d5;
    z-index: 10;
    text-align: center;
    padding: 25px 0px 25px;
}

.subnav h2{
    display: inline-block;
    margin: 0px;
    font-size: 25px;
    text-transform: initial;
    font-weight: 600;
}


.click-me.styleno1 {
    padding: 0px 0px 0px;
    text-align: center;
    font-size: 16px;
    line-height: 16px;
    font-weight: 600;
    text-transform: initial;
    vertical-align: middle;
    cursor: pointer;
}


.click-me{
    text-align:left;
    padding: 25px 0 25px;
    padding: 10px 20px;
   
}

.close-button img{
    width:40px;
}

.click-me .fa{
    cursor: pointer;
    font-size: 35px;
    color: {{baseColor}};
    display: inline-block;
    position:relative;
    top: 5px;
}

.blog-sec-body{
    padding-top:55px;
}

@media(min-width:768px){
.news-post-topic{
    border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.blog-sub-form{
    border-right: 1px solid rgba(255,255,255,0.5);
    padding-right: 30px;
}
}

@media(max-width:767px){
    
    .click-me.styleno1{
        font-size:14px;
    }
    
}

/* ==========================================================================
 
                                Blog-Style                            
 
   ========================================================================== */
   

/**/


.overlay{
    position:relative;
    z-index:1;
}

.overlay:before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(23,23,23,1);
    background: -moz-linear-gradient(45deg, rgba(23,23,23,1) 0%, rgba(109,0,25,0) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(23,23,23,1)), color-stop(100%, rgba(109,0,25,0)));
    background: -webkit-linear-gradient(45deg, rgba(23,23,23,1) 0%, rgba(109,0,25,0) 100%);
    background: -o-linear-gradient(45deg, rgba(23,23,23,1) 0%, rgba(109,0,25,0) 100%);
    background: -ms-linear-gradient(45deg, rgba(23,23,23,1) 0%, rgba(109,0,25,0) 100%);
    background: linear-gradient(45deg, rgba(23,23,23,1) 0%, rgba(109,0,25,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#171717', endColorstr='#6d0019', GradientType=1 );
    z-index: -1;
}


.align-center {
    text-align:center;
}


.all-text-white,
.all-text-white h1,
.all-text-white h2,
.all-text-white h3,
.all-text-white p,
.all-text-white h4,
.all-text-white h5,
.all-text-white h6,
.all-text-white li,
.all-text-white .fa,
.all-text-white a{
    color:#fff;
}


 .section-padding {
    padding: 100px 0;
}


   
   
.hs-featured-image {
   float:none;
   margin:0px 0px 0px 0px;
   max-width:100%;
   padding-right:0px;
   height:240px;
   width: 100%;
   display: block;
   background-size: cover!important;
   background-position: center center!important;
   position:relative;
}

.hs-featured-image:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    //background-image: linear-gradient(to bottom,rgba(0,0,0,0.2),rgba(0, 0, 0, 0.6));
}

.news-post-header{
    position:relative;
    padding-bottom:7px;
}

.news-post-item h2{
    margin-top:5px;
    margin-bottom:0px;
    padding-bottom:0px;
    display: inline-block;
   
}

.news-post-item h2 a{
    line-height: 1.5;
    display: -webkit-box;
    font-size:18px;
    font-weight:600;
    color: #2d3e50;
}

.news-post-item h2 a:hover,
.row-fluid .news-post-listing .news-post-item:hover h2 a{
    color:{{baseColor}};
}


.news-pubdate {
    width: 100%;
    height: 40px;
    border-radius: 0px;
    background-color: rgba(0, 0, 0, 0.67);
    box-shadow: 0px 0px 9px 0 rgba(0, 0, 0, 0.31);
    padding-top: 10px;
    position: absolute;
    top: -40px;
    z-index: 10;
    text-align: left;
    left: 0px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    box-sizing: border-box;
}

span.day {
    font-size: 18px;
    display: inline-block;
    line-height: 1;
    font-weight: bold;
    color: #ffffff;
}

span.month,span.year {
    font-size: 12px;
    line-height: 1;
    color: #ffffff;
    font-weight: 600;
    text-transform: uppercase;
}

@media(min-width:768px){

.news-post-listing{
    display: block;
    margin: 0 -25px 0 0;
    padding: 0;
    //overflow: hidden;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -moz-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: start;
    -moz-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}



.row-fluid .news-post-listing .news-post-item {
    border: solid 1px #e4e4e3;
    float: left;
    width: 30.833%;
    display: block;
    box-sizing: border-box;
    margin: 0 2.5% 25px 0;
    list-style: none;
    padding-bottom: 0;
    display: block;
    box-sizing: border-box;
    align-self: stretch;
    transition: all ease-in-out .4s;
    background: #fff;
    border-radius: 5px 5px 5px 5px;
    position:relative;
   
}

}


.row-fluid .news-post-item {
    border: solid 1px #e4e4e3;
    float: left;
    width:100%;
    display: block;
    box-sizing: border-box;
    margin: 0 0px 25px 0;
    box-sizing: border-box;
    transition: all ease-in-out .4s;
    background: #fff;
    border-radius: 5px 5px 5px 5px;
    position:relative;
   
}

.hs-featured-image{
     transition: all 5s cubic-bezier(0.5,0.51,1,1);
    -webkit-transition: all 10s cubic-bezier(0.5,0.51,1,1);
}
    
.news-post-item:hover .hs-featured-image{
    transform: scale(1.3);
    
}   

.row-fluid .news-post-listing .news-post-item:hover{
    border-color:{{baseColor}};
    box-shadow: 0px 2px 11px 0px rgba(0, 0, 0, 0.26);
    
}

.news-post-body {
    padding: 25px 15px 50px;
    position: relative;
}

.news-post-item .bottom-part{
    display:inline-block;
    width: 100%;
    padding: 20px 0 10px;
    border-top: 1px solid #e4e4e3;
    margin-top:10px;
}

.news-post-item .hs-author-avatar{
    display: block;
    max-width:40px;
    float: left;
}

.author-module {
    position: absolute;
    bottom: 25px;
    padding: 20px 15px;
    width: 100%;
    box-sizing: border-box;
}

.author-module a.author-link, .author-module {
    font-size: 14px;
    font-weight: 600;
    color: #4e4e4e;
    line-height: 1.4;
    display: inline-block;
    max-height: 28px;
    transition: color .15s;
}
    
.authorname {
    position: relative;
    top: 5px;
    font-size: 10px;
    color: #fff;
    font-weight: 600;
    padding-left: 15px;
    letter-spacing: .75px;
    text-transform: uppercase;
}


.author-box{
    position: absolute;
    bottom: 0px;
}

.social-shares{
    overflow: hidden;
    display: block;
    text-align: center;
}

.social-shares .fa{
    font-size: 20px;
    padding: 0px 8px;
    border-radius: 50%;
    height: 20px;
    display: inline-block;
    
}

.social-shares .fa:hover{color:{{baseColor}};}

.s-title{
    display: block;
    font-size: 11px;
    font-weight:700;
    padding-bottom: 7px;
    text-transform: uppercase;
   
}
    
.news-post-item .hs-author-avatar img{
    border-radius:50%;
} 

.hs-featured-image-wrapper{
    position:relative;
    overflow: hidden;
    border-radius: 5px 5px 0px 0px;
}

.hs-featured-image-wrapper .topic-list a:first-child + a{
    display: inline-block;
    color: #f2f2f2;
    border: 1px solid #f2f2f2;
    padding: 7px 10px;
    font-size: 12px;
    text-transform: uppercase;
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: 600;
   
}

.hs-featured-image-wrapper .topic-link{display:none;}

.news-post-body p{
    margin-top: 0px;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 300;
    
}

.news-post-topic  ul{
  list-style:none;
  padding:0px;
  margin:0px;
}

.news-post-topic  ul li{
    display: inline-block;
    margin-bottom: 5px;
    margin-right: 2px;
    margin-left: 0px;
}

.news-post-topic  ul li a{
  font-weight: 400;
  color:#fff;
  letter-spacing:.5px;
  font-size:12px;
  border: 1px solid #ffffff;
  padding:7px 20px;
  display: block;
  text-transform:uppercase;
 
}

.recents-news-post ul{
  list-style:none;
  padding:0px;
  margin:0px;
}

.recents-news-post ul li{position:relative;padding-left:25px}

.recents-news-post ul li:before{
    content: "\f00c";
    position: absolute;
    left:0px;
    top:0px;
    font-family: "FontAwesome";
    width:18px;
    height:18px;
    color: {{baseColor}};
    font-size: 15px;
    
}

.recents-news-post ul li a{
    color:#ffffff;
    
    font-size:15px;
    
}

.top-section-blog{
    margin-top: 100px;
    //background:url("http://cdn2.hubspot.net/hubfs/459002/brickwall.png") repeat;
    //padding-bottom: 20px;
    //transform: translate(0,0);
    //transition: transform .4s ease-in,opacity .3s ease-in;
}

.top-section-blog::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

.top-section-blog h3{
    font-size: 24px;
    margin-top: 0px;
    color:#fff;
    font-weight: 400;
    text-align:left;
    
}


.top-section-blog form input[type="email"]{
    height:50px;
    padding-left:15px;
    margin-bottom:20px;
    font-size:15px;
    border:1px solid #e7e7e7;
}

.top-section-blog form input[type="email"]:focus{
    outline:none;
}

.top-section-blog form label{display:none;}

.top-section-blog form ul.hs-error-msgs.inputs-list{
    margin:0px;
    border:2px solid {{baseColor}};
    list-style-type:none;
    width:100%;
    position: absolute;
    top: 49px;
}

.top-section-blog .hs_email.field.hs-form-field{position:relative;overflow:hidden;}

.top-section-blog form input[type="submit"]{
    border: none;
    padding: 10px 20px;
    text-align: center;
    display: block;
    width: 100%;
    font-weight: bold;
    background:#000;
    color: #fff;
    cursor: pointer;
    height:50px;
    -webkit-appearance:none;
    font-size: 16px;
    text-transform: uppercase;}
    
  
    
/* Placeholder Text */
::-webkit-input-placeholder { /* Webkit Browsers */
   color: #555;
   opacity: 1;
   font-size:15px;
   font-style:italic;
   }
:-moz-placeholder { /* Firefox 18- */
   color: #555;
   opacity: 1;
   font-size:15px;
   font-style:italic;
}
::-moz-placeholder { /* Firefox 19+ */
   color: #555;
   opacity: 1;
   font-size:15px;
   font-style:italic;
}
:-ms-input-placeholder { /* IE10 */
   color: #555;
   opacity: 1;
   font-size:15px;
   font-style:italic;

}


/*Blog news-post page Fadding Effects*/

body.hs-blog-post .body-container-wrapper {
animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}



.section.news-post-header h2,.section.news-post-header h2 a{
    font-size:40px;
    line-height:50px;
    font-weight:400;
  
    text-align:center;
    margin-top:0px;
   
}


.hot-post-header.have-featured-image {
    background-size: cover;
    background-position: center;
    padding:150px 0px;
    display: flex;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    text-align:center;
    position:relative;
    z-index:1;
}

.hot-post-header:before{
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    //background: linear-gradient(45deg,rgba(0, 143, 250, 0.78),rgba(19, 98, 155, 0.9));
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index:-1;
}

span.blog-listing-item-container {
    display: block;
    max-width: 770px;
    margin: 0 auto;
}

h1.blog-post-title {
    margin: 0px;
}
    
    
.hs-blog-post .widget-span.widget-type-cell.blog-content{
    margin:0 auto;
    float:none;
    max-width:840px;
    padding:0px 20px;
    position: relative;
    z-index: 1;
}   

.hs-blog-post .section.news-post-body{padding-top:50px;}

.hs-blog-post .section.news-post-body p,
.hs-blog-post .section.news-post-body{
    font-size:18px;
    line-height:30px;
   }
    
.hs-blog-post .section.news-post-body h3,
.hs-blog-post .section.news-post-body h2{
    font-size:34px;
    line-height:40px;
    text-align:left;
    font-weight:400;
    }   
    
.hs-blog-post .section.news-post-body ul{
  list-style:none;
  padding:0px;
  margin: 25px 0px;
}

.hs-blog-post .section.news-post-body ul li{
  position:relative;
  padding-left:25px;
  padding-bottom:5px;
  margin-left:0px;
}

.hs-blog-post .section.news-post-body ul li:before{
    content:"\f00c";
    position:absolute;
    left:0px;
    top:0px;
    font-family: "FontAwesome";
    width:18px;
    height:18px;
    font-size: 15px;
    
}
   


.hs-blog-post .section.news-post-body img{//display:none;
    margin-top:20px;
    margin-bottom:20px;
}

.hs-blog-post #blog-sec-body{
    padding:75px 0px;
    position:relative;
    
    }
    
.news-post-share{
   position: relative;
    top: -27px;
    left: 10px;
}

  .news-post-share ul{
list-style:none;
  padding:0px;
  margin:0px;}
 
  .news-post-share li{
    display:block;
    width:40px;
    height:40px;
    text-align: center;
    vertical-align: middle;
    margin-left:0px;
}

.news-post-share li a {
    color: #2d3e50;
}

.news-post-share li a:hover,.news-post-share li:hover .fa{color:{{baseColor}};}

.news-post-share li .fa{
    font-size:24px;
    
    vertical-align: middle;}


.news-post-share {
    position: absolute;
    top: 30px;
    left: -60px;
    float: left;
    height: 100%;
}


/*Author-Style*/


.author-post-details{
    overflow:hidden;
}

span.author-avatar {
    width: 65px;
    height: 65px;
    display: block;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    border-radius: 100%;
    margin-left:30px;
    float: left;
    border: 3px solid {{baseColor}};
}

span.authorname-details {
    padding-top:18px;
    display: block;
    margin-left: 20px;
    float: left;
    font-size: 14px;
}

a.topic-link {
    font-size: 12px;
    font-weight: 700;
    color: #b1b1b1;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Montserrat',Sans-Serif;
    letter-spacing: 1px;
}

span.min-read {
    font-size: 12px;
    font-weight: 700;
    color: #b1b1b1;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Montserrat',Sans-Serif;
    letter-spacing: 1px;
}


.for-topic-text{
    color:#03799a;
    font-size:16px;
}

.more-link{
  float: none;
  text-align: center;
  padding: 8px 0px;
  display: inline-block;
  background: {{baseColor}};
  color: #fff;
  font-weight: 600;
  margin: 20px auto 0px;
  width: 100%;
  max-width: 100%;
  font-size: 16px;
  
}

.news-post-date{
    font-size: 12px;
    color: #fff;
    z-index: 1;
    position: relative;
    font-weight: 700;
    background-color:{{baseColor}};
    padding: 10px 10px;
    display: inline-block;
    
    text-transform: uppercase;
    
}

.news-post-date .fa{font-size:15px;}




/*Recent news-posts*/

.hs-rss-item.hs-with-featured-image .hs-rss-item-text {
width: 70%;
padding-right:10px;
line-height: 20px;
font-size: 12px;
}

.popular ul li a:hover,.hs-rss-item-text a:hover{color: #8cc647;}

.hs-rss-item.hs-with-featured-image .hs-rss-item-image-wrapper {width: 30%;}

.hs-rss-byline{opacity: 1;font-size: 10px;color: #03799a;text-transform: capitalize;font-weight:bold;}

.popular ul{list-style:none;padding-left:0px;}

.popular ul li{line-height: 20px;
padding-bottom: 10px;
position: relative;
padding-left: 30px;}

.popular ul li:before,.popular ul li:before {
content: "\f00c";
position: absolute;
left: 5px;
top: 2px;
font-family: "FontAwesome";
width: 16px;
height: 16px;
color: #8cc647;
}


.popular ul li a{font-size:14px;}

/**/


.blog-subscription{background: #f2f3f4;padding: 10px;border-top:3px solid #8cc647;padding-bottom:30px;}

.blog-subscription label,.blog-subscription .hs-form-required{display:none;}

.blog-subscription input[type="email"]{text-align: left!important;
min-height: 36px;
border: 1px solid #ccc;}

.blog-subscription .hs-button{border: none;
padding: 10px 20px;
text-align: center;
display: block;
width: 100%;
margin-top: 5px;
font-weight: bold;
background: #;
background: #34495e;
color: #fff;
cursor:pointer;}

.hs-button:hover{background:#0F2030;}


#comment-form{
  padding-top:15px;
  padding-bottom:0px;
  padding-left: 15px;
  padding-right: 15px;
 }
 
#comment-form .hs-form-field {
    position: relative;
} 

#comment-form ul.hs-error-msgs.inputs-list {
    list-style: none;
    padding: 0;
    margin:0px;
}

#comment-form ul.hs-error-msgs.inputs-list label {
    font-size: 13px;
    color: red;
    font-weight: 600;
    letter-spacing: .25px;
}

#comment-form input[type="email"],
#comment-form input[type="text"]{
    text-align: left!important;
    min-height:50px;
    border:1px solid #ccc;
    border-radius:0px;
    font-size:16px;
    width:100%;
    margin-bottom:20px;
    padding-left:16px;
    box-sizing: border-box;
    max-width: 100%;
    box-shadow: none;
 }
 

#comment-form .hs-form fieldset{max-width:100%;} 

#comment-form textarea{
    padding-top:15px;    
    padding-left:16px;
    border-radius:0px;
    text-align: left!important;
    min-height:120px;
    border: 1px solid #ccc;
    width:100%;
    font-size:16px;
    box-sizing: border-box;
    max-width: 100%;
    box-shadow: none;
 }

#comment-form .hs-form-booleancheckbox input{min-height:10px;}

#comment-form .hs-button{
    border: none;
    cursor: pointer;
    float: none;
    text-align: center;
    padding: 16px 0;
    display: inline-block;
    background: {{baseColor}};
    color: #fff;
    font-weight: 600;
    margin:0px auto 0;
    width: 100%;
    max-width: 100%;
    font-size: 16px;
    -webkit-appearance: none;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
     transition: all .4s ease-in-out;
}




#hubspot-topic_data{
    border-top: 1px solid #e1e3e4;
    border-bottom: 1px solid #e1e3e4;
    padding: 10px 0;}


/*Pagination-Style*/


.previous-news-posts-link {
    font-size: 30px;
    
    padding: 10px 20px;
    color: #fff;
    font-weight: 600;
    position: fixed;
    left:0px;
    top: 65%;
    -webkit-appearance: none;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.next-news-posts-link {
    font-size: 30px;
    background:{{baseColor}};
    padding: 10px 20px;
    color: #fff;
    font-weight: 600;
    position: fixed;
    right: 0px;
    top: 65%;
    -webkit-appearance: none;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    
}




.news-post-pagination{}

.prev-news-post a {
    position:fixed;
    font-weight: 700;
    left: 0;
    top:65%;
    color: #ffffff;
    background-color:{{baseColor}};
    padding: 15px 20px 10px;
    font-size: 12px;
    vertical-align: middle;
    -webkit-appearance: none;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    

}



.prev-news-post .fa{
  padding-right: 7px;
  font-size: 40px;
  padding-top: 0;
  position: relative;
  top: -4px;
  vertical-align: middle;
}

.next-news-post a{
  position:fixed; 
  font-weight: 700;
  right:0px;
  top:65%;
  color: #ffffff;
  background-color:{{baseColor}};
  padding: 15px 20px 10px;
  font-size: 12px;
  vertical-align: middle;
  -webkit-appearance: none;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  
}

.next-news-post .fa{
  padding-left:7px;
  font-size: 40px;
  padding-top: 0;
  position: relative;
  top: -4px;
  vertical-align: middle;
}


.news-post-by-date{
  padding: 20px 0px;
  font-size: 14px;
  
  text-align: center;
  margin-top: 0;
  
  font-weight: 700;
  text-transform: uppercase; 
  letter-spacing: 1px;
 }

.news-post-by-date .fa{
    color:{{baseColor}};
    font-size:20px;
}

.hs-author-avatar{
    text-align:center;
}

.hs-blog-post .hs-author-avatar img{
    border-radius:50%;
    border:4px solid #cccccc;
}

.hs-blog-post .hs-author-avatar a{
    display: inline-block;
}

body.hs-blog-post .blog-author-section{
    display:none;
}

body.hs-blog-listing .blog-author-section{
    display:none;
}

body.hs-blog-listing.author-body .blog-author-section{
    display:block;
    background-color:#040f10;
    padding:75px 0px;

}
    
body.hs-blog-listing.author-body .news-post-item .bottom-part,
body.hs-blog-listing.author-body .news-post-body{
}    

body.hs-blog-listing.author-body .hs-author-profile{text-align:center;}

body.hs-blog-listing.author-body .hs-author-avatar img{
    max-width:100px;
    border-radius:50%;
}

body.hs-blog-listing.author-body h2.hs-author-name{
    font-size:25px;
    color:#ffffff;
    
    }
    
body.hs-blog-listing.author-body .hs-author-social-links{padding-bottom:15px;}    

body.hs-blog-listing.author-body .hs-author-bio{
    max-width:770px;
    margin:0 auto;
    float:none;
    color:#ffffff;
    font-size:16px;
    line-height:25px;
    
}


body.hs-blog-listing.author-body .hs-author-social-links a.hs-author-social-link{
    background-image:none;
    width: 30px;
    height: 30px;
    border-width: 0;
    border: 0;
    line-height: 24px;
    background-size: 24px 24px;
    background-repeat: no-repeat;
    display: inline-block;
    text-indent: 0px;
    font-size: 20px;
    color: #ffffff;}
    
body.hs-blog-listing.author-body .hs-author-social-links a.hs-author-social-link:hover{color:{{baseColor}};}    


/* ==========================================================================
   Responsive-Style
   ========================================================================== */
   
   
   
   
  @media(max-width:1024px) and (min-width:768px){
      
    .news-post-item ,.news-post-listing-simple{width:50%} 
    
    .next-news-post a,.prev-news-post a,.next-news-posts-link,.previous-news-posts-link{font-size:0px;z-index:3;}
    

}


@media(max-width:767px){
     
body .header-container-wrapper .hs-menu-wrapper{
    display:none;
}

.row-fluid .news-post-share{
    display:none;
}

.recents-news-post ul li {
    padding-bottom:10px;
}

.news-post-item ,
.news-post-listing-simple{
    width:100%;
    padding-right:0px;
    margin:0px;
}

.news-post-item .hs-author-avatar{
    max-width:35px;
}

.authorname{
    font-size:11px;
    top:8px;
}

.span3.pop-news-post-image {
    float: left;
    width: 50px;
    margin-right: 15px;
}

.span9.pop-news-post-title {
    float: left;
    width: 70%;
}

.span9.pop-news-post-title a {
    font-size: 14px;
}


.news-post-listing{
    margin:0px;
}

.section.news-post-body{
    padding:0px;
}

.row-fluid blockquote{
  padding-left:15px; 
  margin: 30px 0;
}

.widget-type-blog_subscribe,
.recents-news-post{padding-top:40px;}

.section.news-post-header h2, .section.news-post-header h2 a {
font-size: 30px;
line-height: 40px;}

.next-news-post a,.prev-news-post a,.next-news-posts-link,.previous-news-posts-link{font-size:0px;z-index:3;padding: 10px 10px 5px;}

.next-news-post a .fa,.prev-news-post a .fa,.next-news-posts-link .fa,.previous-news-posts-link.fa{font-size:16px;top: -3px;}

#comment-form {
padding-top:0px;
padding-bottom: 0;
padding-left:0px;
padding-right:0px;
}

.hs-blog-post #comment-form div.input{margin-right:0px;}

.hs-blog-post .section.news-post-body h3, .hs-blog-post .section.news-post-body h2{
    font-size:24px;
    line-height:32px;
    
}



.span3.pop-news-post-image{
    width: 23.404255317%;
}    
    
    
}
   
   
@media(max-width:767px){

.header-container .hs_cos_wrapper_type_logo a img{
    max-width: 175px;
    padding-top: 10px;
    padding-left: 15px;
}

.header-container-wrapper{
    position:relative;
    box-shadow:none;
    border-bottom: 1px solid #e2e2e3;
}

.header-container.container-fluid .wrapper{
    padding-right:0px;
    padding-left:0px;
}

.row-fluid .subnav{
    position:relative;
    width:100%;
    top:0px;
}

.body-container-wrapper {
    padding-top:0px;
}

.row-fluid .breadcrumb-section{
    display:none;
    visibility:hidden;
}

.blog-section{
    padding-top:15px;
    padding-right:0px;
}

.blog-content{
    padding-right:0px;
}

.news-post-body .hs-featured-image{
    float:none;
    width:100%;
    margin:0 auto 30px;
    max-width:100%;
}

.section.news-post-header h2 {
    font-size: 25px;
    line-height: 32px;
}

.hs-blog-post .section.news-post-body img:first-child {
    margin-bottom: 0px;
}

}




.hamburger-menu .click-me .fa{
    
}

body.hamburger-menu .row-fluid .pth-header{
    z-index:0;
}

.hamburger-menu .row-fluid .top-section-blog{
    visibility: visible;
    -webkit-transform: translate3D(0, 0, 0);
    transform: translate3D(0, 0, 0);
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}

.row-fluid .top-section-blog{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: {{baseColor}};
    background-image: linear-gradient(180deg,#f07155,#ff8f59);
    padding-top:100px;
    visibility: hidden;
    overflow: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transform: translate3D(0, -100%, 0);
    transform: translate3D(0, -100%, 0);
    -webkit-transition: -webkit-transform 0.5s,visibility 0.5s;
    transition: transform 0.5s,visibility 0.5s;
  	//z-index: 5;  
  	z-index:99;
}


.row-fluid .hamburger-menu .click-me{
    
}

.subnav .click-me{
    padding-top:0px;
}


.close-button.click-me {
    position: absolute;
    top: 30px;
    right: 30px;
    max-width: 30px;
    padding: 0px;
    cursor: pointer;
}


/*Sidebar*/

.pop-news-post-image{
    
}

.pop-news-post-item {
    overflow: hidden;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.46);
    margin-bottom: 15px;
}

.pop-news-post-item:last-child{
    border-bottom:none;
    margin-bottom:0;
}

.span3.pop-news-post-image {
    max-width:100px;
    float:left;
    background-size: cover !important;
    display: block;
    background-position: top center !important;
    height: 75px;
    
}

.pop-news-post-title a{
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    display: inline-block;
    padding-left:0px;
    color:#ffffff;
}

.pop-news-post-date {
    font-size: 11px;
    color: #fff;
    text-align: left;
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 5px;
}


blockquote {
    border-left: 5px solid {{baseColor}};
    margin: 50px 0px;
    padding-left: 30px;
}


.author-body .author-box{
    display:none;
}


@media(min-width:768px){
    
.make-equal-height > .row-fluid-wrapper >.row-fluid{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: stretch;
    -moz-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    
}
    
}


.hs-blog-listing .blog-sec-body {
    padding-top: 70px;
    padding-bottom:70px;
}


.comment-section .row-fluid .widget-type-cell.wrapper-wrapped {
    max-width: 770px;
    margin: 0 auto;
    float: none;
}

.comment-section h3{
    font-size:30px;   
}

.hs-blog-post .row-fluid .post-footer {
    padding:0px;
    background:transparent;
    border:0;
    margin-top:0;
}

.comment-section{
    position:relative;
}

.comment-section:before {
    content: "";
    position: absolute;
    display: block;
    width: 38px;
    height: 38px;
    -webkit-transform: rotate(-315deg);
    transform: rotate(-315deg);
    background-color: #fff;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: -19px;
}

.post-title-related{
    line-height: 1.5;
    display: -webkit-box;
    font-size: 20px;
    font-weight: 400;
    color: {{baseColor}};
    margin: 0px 0px 5px;
}

.main-list .post-body {
    padding: 20px 20px;
}

.related-post .post-item.span4 {
    padding-right: 0px;
    border: solid 1px #e4e4e3;
    margin-bottom: 25px;
    transition: all .3s ease-in-out;
    background: #ffffff;
    position: relative;
    border-radius: 5px 5px 5px 5px;
}

.related-post .post-item.span4:hover{
    border-color: {{baseColor}};
    box-shadow: 0px 2px 11px 0px rgba(0, 0, 0, 0.26);
}

.main-list.post-item-inner p{
    margin-top: 0px;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 300;
}

h3.related-post-title {
    margin: 0px auto 40px;
    max-width: 600px;
    font-size:30px;
}

.main-list.post-item-inner a.read-more-link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.section.news-post-body p:first-child::first-letter {
    font-size: 60px;
    color:{{baseColor}};
    font-weight: bold;
    padding-right: 10px;
    line-height: 100%;
    float: left;
}


    
 .span12.widget-span.widget-type-cell.subscribe-card.news-post-item {
    //background-color: #007fe4;
    background: linear-gradient(180deg,#f19961 0,#f97a67);
 }
    


.subscribe-card .news-post-item-inner {
   padding: 120px 20px 80px;
}

body .subscribe-card h3.form-title {
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    color:#ffffff;
}

body .widget-type-blog_subscribe form {
    position: relative;
    min-height: 70px;
}

.span12.widget-span.widget-type-blog_subscribe {
    min-height: 70px!important;
}

li.shareTrigger, li.shareTrigger:hover .fa {
    color: #000;
}


.footer-cta-section.overlay:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.35);
    z-index: -1;
}

.footer-cta-section .hs_cos_wrapper.form-title {
    display: none;
}

body .footer-cta-section .widget-type-blog_subscribe form input[type="email"]{
    margin-bottom:10px;
}

.footer-cta-section .row-fluid form .field>label{
    display:none;
}

.footer-cta-section .row-fluid [class*="span"].wrapper{
    max-width:770px;
}


.footer-cta-section p{
    font-size:18px;
}

body .footer-cta-section .row-fluid form .hs-button.primary ,
body .container-fluid .footer-cta-section .row-fluid form .hs-button.primary {
    height: auto;
    margin-top: 0px;
    margin: 0px;
    padding: 14px 50px;
    cursor: pointer;
    background: #222;
    border: 1px solid #222;
    color: #fff;
    border-radius: 0px;
    width: auto;
    position: static;
    font-weight: 400;
    height: 50px;
    font-size: 14px;
    letter-spacing: 1px;
}

body .container-fluid .footer-cta-section .row-fluid form .hs-button.primary:hover,
body .footer-cta-section .row-fluid form .hs-button.primary:hover {
    background-color: #ffffff;
    border-color: #fff;
    color: #222;
}

.footer-cta-section .hs_email.field.hs-form-field {
    width: 70%;
    float: left;
}

.footer-cta-section .widget-type-blog_subscribe{
    padding-top:30px;
}

@media(max-width:767px){
.row-fluid .footer-cta-section .hs_email.field.hs-form-field {
    width: 100%;
    float: none;
}
.container-fluid .row-fluid .wrapper{
    box-sizing: border-box;
}

.comment-section .row-fluid .widget-type-cell.wrapper-wrapped,.header-container.container-fluid .wrapper{
    padding: 0px 20px;
}

.hs-blog-post .widget-span.widget-type-cell.blog-content{
    padding: 0px 0px;
}

}

.hs-author-profile .hs-author-avatar {
    width: 90px;
    max-width: 90px;
    height: 90px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
    border: 5px solid #e7e7e7;
    background-size: cover;
    background-position: top center;
}






.blog-subscription-bar h3 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 12px;
    margin-top: 12px;
    color: #fff;
    letter-spacing: .5px;
    line-height: 25px
}

.blog-subscription-bar .hs_cos_wrapper.form-title {
    display: none
}

body .widget-type-blog_subscribe form input[type="email"] {
    border: 1px solid #eee;
    height: 50px;
    -webkit-appearance: none;
    box-shadow: none;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 15px;
    padding-left: 15px;
    padding-right:110px;
}

body .widget-type-blog_subscribe form {
    position: relative
}

body .container-fluid .row-fluid .widget-type-blog_subscribe form label {
    display: none
}

body .container-fluid .row-fluid .widget-type-blog_subscribe form input[type="submit"] {
    background: #333;
    border: 2px solid #fff;
    border-radius: 0;
    height: 50px;
    width: 105px;
    color: #fff;
    cursor: pointer;
    font-weight: 700;
    letter-spacing: .25px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    text-align: center;
    -webkit-appearance: none;
    font-size: 15px;
    margin: 0
}

.hs-form-field {
    position: relative
}

ul.hs-error-msgs.inputs-list {
    padding: 0;
    margin: 0;
    list-style: none
}

ul.hs-error-msgs.inputs-list label {
    font-size: 10px;
    color: red;
    display: inline-block
}

.blog-subscription-bar {
    background: #2b2b2b;
    padding: 15px 0
}

.section.post-body blockquote {
    padding-top: 40px;
    padding-bottom: 40px;
    border-left-width: 5px;
    margin: 50px 0
}


/****************************** Infinite Scroll Style *******************************/


.ias-trigger.ias-trigger-next,.ias-spinner {
    width: 100%;
    margin: 0 auto;
    margin-top: 40px;
}

.ias-trigger.ias-trigger-next a {
    color: {{baseColor}};
    border: 1px solid {{baseColor}};
    border-radius: 2px;
    display: inline-block;
    padding: 15px 50px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Montserrat',sans-serif;
    letter-spacing: 1px;
    transition: all .4s ease;
}


.ias-trigger.ias-trigger-next a:hover{
    background:{{baseColor}};
    color:#ffffff
}

.page-center{
              max-width: 980px;
              margin: 0 auto!important;
              float: none!important;
          }

.full-width-bg{
    background: url('https://cdn2.hubspot.net/hubfs/3008682/Website%20Photos/Untitled%20design%20(1)-2.png');
     }


@media (max-width: 865px) {
    
.span12.widget-span.widget-type-linked_image.bg-image {
		padding-top: 90px !important; 
}
  
}














