 /* ==========================================================================
   HubSpot Migrations Services - COS Boilerplate v2.0.0                              
   ========================================================================== */


/* ==========================================================================
   Table of Contents:

   1. EXTERNAL RESOURCES
   2. BASE STYLES
   3. COS STRUCTURE
   4. MAIN NAVIGATION
   5. BLOG
   6. FORMS
   7. BUTTONS
   8. MISCELLANEOUS
   9. MOBILE MEDIA QUERIES
   ========================================================================== */


/* ==========================================================================
   1. EXTERNAL RESOURCES                                            
   ========================================================================== */


/* =============== @import, @font-face, and CSS File Includes =============== */

/* EX: @import url('http://example.com/example_style.css'); */
@import url('//fonts.googleapis.com/css?family=Lato%3A400%2C400italic%2C700%2C700italic%7CRaleway%3A700%2C900&#038;subset=latin%2Clatin-ext&#038;ver=4.6.4');
/* HubSpot_Boilerplate-modules.css is required to address style issues with the default modules and responsive grid layout */
{% include "Custom/page/JA_Australia_July2017-theme/JA_Australia_July2017-modules.css" %}
@font-face {
    font-family: 'FontAwesome';
    src: url("//cdn2.hubspot.net/hubfs/3008682/Jaaustralia_July_2017/Font/fontawesome-webfont.eot?v=4.6.3");
    src: url("//cdn2.hubspot.net/hubfs/3008682/Jaaustralia_July_2017/Font/fontawesome-webfont.eot?#iefix&v=4.6.3") format("embedded-opentype"),
    url("//cdn2.hubspot.net/hubfs/3008682/Jaaustralia_July_2017/Font/fontawesome-webfont.woff2?v=4.6.3") format("woff2"),
    url("//cdn2.hubspot.net/hubfs/3008682/Jaaustralia_July_2017/Fonte/fontawesome-webfont.woff?v=4.6.3") format("woff"),
    url("//cdn2.hubspot.net/hubfs/3008682/Jaaustralia_July_2017/Font/fontawesome-webfont.ttf?v=4.6.3") format("truetype");
    font-weight: normal;
    
    font-style: normal
}

/* ==========================================================================
   2. BASE STYLES                                             
   ========================================================================== */

/* =============== Base =============== */

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

html, body {
  min-height: 100%;
  margin: 0;
  padding: 0;
} 
html {
    font-size: 62.5%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
body {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    color: #848484;
    background-color: #f3f3f3;
     line-height: 1.8;
     font-family: "Lato",sans-serif;
}

/* Page Center */
.container-fluid .row-fluid .page-center {
  float: none;
  max-width: 1170px;
  margin: 0 auto;
  width: 88%;
}

/* Highlighted Text */
::-moz-selection {
  color: #fff;
  background: #3399ff;
  text-shadow: none;
}
::selection {
  color: #fff;
  background: #3399ff;
  text-shadow: none;
}


/* =============== Typography =============== */

/* Basic text */
p {
      margin: 0 0 2.15em;
} 
small {}
strong {}
em {}
cite {}
code {}
pre {}

sup, sub {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sup { top: -0.5em; }
sub { bottom: -0.25em; }

/* Headings */
h1, h2, h3, h4, h5, h6 {
    margin: 1.25em 0 .2em;
    text-rendering: optimizelegibility;
    font-family: "Raleway",sans-serif;
    font-style: normal;
    font-weight: 700;
        color: #272727;
}
h4, h5, h6 {
    margin-top: 1.75em;
    margin-bottom: .5em;
    line-height: 1.4;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {}

h1 {
    margin-top: 1em;
    font-size: 400%;
    line-height: 1.1;
    letter-spacing: -.035em;
}
h2 {
    letter-spacing: -.035em;
    font-size: 285.7%;
    line-height: 1.2;
}
h3 {
    font-size: 228.5%;
    line-height: 1.3;
    letter-spacing: -.035em;
}
h4 {
    letter-spacing: -.035em;
    font-size: 171.4%;
}
h5 {
    letter-spacing: -.035em;
    font-size: 150%;
}
h6 {
    font-size: 100%;
    text-transform: uppercase;
    letter-spacing: -.035em;
}

/* Anchor Links */
a { color:#02aed6;    text-decoration: none;
    background-color: transparent;
    -webkit-transition: color 0.3s ease,background-color 0.3s ease,border-color 0.3s ease,box-shadow 0.3s ease;
    transition: color 0.3s ease,background-color 0.3s ease,border-color 0.3s ease,box-shadow 0.3s ease; }
a:hover, a:focus { color: #0386a5; }

/* Lists */
ul, ol {
    padding: 0 0 0 1.655em;
    margin: 0 0 2.15em 0;
}
ol {
    list-style: decimal;
}
ul ul, ul ol, ol ol, ol ul {}
li {}

/* Block Quotes */
blockquote {}
blockquote p {}
blockquote small {}

/* Horizontal Rules */
hr {
  color: #ccc;
  background-color: #ccc;
  height: 1px;
  border: none;
}


/* =============== EU Cookie Confirmation Bar =============== */

/* Confirmation Outer Wrapper*/
#hs-eu-cookie-confirmation {}

/* Confirmation Inner Wrapper*/
#hs-eu-cookie-confirmation-inner {}
#hs-eu-cookie-confirmation-inner p{}

/* Confirmation Button */
#hs-en-cookie-confirmation-buttons-area {}
a#hs-eu-confirmation-button {}


/* ==========================================================================
   3. COS STRUCTURE                                            
   ========================================================================== */


/* =============== Structure =============== */

/* The outer wrappers of your website */
.header-container-wrapper, 
.body-container-wrapper, 
.footer-container-wrapper {}

/* The inner wrappers of your website */
.header-container, 
.body-container, 
.footer-container {}


/* =============== Header =============== */

.header-container-wrapper {}
.header-container {}
.hs-header {
    background-color: #292a2c;
        border-bottom: 2px solid rgba(255,255,255,0.5);
            z-index: 9999;
}

.hs-logo img {
    max-width: 230px;
    margin-top: 10px;
}
span.x-hidden-desktop {
    display: none;
}
.x-searchform-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
        z-index: 99999;
    background-color: rgba(255,255,255,0.925);
    -webkit-transition: top 0.3s ease;
    transition: top 0.3s ease;
}
.x-searchform-overlay.in {
    display: table;
}
.x-searchform-overlay-inner {
    display: table-cell;
    vertical-align: middle;
}

.x-searchform-overlay-inner .widget-type-google_search {
    margin: 0 0 2.15em;
    position: relative;
    margin-bottom: 0;
    line-height: 1;
    text-align: center;
}

.x-searchform-overlay-inner .widget-type-google_search label {
       display: block;
    text-transform: uppercase;
    margin-bottom: 17px;
    font-size: 21px;
    line-height: 1.4;
    color: #272727;
}

.x-searchform-overlay-inner .widget-type-google_search .hs-input {
    border: 0;
    padding: 0;
    height: auto;
    font-size: 94px;
    letter-spacing: -0.05em;
    line-height: 1;
    color: #333;
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
    max-width: 100%;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    color: #272727;
}
   .custom-menu-primary .hs-menu-wrapper > ul > li.hs-item-has-children > a > span:after {
    content: "\f103";
    margin-left: 0.35em;
    font-family: "FontAwesome" !important;
    font-style: normal !important;
    font-weight: normal !important;
    text-decoration: inherit;
    text-rendering: auto;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    }
.x-searchform-overlay-inner .widget-type-google_search form {
    padding-bottom: 20px;
}
.x-searchform-overlay .widget-type-google_search .hs-button.primary{
    display:none !important;
}

.custom-menu-primary .hs-menu-wrapper > ul > li > a > span {
    margin-right: -.032em;
    display: inline-block;
}
/* =============== Content =============== */

.body-container-wrapper {}
.body-container {
    background-color: #fff;
}

.content-wrapper {
       padding-top: 45px;
    padding-bottom: 45px;
    
}
.hs-section-header-wrapper {
    margin: 0px;
    padding: 100px 0px;
    background-color: #ed790c;
    text-align: center;
}

.hs-section-header-wrapper h1 {
    color: #fff;
    letter-spacing: -1px;
    line-height: 1.1;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 72px;
}
.hs-about-page .hs-section-header-wrapper h1{
        letter-spacing: -1px;
    line-height: 1.1;
    font-size:51.42px;
    margin:0;
}
.hs-section-header-wrapper p {
    color: #fff;
    font-size: 18px;
    margin: 1.25em auto 1.25em;
    max-width: 35em;
    color: #fff;
}

.hs-section-header-wrapper h3 {
    color: #fff;
    font-size: 41.13px;
    margin: 0;
    line-height: 45.24px;
}

.hs-section-header-wrapper h3 i {
    position: absolute;
    top: 50%;
    left: 0;
    width: 2em;
    height: 2em;
    margin-top: -1em;
    font-size: 0.65em;
    letter-spacing: 0;
    line-height: 2em;
    text-align: center;
    color: currentColor;
    background-color: rgba(0,0,0,0.125);
    border-radius: 100em;
}

.hs-section-header-wrapper h3 span {
    padding-left: 61.13px;
    display: inline-block;
    position: relative;
}
.hs-section-get-in-touch {
    background: #fff;
}

.hs-get-in-touch-form h3 {
    display: none;
}

.container-fluid  .hs-section-get-in-touch .row-fluid .page-center {
    max-width: 1200px;
}

.hs-get-in-touch-form
 .hs-form-filed > label {
    font-size: 18px;
}

.hs-get-in-touch-form .hs-form-field>label {
    font-size: 18px;
    line-height: 32.4px;
    margin-bottom: 0;
}

.hs-get-in-touch-form .hs-form-field {
    margin-bottom: 18px;
}
.hs-get-in-touch-form .hs-form-field .hs-input {
    max-width: 100%;
        font-size: 18px;
        outline:0;
}

.hs-get-in-touch-form .hs-form-field .hs-input {
    max-width: 100%;
}

.hs-get-right-content h2 {
    letter-spacing: -1px;
    line-height: 1.1;
    margin: 0;
    font-size: 51.24px;
}
.hs-get-in-touch-form .hs-form-field textarea {
    min-height: 274px;
}
.hs-get-in-touch-form .hs-button.primary {
    margin: 0 0 10px;
}
span.hs-form-required {
    display: none;
}
.hs-get-right-content p {
    font-size: 18px;
    margin: 9px 0 0;
}

.hs-get-right-content hr {
    margin: 50px 0 0 0;
    background: none;
}
.main-content {}
.sidebar{}
.sidebar.right{}
.sidebar.left{}


/* =============== Footer =============== */

.footer-container-wrapper {}
.footer-container {}

.hs-footer {
       padding: 31px 0 35px;
    font-size: 11px;
    text-align: center;
    text-transform: uppercase;
    color: #7a7a7a;
    background-color: #222;
}

.x-social-global {
    font-weight: 400;
    line-height: 1;
}
.x-social-global a {
    display: inline-block;
    text-align: center;
    color: rgba(255,255,255,0.25);
        margin: 0 1%;
    font-size: 18px;
        text-decoration: none !important;
}
.hs-footer a {
    color: rgba(255,255,255,0.25);
    text-decoration: underline;
}

.hs-assing-menu p {
    margin: 0 0 16px;
    line-height: 1.3;
}

.hs-footer a:hover {
    color: #d3840d !IMPORTANT;
}
.hs-powered  p {
    margin: 0 0 16px;
    color: rgba(255, 255, 255, 0.25);
}
/* ==========================================================================
   4. MAIN NAVIGATION                                            
   ========================================================================== */


/* =============== Custom Menu Primary =============== */

/* Parent List */
.custom-menu-primary.js-enabled {
    text-align: right;
}
.custom-menu-primary .hs-menu-wrapper > ul{}
.custom-menu-primary .hs-menu-wrapper > ul > li,.hs-no-nav-search ul li {
    line-height: 1.8;
    margin-bottom: -9px;
}
.custom-menu-primary .hs-menu-wrapper > ul > li > a,.hs-no-nav-search ul li a {
    padding-top: 35px;
    line-height: 1;
    text-decoration: none;
    position: relative;
    border-right: 1px solid rgba(255,255,255,0.1);
    color: #dbb066;
    font-family: "Raleway",sans-serif;
    font-style: normal;
    font-weight: 700;
    letter-spacing: .032em;
    text-transform: uppercase;
    font-size: 14px;
    padding-bottom: 31px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    z-index: 999;
}
.custom-menu-primary .hs-menu-wrapper > ul > li > a:hover,.hs-no-nav-search ul li a:hover {
    box-shadow: 0 2px 0 0 #02aed6;
}

/* Child List */
.custom-menu-primary .hs-menu-wrapper > ul ul {
    background-color: #fff;
    background-color: #292a2c;
    z-index: 1000;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    box-shadow: 0 1px 5px rgba(0,0,0,0.35);
    min-width: 200px;
    margin: 2px 0 0;
    padding: 1.05em 0;
    font-size: 14px;
    list-style: none;
    left: auto !important;
    right: 0;
    text-align: left;
}
.custom-menu-primary .hs-menu-wrapper > ul ul li {
    line-height: 1.8;
}
.custom-menu-primary .hs-menu-wrapper > ul ul li a {
    display: block;
    clear: both;
    padding: 1px 1.6em;
    line-height: 1.8;
    color: #dbb066;
}
.custom-menu-primary .hs-menu-wrapper > ul ul li a:hover{
        color: #d3840d;
}
.hs-no-nav-search ul {
    padding: 0;
    margin: 0;
    float: right;
    list-style: none;
}

.hs-no-nav-search ul li a {
    display: inline-block;
    border-left: 2px solid rgba(255,255,255,0.1);
}

l.hs-no-nav-search {
    float: right !IMPORTANT;
}

.hs-no-nav-search ul li {
    margin-bottom: -1px;
}

.hs-no-nav-search {
    float: right !important;
}
.hs-about-section1 .hs-four-col-equal h4 a:hover {
    color: #02aed6;
}
/* Override max width on menu links */
.custom-menu-primary .hs-menu-wrapper > ul li a, 
.hs-menu-wrapper.hs-menu-flow-horizontal > ul li.hs-item-has-children ul.hs-menu-children-wrapper li a {
  overflow: visible !important;
  max-width: none !important;
  width: auto !important;
}
i.x-icon-envelope-o:before {
    content: "";
}

/* Fix menu disappearing on desktop after toggling mobile menu */
@media screen and (min-width:981px) {
    .custom-menu-primary .hs-menu-wrapper,
    .custom-menu-primary .hs-menu-wrapper > ul ul { 
        display:block !important;
    }
    .hs-header {
       
        position: fixed;
        width: 100% !IMPORTANT;
        left: 0;
        right: 0;
        top: 0;
    }
    .body-container-wrapper {
        padding-top: 81px;
    }
    .custom-menu-primary .hs-menu-wrapper > ul > li.active.active-branch >a,.custom-menu-primary .hs-menu-wrapper > ul > li:hover >a {
        color: #d3840d;
        box-shadow: 0 2px 0 0 #02aed6;
    }
    .custom-menu-primary .hs-menu-wrapper > ul ul > li.active.active-branch >a {
        color: #d3840d;
    }
    .custom-menu-primary .hs-menu-wrapper > ul > li:first-child > a {
        border-left: 1px solid rgba(255,255,255,0.14);
    }
    .custom-menu-primary .hs-menu-wrapper > ul ul::before {
        content: "";
        width: 100%;
        height: 5px;
        top: -5px;
        position: absolute;
        left: 0;
        right: 0;
        background: transparent;
    }
    .hs-about-page .custom-menu-primary .hs-menu-wrapper > ul > li {
        margin-bottom: -8px;
    }
    .two-column-equal .custom-menu-primary .hs-menu-wrapper > ul > li {
        margin-bottom: -8px;
    }
}


/* =============== Mobile Toggle Menu =============== */

/* Hide button on Desktop */
.mobile-trigger, .child-trigger{ display: none; }

@media (max-width:980px){

  /* Menu Reset */
  .custom-menu-primary,
  .custom-menu-primary .hs-menu-wrapper > ul,
  .custom-menu-primary .hs-menu-wrapper > ul li,
  .custom-menu-primary .hs-menu-wrapper > ul li a{
    display: block;
    float: none;
    position: static;
    top: auto;
    right: auto;
    left: auto;
    bottom: auto;
    padding: 0px;
    margin: 0px;
    background-image: none;
    background-color: transparent;
    border: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; 
    max-width: none;
    width: 100%;
    height: auto;
    line-height: 1;  
    font-weight: normal;
    text-decoration: none;
    text-indent: 0px;
    text-align: left;
    color:#fff;
  }

  /* ===== Mobile Toggle Button ===== */

  .mobile-trigger {
    display: inline-block !important;
    cursor: pointer;
    position: absolute;
    right: 0;
    font-size: 28px;
    top: 3px;
    color: #fff;
        color: rgba(255,255,255,0.35);
}
 .mobile-trigger:hover {
     color:#fff;
 }
.hs-header .page-center {
    position: relative;
}
  /* Toggle Button Icon */
  

  /* ===== Mobile Child Toggle Buttons ===== */

  .child-trigger{
    display: block !important; /* Hide button on Desktop */
    cursor: pointer; /* Mouse pointer type on hover */
       position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    width: 45px;
  }
  .child-trigger:hover{
    text-decoration: none;
  }
  .child-trigger span {
    display: block;
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: -9px;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 1;
}


 
  /* ===== Mobile Menu Styles ===== */  
     
  .custom-menu-primary.js-enabled {
    position: relative;
    width: 100%;
    margin-left: 0;
    text-align: left;
}
.custom-menu-primary .hs-menu-wrapper > ul {
    margin: 25px 0;
}
  /* Hide menu on mobile */
  .custom-menu-primary.js-enabled .hs-menu-wrapper,
  .custom-menu-primary.js-enabled .hs-menu-children-wrapper{
    display: none;
  }  

  /* Make child lists appear below parent items */
  .custom-menu-primary ul.hs-menu-children-wrapper{
    visibility: visible !important;
    opacity: 1 !important;
    position: static !important;
    display: none;
  }

  /* Mobile Menu Styles */ 
  .custom-menu-primary.js-enabled .hs-menu-wrapper{
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    padding: 0;
  }
  .custom-menu-primary .hs-menu-wrapper{
   
  }

   /* Level 1 Menu List Styles */
  .custom-menu-primary .hs-menu-wrapper > ul > li{
    position: relative;
  }
  .custom-menu-primary .hs-menu-wrapper > ul > li a{
   
  }

  /* Level 1 and Higher Menu List Styles */
  .custom-menu-primary .hs-menu-wrapper > ul li{
       line-height: 1.8;
  }
  .custom-menu-primary .hs-menu-wrapper >  ul li a{
        margin: 0 0 10px !IMPORTANT;
    padding: 0.85em 1.15em !IMPORTANT;
    color: #a3a3a3;
    background-color: rgba(0,0,0,0.1);
    color: #dbb066;
    font-family: "Raleway",sans-serif;
    font-style: normal;
    font-weight: 700;
    letter-spacing: .032em;
    text-transform: uppercase;
    display: block;
        line-height: 21px;
        position: relative;
  }
  .custom-menu-primary .hs-menu-wrapper > ul li a:hover{
       color: #d3840d;
       box-shadow:none;
  }
.custom-menu-primary .hs-menu-wrapper > ul > li.hs-item-has-children > a > span:after{
    display:none;
}
  /* Level 2 and Higher Menu List Styles */
 .custom-menu-primary .hs-menu-wrapper > ul ul {
    padding-left: 36px;
    padding-top: 0;
    padding-bottom: 0;
        box-shadow: none !important;
}
  .custom-menu-primary .hs-menu-wrapper > ul ul li{
   
  }
 .custom-menu-primary .hs-menu-wrapper > ul ul li a {
    text-transform: none;
    display: block;
    position: relative;
    font-size: 14px;
    line-height: 1.5;
    white-space: normal;
    font-weight: normal !IMPORTANT;
    font-family: Lato, sans-serif;
    letter-spacing: 0;
}
  /* Level 3 and Higher Menu List Styles */
  .custom-menu-primary .hs-menu-wrapper > ul ul ul li a{
    text-indent: 30px; /* Indent Child lists */
  }

  /* Level 4 and Higher Menu List Styles */
  .custom-menu-primary .hs-menu-wrapper > ul ul ul ul li a{
    text-indent: 50px; /* Indent Child lists */
  }
  .custom-menu-primary .hs-menu-wrapper > ul > li.active-branch > a,.custom-menu-primary .hs-menu-wrapper > ul ul li.active-branch > a {
        color: #d3840d !important
        ;
       
    }
}


/* ==========================================================================
   5. BLOG                                        
   ========================================================================== */


/* =============== General Blog Styles =============== */

/* Blog Post and Listing Body Class */
.blog {}

/* Blog Post */
.hs-blog-post {}

/* Blog Listing */
.hs-blog-listing {}

/* Blog Columns Wrapper */
.blog .content-wrapper {}

h2.entry-title {
    font-size: 140%;
    margin: 0;
    line-height: 1.1;
}

.post-item {
    border-top: 1px solid rgba(0,0,0,0.1);
    padding-top: 35px;
    margin-top: 35px;
}

.post-item:first-of-type {
    margin-top: 0;
}
.hs-blog-content-wrapper {
    margin-top: 34px !important;
    margin-bottom: 35px !important;
    position:relative;
}
.blog .custom-menu-primary .hs-menu-wrapper > ul > li {
    margin-bottom: -8px;
}
.p-meta {
    margin: 1em 0 0;
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 0.75em;
}
.p-meta>span:after {
    content: "/";
    padding: 0 0.45em;
}
.p-meta>span:last-child:after {
    display: none;
}


.post-item h2.entry-title a {
    color: #272727;
}

.post-item h2.entry-title a:hover {
    color: #02aed6;
}

.post-item .entry-wrap a {
    color: #272727;
}

.post-item .entry-wrap a:hover {
    color: #02aed6;
}

.post-item .entry-content {
    margin-top: 17.5px;
}
.entry-featured {
    position: relative;
    float: left;
    width: 34%;
    margin: 0;
}

.entry-wrap.with-feature {
    float: right;
    width: 66%;
    padding-left: 35px;
}
a.entry-thumb {
    display: block;
    position: relative;
    overflow: hidden;
    padding-bottom: 65%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}


.hs-blog-content-wrapper .row-fluid .span9 {
    width: 72%;
    padding-right: 35px;
}

.hs-blog-content-wrapper .row-fluid .span3 {
    width: 28%;
    margin-left: 0;
    padding-left: 35px;
}

.post-item .entry-content p {
    margin: 0;
}

a.entry-thumb:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.75);
    z-index: 1;
    opacity: 0;
    -webkit-transition: all 0.615s cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 0.615s cubic-bezier(0.19, 1, 0.22, 1);
}
a.entry-thumb .view {
    display: block;
    margin: -16px 0 0;
    position: absolute;
    top: 250%;
    left: 0;
    right: 0;
    height: 30px;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    z-index: 2;
    -webkit-transition: all 0.615s cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 0.615s cubic-bezier(0.19, 1, 0.22, 1);
}
a.entry-thumb:hover:before {
    top: 0;
    opacity: 1;
}
a.entry-thumb:hover .view {
    top: 50%;
}
.blog .body-container {
    background-color: #f3f3f3;
}

.hs-blog-content-wrapper:before {
    content: "";
    display: block;
    position: absolute;
    top: -35px;
    bottom: -10000em;
    bottom: -35px;
    width: 10000em;
    background-color: #fff;
    z-index: 1;
    right: 28%;
}

.span12.widget-span.widget-type-cell.page-center.hs-blog-content-wrapper {}

.hs-blog-content-wrapper > div {
    position: relative;
    z-index: 1;
}
.blog-sidebar h3 {
    line-height: 1.3;
    margin: 16px 0 12px;
    margin-top: 0;
    border: 1px solid #333;
    padding: 0.65em 0.65em 0.75em;
    font-size: 13.6px;
    letter-spacing: 0.15em;
    text-align: center;
    text-transform: uppercase;
    color: #333;
    background-color: transparent;
    border-color: #333;
}

.blog-sidebar .widget-type-google_search {}

.blog-sidebar .widget-type-google_search label {
    display: none;
}

.blog-sidebar .widget-type-google_search .hs-input {
    width: 100%;
    margin-bottom: 0;
    border: 1px solid rgba(0,0,0,0.1);
    padding: 0 1.45em;
    line-height: normal;
    color: #555;
    background-color: #fff;
    display: inline-block;
    height: 55px;
    max-width:100%;
        font-size: 16px;
    padding-left: 38px;
}
.blog-sidebar .widget-type-google_search .hs-input:focus {
    border-color: rgba(0,0,0,0.25);
    outline: 0;
    outline: thin dotted \9;
}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder {
    color: #999
}

input::-moz-placeholder,textarea::-moz-placeholder {
    color: #999
}

input:-ms-input-placeholder,textarea:-ms-input-placeholder {
    color: #999
}
.blog-sidebar .widget-type-google_search form {
    position: relative;
    margin-bottom: 0;
    line-height: 1;
}

.blog-sidebar .widget-type-google_search form:before {
    content: "\f002";
    position: absolute;
    left: 16px;
    bottom: 50%;
    display: block;
    margin-bottom: -6px;
    font-size: 12px;
    line-height: 1;
    text-decoration: inherit;
    text-shadow: none;
    color: #7a7a7a;
    font-family: "FontAwesome" !important;
    font-style: normal !important;
    font-weight: normal !important;
    text-decoration: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.blog-sidebar .widget-type-google_search a.hs-button.primary {
    display: none;
}

.span3.widget-span.widget-type-cell.blog-sidebar {}

.blog-sidebar .cell-wrapper {
    margin-top: 48px;
}

.blog-sidebar .widget-type-google_search .cell-wrapper {
    margin-top: 0;
}

.blog-sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.blog-sidebar ul li {
    line-height: 23px;
    border-top: 1px solid rgba(0,0,0,0.085);
    padding-top: 8px;
    padding-bottom: 8px;
}

.blog-sidebar ul li a {
    text-decoration: underline;
    padding-top: 8px;
    padding-bottom: 8px;
    display: inline;
    font-size: 16px;
    color: #707070;
    line-height: 24px;
}

.blog-sidebar ul li:last-child {
    border-bottom: 1px solid rgba(0,0,0,0.15);
    display: block;
}
table.hs-two-image {
   width: 88%;
   margin: 0 auto;
   padding: 45px 0px;
   table-layout: fixed;
}

table.hs-two-image td {
   width: 48%;
   margin-right: 4%;
   display: inline-block;
}

table.hs-two-image td img {
   max-width: 100%;
}

table.hs-two-image td:last-child {
   margin-right: 0;
}

@media (max-width: 767px) {
   table.hs-two-image td {
       width: 100%;
       margin: 0 0 1.5em;
   }
   .hs-blog-post-body {
       padding-right: 0 !IMPORTANT;
    }
}
/* =============== Blog Content Column =============== */

.blog .blog-content {}

/* Use this to style the main wrapper for the blog listing pages */
.blog-listing-wrapper {}

/* Use this to style the main wrapper for the blog post pages */
.blog-post-wrapper {}

/* Blog Title */
.hs-blog-header h1 {}
.hs-blog-header h1 a{}

/* Blog Post Title */
.post-header h2 {}
.post-header h2 a {}

/* Blog Author and Avatar */
#hubspot-author_data {}
#hubspot-author_data:after {
  content: '';
  display: block;
  clear: both;
}
#hubspot-author_data a.author-link {}
#hubspot-author_data .hs-author-avatar {}
#hubspot-author_data .hs-author-avatar img {
  width: 50px;
  float: left;
  margin-right: 15px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

/* Use this to set up different styling for your blog posts */
.blog-listing-wrapper .post-listing .post-item {}
.blog-listing-wrapper .post-listing .post-item .post-body {}
.blog-post-wrapper .post-body {}

/* Post Featured Image on Listings Page */
.hs-featured-image-wrapper {}
.hs-featured-image-wrapper .hs-featured-image-link {}
.hs-featured-image-wrapper .hs-featured-image-link img.hs-featured-image{
  border-width: 0;
  max-height: 170px;
  max-width: 210px;
  height: auto;
  width: auto;
  display: inline-block !important;
  float: right;
  margin: 20px 0 20px 20px;
}

/* Read More Link */
a.more-link {}

/* Blog Topics List */
#hubspot-topic_data {}
#hubspot-topic_data a.topic-link {}

/* Blog Social Sharing Icons */
.hs-blog-social-share {
  margin-top: 20px;
  padding: 10px 0 0 0;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  height: auto;
}

/* Blog Commments */
#comments-listing {
  border-bottom: 1px solid #ccc;
  margin-bottom: 30px;
  margin-top: 30px;
}
.comment {
  margin: 10px 0;
  border-top: 1px solid #ccc;
  padding: 15px 0;
}
.comment-date { font-size: 13px; text-align: right; }
.comment-from { font-weight: bold; }
.comment-body { padding: 10px 0; }

/* Pagination */
.blog-pagination {
    margin: 10px 0;
}
.blog-pagination a {
    display: inline-block;
    margin-right: 8px;
}
.blog-pagination a.previous-posts-link {}
.blog-pagination a.all-posts-link {}
.blog-pagination a.next-posts-link {}

/* Blog All Posts Page */
.hs-content-path-blog-all {}
div.post-listing-simple {}
div.post-listing-simple .post-item {}
h2.post-listing-simple {}
h2.post-listing-simple a {}


/* =============== Blog Sidebar =============== */

.blog .blog-sidebar {}

/* Blog Modules */
.blog .blog-sidebar .widget-span {}


/* =============== Blog Author Page and Author Bio =============== */

.hs-blog-listing .hs-author-profile {
  border-bottom: 1px solid #ccc;
  padding: 0 0 20px 0;
  margin: 0 0 20px 0;
}
.hs-blog-post .hs-author-profile {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 20px 0 20px 0;
  margin: 20px 0 20px 0;
}
.hs-author-profile .hs-author-profile:after {
  content: '';
  display: block;
  clear: both;
}

/* Author Avatar */
.hs-author-profile .hs-author-avatar {
  float: left;
  margin-right: 15px;
  max-width: 100px;
}
.hs-author-profile .hs-author-avatar img{
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  max-width: 100%;
}

/* Author Bio Wrapper*/
.hs-author-profile .hs-author-bio {
  overflow: hidden;
}

/* Author Name */
.hs-author-profile h2.hs-author-name {
  margin: 0 0 10px 0;
}

/* Author Social Follow Me */
.hs-author-profile .hs-author-social-section {}
.hs-author-profile .hs-author-social-label {}
.hs-author-profile .hs-author-social-links {}
.hs-author-profile .hs-author-social-link {}
.hs-author-profile .hs-social-facebook {}
.hs-author-profile .hs-social-linkedin {}
.hs-author-profile .hs-social-twitter {}
.hs-author-profile .hs-social-google-plus {}


/* ==========================================================================
   6. FORMS                                        
   ========================================================================== */


/* =============== Global Form Styles =============== */

/* Form Field */
.hs-form-field {
    display:block;
        margin-bottom: .5375em;
}

/* Descriptions */
.hs-field-desc {}

/* Labels and Legends */
label {}
.hs-form-field > label {
    display:block;
        font-size: 100%;
    line-height: 1.8;
        display: block;
    margin-bottom: 2px;
}

/* One Line Inputs */
input[type="text"],
input[type="password"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="date"], 
input[type="month"], 
input[type="time"], 
input[type="week"], 
input[type="number"], 
input[type="email"], 
input[type="url"], 
input[type="search"], 
input[type="tel"], 
input[type="color"],
input[type="file"],
textarea,
select {
    font-size: 100%;
    font-family: "Lato",sans-serif;
    display: inline-block;
    height: auto;
    margin-bottom: 9px;
    border: 1px solid rgba(0,0,0,0.1);
    padding: 0 1.45em;
    line-height: normal;
    color: #555;
    background-color: #fff;
    -webkit-transition: border 0.2s linear;
    transition: border 0.2s linear;
    width: 100%;
    max-width:500px;
    display:block;
        line-height: 60px;
        outline:0;
}

input[type="text"]:focus,
input[type="password"]:focus, 
input[type="datetime"]:focus, 
input[type="datetime-local"]:focus, 
input[type="date"]:focus, 
input[type="month"]:focus, 
input[type="time"]:focus, 
input[type="week"]:focus, 
input[type="number"]:focus, 
input[type="email"]:focus, 
input[type="url"]:focus, 
input[type="search"]:focus, 
input[type="tel"]:focus, 
input[type="color"]:focus,
input[type="file"]:focus,
textarea:focus,
select:focus {}

/* Separate Styles for Multiple Line Inputs */
textarea {}
textarea:focus {}

/* Separate Styles for Drop Downs */
select {}
select:focus {}

/* Multiple Selection Inputs */
form.hs-form .hs-form-field ul.inputs-list {
  list-style: none;
  padding: 0;
}
form.hs-form .hs-form-field ul.inputs-list li input {}
input[type="radio"] {}
input[type="checkbox"] {}

/* Required */
input:focus:required:invalid, 
textarea:focus:required:invalid, 
select:focus:required:invalid {}

input:focus:required:invalid:focus, 
textarea:focus:required:invalid:focus, 
select:focus:required:invalid:focus {}

/* Error */
.hs-error-msgs label{}

/* Placeholder Text */
::-webkit-input-placeholder {} /* Webkit Browsers */
:-moz-placeholder {} /* Firefox 18- */
::-moz-placeholder {} /* Firefox 19+ */
:-ms-input-placeholder {} /* IE10 */


/* =============== Multi Column Form =============== */

.hs-form fieldset.form-columns-1 {}
.hs-form fieldset.form-columns-1 .hs-form-field {}
.hs-form fieldset.form-columns-2 {}
.hs-form fieldset.form-columns-2 .hs-form-field {}
.hs-form fieldset.form-columns-3 {}
.hs-form fieldset.form-columns-3 .hs-form-field {}

/* Multiple Selection Inputs */
form.hs-form .hs-form-field ul.inputs-list li input {}
input[type="radio"] {}
input[type="checkbox"] {}
form.hs-form fieldset { max-width: none; }
form.hs-form fieldset .hs-form-field { padding: 0 10px 0 0; }
form.hs-form fieldset[class*="form-columns"] .input { margin-right: 0; }
form.hs-form fieldset[class*="form-columns"] .hs-input { width: 100%; }
form.hs-form fieldset[class*="form-columns"] .hs-input[type="checkbox"] { width: auto; }
form.hs-form fieldset.form-columns-3 .hs-form-field { width: 33.33%; }

@media (max-width: 400px) {
  form.hs-form fieldset .hs-form-field { padding: 0; }
  form.hs-form fieldset.form-columns-3 .hs-form-field,
  form.hs-form .form-columns-2 .hs-form-field .hs-input, 
  form.hs-form .form-columns-3 .hs-form-field .hs-input { width: 100%; }
  form.hs-form .form-columns-3 .hs-form-field .hs-input[type="checkbox"] { width: auto; }
}


/* =============== Blog Comment Form =============== */

/* Label */
#comment-form .hs-form-field > label {}
#comment-form label {}

/* Inputs */
#comment-form input[type="text"] {}
#comment-form input[type="text"]:focus {}

#comment-form textarea {}
#comment-form textarea:focus {}

#comment-form input[type="checkbox"] {}


/* =============== Blog Subscription Form =============== */

/* Label */
#hs_form_target_blog_subscription .hs-form-field > label {}
#hs_form_target_blog_subscription label {}

/* Inputs */
#hs_form_target_blog_subscription input[type="email"] {}
#hs_form_target_blog_subscription input[type="email"]:focus {}
#hs_form_target_blog_subscription input[type="radio"], #hs_form_target_blog_subscription input[type="checkbox"] {
width: auto;
margin-right: 10px;
}

/* =============== Google Search Form =============== */

/* Label */
.widget-type-google_search label {}

/* Input */
.widget-type-google_search input[type="text"] {}
.widget-type-google_search input[type="focus"] {}


/* ==========================================================================
   7. BUTTONS                                        
   ========================================================================== */


/* =============== All Global Buttons (Excluding CTAs) =============== */

.hs-button.primary,
input[type="submit"],
input[type="button"] {
    cursor: pointer;
    -webkit-appearance: none;
    text-decoration: none !important;
    font-family: "Lato",sans-serif;
    display: inline-block;
    position: relative;
    border: 1px solid #ac1100;
    padding: 0.563em 1.125em 0.813em;
    cursor: pointer;
    font-size: 16px;
    font-weight: inherit;
    line-height: 1.3;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    background-color: #ff2a13;
    -webkit-transition: all 0.15s linear;
    transition: all 0.15s linear;
    color: #fff;
    border-color: #282b2d;
    background-color: #282b2d;
    margin-bottom: .25em;
    text-shadow: 0 0.075em 0.075em rgba(0,0,0,.5);
    box-shadow: 0 0.25em 0 0 #141516, 0 4px 9px rgba(0,0,0,0.75);
    width: auto;
    display:inline-block;
    margin-top:15px;
}

.hs-button.primary:hover,
input[type="submit"]:hover,
input[type="button"]:hover {
        color: #fff;
    border-color: #141516;
    background-color: #141516;
    text-shadow: 0 0.075em 0.075em rgba(0,0,0,.5);
    box-shadow: 0 0.25em 0 0 #000000, 0 4px 9px rgba(0,0,0,0.75);
}
.x-searchform-overlay-inner .widget-type-google_search .hs-button.primary {
    display: none;
}
.hs-button.primary:focus,
input[type="submit"]:focus,
input[type="button"]:focus {}


/* =============== Form Module Button =============== */

.hs_cos_wrapper_type_form .hs-button.primary.large {}
.hs_cos_wrapper_type_form .hs-button.primary.large:hover {}
.hs_cos_wrapper_type_form .hs-button.primary.large:focus {}


/* =============== Blog Comment Button =============== */

#add-comment-button.hs-button.primary {}
#add-comment-button.hs-button.primary:hover {}
#add-comment-button.hs-button.primary:focus {}


/* =============== Blog Subscription Button =============== */

#hs_form_target_blog_subscription .hs-button.primary.large {}
#hs_form_target_blog_subscription .hs-button.primary.large:hover {}
#hs_form_target_blog_subscription .hs-button.primary.large:focus {}


/* =============== Google Search Button =============== */

.widget-type-google_search .hs-button.primary {}
.widget-type-google_search .hs-button.primary:hover {}
.widget-type-google_search .hs-button.primary:focus {}


/* ==========================================================================
   8. MISCELLANEOUS                                      
   ========================================================================== */
   .hs-two-column-right-page .body-container{
           background-color: #f3f3f3;
   }
   .hs-two-column-right-page  .main-content {
    margin-top: 17.5px;
}

.hs-two-column-right-page  .main-content blockquote {
    margin: 2.15em 0;
    border: 1px solid #e5e5e5;
    border-left: 0;
    border-right: 0;
    padding: 1em 0;
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 128.6%;
    font-weight: 400;
    line-height: 1.6;
    color: #272727;
}

.hs-two-column-right-page  .main-content blockquote:before,.hs-two-column-right-page  .main-content blockquote:after {
    content: "";
    content: " ";
}


.hs-two-column-right-page  .main-content blockquote p {
    margin: 0;
    margin: 0 0 2.15em;
    line-height: 1.6;
}
ul.hs-error-msgs.inputs-list {
    color: red;
    font-size: 18px;
        margin: 0;
}
[data-x-icon]:before, [class*="x-icon-"]:before {
    content: attr(data-x-icon);
    line-height: 1;
}
[data-x-icon], [class*="x-icon-"] {
    display: inline-block;
    font-family: "FontAwesome";
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.hs-two-col-right-header h1 {
    letter-spacing: -1px;
    line-height: 1.1;
    color: #ed790c;
    margin: 64.28px 0 10.28px;
    font-size: 51.42px;
}


.hs-two-column-right-with-form-page .content-wrapper {
    padding: 0;
}

.hs-two-col-right-header {
    padding: 45px 0;
}

.body-container.container-fluid .row-fluid .page-center.content-wrapper {
    max-width: 1200px;
}
.hs-two-col-right-group {
    padding: 45px 0;
}

.hs-two-col-right-group .row-fluid .span4 {
    width: 30.66666%;
    margin-right: 4%;
}

.hs-two-col-right-group .row-fluid .span8 {
    width: 65.33332%;
    margin-left: 0;
}
.hs-two-column-right-with-form h3 {
    display: none;
}

.hs-two-column-right-with-form .hs-input {
    max-width: 100%;
}

.hs-two-column-right-with-form {
    display: block;
    position: relative;
    text-align: left;
    padding: 10px 0 10px 3%;
}

.hs-two-column-right-with-form .hs-input {
    border: 1px solid #ABB0B2;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    display: block;
    width: 100%;
    padding: 8px 0;
    text-indent: 2%;
    line-height: 30px;
    margin: 0;
    outline: 0;
    font-size: 14px;
}
.hs-two-column-right-with-form ul.hs-error-msgs.inputs-list {
    margin: 2px 0 1em 0;
    padding: 5px 10px;
    background-color: rgba(255,255,255,0.85);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 14px;
    font-weight: normal;
    z-index: 1;
    color: #e85c41;
    font-family: Helvetica, Arial, sans-serif;
    padding-left: 15px !IMPORTANT;
}
.hs-two-column-right-with-form .hs-form-field > label {
       font-size: 14px;
    line-height: 1.8;
    font-family: Helvetica, Arial, sans-serif;
    margin-bottom: 2px;
}

.hs-two-column-right-with-form .hs-form-field {
    clear: left;
    position: relative;
    width: 96%;
    padding-bottom: 3%;
    min-height: 50px;
}

.hs-two-column-right-with-form input.hs-button.primary.large {
    clear: both;
    background-color: #aaa;
    border: 0 none;
    border-radius: 4px;
    transition: all 0.23s ease-in-out 0s;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: normal;
    height: 32px;
    line-height: 32px;
    margin: 0 5px 10px 0;
    padding: 0 22px;
    text-align: center;
    text-decoration: none;
    vertical-align: top;
    white-space: nowrap;
    width: auto;
    text-transform: capitalize;
}

.hs-two-column-right-with-form input.hs-button.primary.large:hover {
    background-color: #777;
}
.indicates-required {
    text-align: right;
    font-size: 11px;
    margin-right: 4%;
    font-family: Helvetica, Arial, sans-serif;
    margin-bottom: 7px;
}

span.asterisk {
    color: #e85c41;
    font-size: 150%;
    font-weight: normal;
    position: relative;
    top: 5px;
    line-height: normal;
}

.hs-two-column-right-with-form span.hs-form-required {
    display: inline-block;
    color: #e85c41;
    font-size: 150%;
    font-weight: normal;
    position: relative;
    top: 5px;
    line-height: normal;
}
.hs-two-column-right-with-form .hs-input.invalid {
    border: 2px solid #e85c41;
}
.hs-two-column-right-with-form ul.hs-error-msgs.inputs-list {
    margin: 2px 0 1em 0;
    padding: 5px 10px;
    background-color: rgba(255,255,255,0.85);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 14px;
    font-weight: normal;
    z-index: 1;
    color: #e85c41;
    font-family: Helvetica, Arial, sans-serif;
}
.hs-two-column-right-with-form {
    display: block;
    position: relative;
    text-align: left;
    padding: 10px 0 10px 3%;
    margin: 0 0 76px;
}
.hs-two-col-bottom-flexi blockquote {
    margin: 0;
    margin-top: 77px;
    margin-bottom: 1.5em;
    position: relative;
    border: 1px solid rgba(0,0,0,0.125);
    padding: 2.35em;
    font-size: 21px;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
}

.hs-two-col-bottom-flexi blockquote h2 {
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 2.15em;
    line-height: 1.1;
}

blockquote p:first-of-type {
    position: relative;
    margin: 0.5em 0 1em;
    padding: 0;
    line-height: 1.5;
}

a.x-btn {
    font-size: 1em;
    -webkit-transition: all 0.15s linear;
    transition: all 0.15s linear;
    line-height: 1.3;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    display: inline-block;
    position: relative;
    background-color: #ef790c;
    border: 0!important;
    box-shadow: none;
    padding: 10px;
    border-radius: 5px;
    margin: 0px;
    color: #fff;
    margin-bottom: .25em;
    text-shadow: 0 0.075em 0.075em rgba(0,0,0,.5);
    font-family: Lato, sans-serif;
    font-weight: bold;
    margin-bottom: 6px;
    margin-top: -1px;
}

a.x-btn i {
    margin-right: .5em;
}
.hs-iframe-wrapper {
    padding: 90px 0px 0;
}
.hs-two-column-right-bottom-pane-page .body-container {
    padding-bottom: 50px;
}
.hs-three-col-equal {
    float: left;
    width: 30.66666%;
     margin-right: 4%;
}

.hs-three-col-equal.col3 {
    margin-right: 0;
}
.hs-three-col-equal.col1 span {
    visibility: hidden;
}

.hs-three-col-equal-wrapper {
    padding: 75px 0 0;
    padding-bottom: 0;
}

.hs-three-col-equal-wrapper a.x-btn.x-btn-global {
    font-size: 16px;
}
a.x-btn.x-btn-global:hover {
    background-color: #ef790c !IMPORTANT;
}
.hs-programs-page  h1 {
    letter-spacing: -1px;
    line-height: 1.1;
    font-size: 51.42px;
    color: #ed790c;
    text-align: center;
    margin: 42.28px 0 11px;
}
.hs-program-top-flexi p {
    font-size: 18px;
}

.hs-programs-page .body-container.container-fluid .row-fluid .page-center.content-wrapper {
    
}
.hs-programs-page .body-container.container-fluid .row-fluid .page-center.content-wrapper .main-content {
        width: 88% !IMPORTANT;
    margin: 0 auto !important;
    float: none !IMPORTANT;
    padding-left: 14px;
    padding-right: 14px;
}
.x-accordion-group {
    margin: 0 0 10px;
    border: 1px solid rgba(0,0,0,.125);
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
}

.x-accordion-heading {
    overflow: hidden;
    border-bottom: 0;
}

.x-accordion-heading a {
    background-color: #7fbd36;
    text-transform: uppercase;
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    -webkit-transition: color 0.3s ease,background-color 0.3s ease;
    transition: color 0.3s ease,background-color 0.3s ease;
    display: block;
    border: 0;
    padding: 10px 15px;
    font-size: 20.7px;
    text-decoration: none;
    cursor: pointer;
    box-shadow: none;
    color: #fff;
}

.x-accordion-inner {
    padding: 10px 15px;
    border-top: 1px solid rgba(0,0,0,.125);
    font-size: 18px;
}

.x-accordion-inner a.x-btn {
    font-size: 13px;
    margin-bottom: 3px;
}
a.x-accordion-toggle:before {
    content: "\f067";
    position: relative;
    display: inline-block;
    bottom: .1em;
    margin-right: 10px;
    font-size: 74%;
    color: rgba(0,0,0,.25);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    font-family: "FontAwesome"!important;
    font-style: normal!important;
    font-weight: normal!important;
    text-decoration: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
}
.hs-program-bottom-flexi {
    padding: 90px 0px 0;
}
.x-accordion-body{
    display:none;
}
.x-accordion-heading a.active:before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.hs-full-width-page .content-wrapper {
    padding-top: 45px;
    padding-bottom: 45px;
}

.hs-header-module h2 {
    color: #ed790c;
    letter-spacing: -1px;
    line-height: 1.1;
    font-size: 51.24px;
    margin-bottom: 20px;
}

.hs-full-width-page .main-content {
    font-size: 18px;
}

a.x-btn.x-btn-global {
    font-size: 16px;
}

.hs-full-width-page .main-content h4 {
    letter-spacing: -1px;
    line-height: 1.1;
    margin-top: 64px;
    margin-bottom: 16px;
}
.coy-registration-part-2-section {
    background: #f3f3f3;
}

.coy-registration-part-2-section h1 {
    font-size: 37.76px;
    margin: 30px 0 34px;
}
.blog .coy-registration-part-2-section h1 {
  
   text-transform: capitalize
}


.hs-coy-registration-part-2  .content-wrapper {
    padding-top: 52px;
    padding-bottom: 45px;
    max-width: 1170px !IMPORTANT;
}

.hs-coy-registration-part-2 .main-content iframe {
    max-width: 100%;
    width: 100%;
}
a.x-btn.x-btn-square {
    margin-top: 100px;    
    font-size: 19px;
}
.hs-about-page .hs-section-header-wrapper {
    margin: 0px;
    padding: 100px 0px 40px;
}

.hs-about-page .hs-section-header-wrapper h2 {
    letter-spacing: -1px;
    line-height: 1.1;
    margin: 0;
    font-size: 51.42px;
    color: #fff;
}
.hs-about-section1 .hs_cos_wrapper_type_rich_text {
    text-align: center;
    padding: 0px 8.1%;
}

.hs-about-section1 .hs_cos_wrapper_type_rich_text h2 {
    letter-spacing: -1px;
    line-height: 1.1;
    margin: 0;
    font-size: 51.42px;
    margin-bottom: 18px;
}

.hs-about-section1 {
    margin: 0px;
    padding: 40px 0px 100px;
    background-color: transparent;
}

.hs-about-section1 .hs_cos_wrapper_type_rich_text p {
    font-size: 18px;
}

.hs-about-section1 .hs_cos_wrapper_type_rich_text p:last-of-type {
    margin-bottom: 0;
    margin-top: 18px;
}

.hs-about-section1 .hs_cos_wrapper_type_rich_text p {
    margin-bottom: 0;
}

.hs-about-section1 .hs_cos_wrapper_type_rich_text h3 {
    margin: 0;
    font-size: 41.13px;
    letter-spacing: -1px;
    line-height: 1.1;
}

.hs-four-col-equal {
    width: 22%;
    float: left;
    margin-right: 4%;
}

.hs-four-col-equal.col4 {
    margin-right: 0;
}
.hs-about-page .hs-four-col-equal.col4 {
    margin-right: 0;
        padding: 15px;
}
.hs-about-section1  .hs-four-col-equal img {
    border-radius: 100em;
    max-width: 130px;
    margin-bottom: 19px;
    display: inline-block;
}

.hs-about-section1  .hs-four-col-equal-inner {
    text-align: center;
        margin-top: 0;
}

.hs-about-section1  .hs-four-col-equal-wrapper {
    margin-top: 50px;
}

.hs-about-section1  .hs-four-col-equal h4 {
    margin: 0;
    padding: 0;
    font-size: 27px;
    line-height: 1.3;
}

.hs-about-section1  .hs-four-col-equal h4 a {
    color: #272727;
}

.hs-about-section1  .hs-four-col-equal p {
    margin: 8px 0 0;
    font-size: 18px;
}
.hs-two-column-top-image-wrapper {
    background-color: rgb(36, 40, 43);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.hs-two-column-top-image-col {
    display: table-cell;
    margin-right: 0;
    float: none;
    vertical-align: top;
    width: 50%;
    padding: 6.5%;
}

.hs-two-column-top-image-inner {
    display: table;
    table-layout: fixed;
    position: relative;
}

.hs-two-column-top-image-col.col1 {
    text-align: right;
}

.hs-two-column-top-image-col h4 {
    margin: 15.24px 0;
    color: #fff;
    font-size: 30.85px;
    letter-spacing: -1px;
    line-height: 1.1;
}

.hs-two-column-top-image-col img {
    margin-bottom: 27px;
}

.hs-two-column-top-image-col p {
    margin: 0;
    font-size: 18px;
}
.hs-about-section3 {
    padding: 100px 0;
}

.hs-about-section3 .hs_cos_wrapper_type_rich_text {
    text-align: center;
}

.hs-about-section3 .hs_cos_wrapper_type_rich_text h2 {
    letter-spacing: -1px;
    line-height: 1.1;
    margin: 0;
    font-size: 51.42px;
}

.hs-three-column-left-icon-col {
    float: left;
    margin-right: 4%;
    width: 30.66666%;
}

.hs-three-column-left-icon-col.col3 {
    margin-right: 0;
}

.hs-three-column-left-icon-wrapper {
    margin: 50px auto 0px;
    padding: 0px;
}

h5.h-feature-headline {
    line-height: 1.1;
    font-size: 27px;
}

h5.h-feature-headline
 span {
    display: inline-block;
    position: relative;
    padding-left: 1.5em;
}

h5.h-feature-headline span i {
    position: absolute;
    top: 50%;
    left: 0;
    width: 2em;
    height: 2em;
    margin-top: -1em;
    font-size: 0.65em;
    letter-spacing: 0;
    line-height: 2em;
    text-align: center;
    color: currentColor;
    background-color: rgba(0,0,0,0.125);
    border-radius: 100em;
}

.hs-three-column-left-icon-col p {
    margin: 0;
    font-size: 18px;
}

.hs-about-page .body-container.container-fluid .row-fluid .page-center{
    max-width:1200px;
}
a.x-btn.x-btn-flat.x-btn-global {
    margin-bottom: 0;
}
a.x-creative-cta.slide-right {
     display: block;
    overflow: hidden;
    position: relative;
    border: 0;
    text-align: center;
    text-decoration: none;
    box-shadow: none;
    -webkit-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
        padding: 65px 50px 65px 50px;
    color: #ffffff;
    background-color: hsl(88, 56%, 48%);
}

a.x-creative-cta.slide-right span.text {
    display: block;
    -webkit-transition: all 0.65s cubic-bezier(0.23, 1, 0.32, 1);
    transition: all 0.65s cubic-bezier(0.23, 1, 0.32, 1);
    line-height: 1.2;
    opacity: 1;
    font-size: 45px;
}

a.x-creative-cta.slide-right span.graphic {
    display: block;
    -webkit-transition: all 0.65s cubic-bezier(0.23, 1, 0.32, 1);
    transition: all 0.65s cubic-bezier(0.23, 1, 0.32, 1);
    position: absolute;
    top: 50%;
    left: 50%;
    line-height: 1;
    opacity: 0;
    -webkit-transform:translate(-50%, -50%) scale(0);
    transform: translate(-50%, -50%) scale(0);
    margin: 0;
    font-size: 75px;
}

a.x-creative-cta.slide-right:hover span.text {
    -webkit-transform: translate(80%, 0);
    -ms-transform: translate(80%, 0);
    transform: translate(80%, 0);
    opacity:0;
}

a.x-creative-cta.slide-right:hover span.graphic {
     -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}
.post-item:last-of-type {
    border-bottom: 1px solid rgba(0,0,0,0.15);
    padding-bottom: 35px;
}
i.x-icon-arrow-circle-right:before {
    content: "";
}
i.x-icon-arrow-right:before {
    content: "";
}
.hs-blog-post .entry-featured {
    margin-top: -35px;
    margin-right: -35px;
    width:100%;
    float: none;
        margin-bottom: 35px;
}

.hs-blog-post .entry-featured img {
    width: 100%;
}

.hs-blog-post .hs-blog-content-wrapper .row-fluid .span9 {
    padding-right: 0;
}
.x-nav-articles {
    float: right;
    width: 82px;
    margin-left: 35px;
}
.x-nav-articles a {
    position: relative;
        display: block;
    width: 38px;
    height: 42px;
    font-size: 18px;
    line-height: 42px;
    border: 1px solid #333;
    text-align: center;
    color: #333;
    background-color: #fff;
    -webkit-transition: color 0.3s ease,background-color 0.3s ease;
    transition: color 0.3s ease,background-color 0.3s ease;
        color: #272727;
            border-color: #272727;
            z-index: 9;
}
.x-nav-articles .prev {
    float: left;
    right: -1px;
}
.x-nav-articles .next {
    float: right;
}
.hs-blog-post-body {
    padding-right: 35px;
}

.hs-blog-post-body h1 {
    color: #272727;
    margin: 0;
    line-height: 1.1;
    font-size: 36px;
}
.p-meta a {
    color: #272727;
}

.p-meta a:hover {
    color: #02aed6;
}
.hs-section-post-body {
    margin-top: 17px;
}
.hs-home-page-section-wrapper {
    padding: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.hs-home-page-section-wrapper h2 {
    color: #000000;
    letter-spacing: -1px;
    line-height: 1.1;
    margin: 0;
    font-size: 51.42px;
}

.hs-home-page-section-content {
    text-align: center;
}

.hs-home-page-section-wrapper p {
       margin: 56px 0 0;
    color: #3b3939;
}
.hs-home-page-section-inner .page-center {
    padding: 0px 5%;
}

.hs-home-page-section-wrapper a.x-btn.x-btn-flat.x-btn-large {
    font-size: 19px;
    margin: 0px 0 0;
}
.hs-home-section1 .x-feature-box-graphic.circle {
    display: inline-block;
    margin: 0 0 10px;
}

.hs-home-section1 .x-feature-box-graphic-outer.circle {
    position: relative;
    z-index: 2;
}

.hs-home-section1 .x-feature-box-graphic-inner.circle {
    position: relative;
    z-index: 2;
    width: 1em;
}

.hs-home-section1 i.circle {
    display: block;
    position: relative;
    width: 1em;
    height: 1em;
    text-align: center;
    border-radius: 100em;
    margin: 0 auto;
    border-width: 4px 4px 4px 4px;
    border-style: solid;
    border-color:;
    color: hsl(88, 56%, 48%);
    background-color: transparent;
}
.hs-home-section1 .x-feature-box-graphic i:before {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 1em;
    margin-top: -0.5em;
    font-size: 0.395em;
    line-height: 1;
}
h2.h-custom-headline.man {
    text-align: center;
    color: #fff;
    letter-spacing: -1px;
    line-height: 1.1;
    margin: 0;
}

.hs-four-col-equal-wrapper.with-background {
    background-color: rgb(38, 41, 44);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    padding: 100px 0px;
}

.hs-four-col-equal-wrapper.with-background .hs-four-col-equal {
    text-align: center;
}

.hs-four-col-equal-wrapper.with-background.clearfix {}

.hs-four-col-equal-inner {
    margin: 50px 0 0;
}

.hs-four-col-equal-wrapper.with-background .page-center {
    max-width: 1200px;
}

.hs-four-col-equal-wrapper.with-background h4 {
    margin: 0;
    padding: 0;
    font-size: 1.5em;
    line-height: 1.3;
    color: #fff;
}

.hs-four-col-equal-wrapper.with-background p {
    margin: 8px 0 0;
}
.hs-botom-link {
    text-align: center;
    margin-top: 50px;
}
i.x-icon-pencil.circle:before {
    content: "";
}

i.x-icon-line-chart.circle:before {
    content: "";
}

i.x-icon-laptop.circle:before {
    content: "";
}

i.x-icon-comments.circle:before {
    content: "";
}
.hs-botom-link a.x-btn {
    background-color: #7FBD36;
    border-color: #7FBD36;
    font-size: 19px;
    margin: 0;
}
.hs-botom-link a.x-btn:hover {
    background-color: #ef790c;
}
.hs-home-section2 {
    padding: 50px 0px;
    background-color: #ed790c;
}

.hs-home-section2 .hs-three-col-equal-wrapper {
    padding: 0;
}

.hs-home-section2 .hs-three-col-equal {
    text-align: center;
}

.hs-home-section2 .hs-three-col-equal h6 {
    font-size: 3.25em;
    line-height: 1;
    margin: 0;
    color: #fff;
    font-family: Lato, sans-serif;
    letter-spacing: 0;
}

.hs-home-section2 .hs-three-col-equal p {
    display: block;
    letter-spacing: 0.125em;
    line-height: 1.5;
    text-transform: uppercase;
    margin-top: 0.5em;
    margin-bottom: 0;
    color: #333333;
}
 .hs-home-section2 .page-center,.hs-home-section3 .page-center {
    max-width: 1200px !important;
}
.hs-home-section3 {
    padding: 50px 0px;
}


.hs-home-section3 .widget-span.widget-type-rich_text {
    width: 16.8%;
    text-align: center;
    margin-right: 4%;
    margin-left: 0;
}

.hs-home-section3 .widget-span.widget-type-rich_text img {
    padding: 5px;
    border: 1px solid rgba(0,0,0,0.125);
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    -webkit-transition: border 0.3s ease,box-shadow 0.3s ease;
    transition: border 0.3s ease,box-shadow 0.3s ease;
}

.hs-home-section3 .widget-span.widget-type-rich_text:last-child {
    margin-right: 0;
}

.hs-home-section3 .widget-span.widget-type-rich_text:first-child img,.hs-home-section3 .widget-span.widget-type-rich_text:last-child img {
    border: 0;
    box-shadow: none;
    padding: 0;
}
span.filter-link-count {
    display: none;
}
.hs-portfolio-page.hs-blog-post .hs-blog-content-wrapper:before {
       display: none;
}
a.entry-parent {
    display: block;
    height: 42px;
    font-size: 18px;
    line-height: 42px;
    border: 1px solid #333;
    text-align: center;
    background-color: #fff;
    -webkit-transition: color 0.3s ease,background-color 0.3s ease;
    transition: color 0.3s ease,background-color 0.3s ease;
    width: 46px;
    color: #272727;
    border-color: #272727;
    float: left;
}

.blog.hs-portfolio-page.hs-blog-post .body-container {
    background: #fff;
}

.blog.hs-portfolio-page.hs-blog-post .entry-featured {
    margin-top: 0;
    float: left;
    padding-right: 35px;
    width: 68%;
}

.hs-entry-top-navigation {
    margin-bottom: 35px;
        margin-top: 1px;
}

.blog.hs-portfolio-page.hs-blog-post .entry-wrap-cf {
    float: right;
    width: 32%;
        margin-bottom: 35px;
}

.blog.hs-portfolio-page.hs-blog-post .entry-wrap-cf .hs-section-post-body {
    margin-top: 0;
}

.blog.hs-portfolio-page.hs-blog-post .entry-wrap-cf .hs-section-post-body h2 {
    margin-top: 73px;
    font-size: 19.2px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0.4em;
}

.blog.hs-portfolio-page.hs-blog-post .entry-wrap-cf .hs-section-post-body a.x-btn.x-btn-block {
       display: block;
    width: 100%;
    color: #fff;
    border-color: #282b2d;
    background-color: #282b2d;
    margin-bottom: .25em;
    text-shadow: 0 0.075em 0.075em rgba(0,0,0,.5);
    box-shadow: 0 0.25em 0 0 #141516, 0 4px 9px rgba(0,0,0,0.75);
    font-size: 16px;
    border-radius: 0;
    margin-top: 8px;
    padding: 10px 0 14px;
}
.blog.hs-portfolio-page.hs-blog-post .entry-wrap-cf .hs-section-post-body a.x-btn.x-btn-block:hover {
    color: #fff;
    border-color: #141516;
    background-color: #141516;
    text-shadow: 0 0.075em 0.075em rgba(0,0,0,.5);
    box-shadow: 0 0.25em 0 0 #000000, 0 4px 9px rgba(0,0,0,0.75);
}
div#comments-listing.no-comments {
    display: none;
}
.x-nav-articles a:hover ,a.entry-parent:hover{
    background-color: #272727;
    color: #fff;
}
.blog-sidebar ul li a:hover {
    text-decoration: none;
}
.x-searchform-overlay-inner .widget-type-google_search .hs-input:focus {
    outline: none;
}
p.hs-two-image span {
    width: 48%;
    float: left;
    margin-right: 4%;
}

p.hs-two-image span:last-child {
    margin-right: 0;
}

p.hs-two-image {
    width: 88%;
    margin: 0 auto;
    padding: 45px 0px;
}
div#comment-form {
    font-size: 16px;
        margin-top: 60px;
}
.hs-two-column-right-with-form select.hs-input {
    text-indent: 0;
    height: 37px;
    border-color: rgba(0,0,0,0.1);
}
.hs-error-pages .main-content label,.hs-error-pages .main-content a.hs-button.primary {
    display: none;
}
h3#reply-title {
    overflow: hidden;
    margin: 0 0 35px;
    font-size: 150%;
    line-height: 1.05;
}
#reply-title span {
    position: relative;
}
#reply-title span:before, #reply-title span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    display: block;
    margin-top: 0;
    border-top: 1px solid rgba(0,0,0,0.1);
}
 #reply-title span:before {
    right: 100%;
    margin-right: 0.75em;
}
 #reply-title span:after {
    left: 100%;
    margin-left: 0.75em;
}

.hs-error-pages .main-content {
    max-width: 750px;
    margin: 35px auto 1.313em !IMPORTANT;
    font-size: 1.5em;
    float: none !IMPORTANT;
}

.hs-error-pages .body-container.container-fluid .row-fluid .page-center.content-wrapper {
    padding-top: 0;
    padding-bottom: 0;
}

.hs-error-pages .custom_error_message {
    text-align: center;
}

.hs-error-pages  form.hs-form {
    max-width: 500px;
    margin: 0 auto;
    position: relative;
}

.custom_error_message p {
    margin-bottom: 31px;
}


.hs-error-pages  form.hs-form .hs-input {
        width: 100%;
    margin-bottom: 0;
    padding-left: 38px !IMPORTANT;
    height: 56px !important;
    font-size: 16px !IMPORTANT;
    line-height: normal !IMPORTANT;
}
.blog.hs-blog-post .blog-sidebar ul li {
    border-top: 0;
    border-bottom: 0 !important;
}

.blog.hs-blog-post .blog-sidebar ul li:first-child {
    border-top: 1px solid rgba(0,0,0,0.085);
}
.hs-error-pages .main-content form.hs-form:before {
    content: "\f002";
    position: absolute;
    left: 16px;
    bottom: 50%;
    display: block;
    margin-bottom: -6px;
    font-size: 12px;
    line-height: 1;
    text-decoration: inherit;
    text-shadow: none;
    color: #7a7a7a;
    font-family: "FontAwesome" !important;
    font-style: normal !important;
    font-weight: normal !important;
    text-decoration: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
i.x-icon.user:before {
    content: "";
}

i.x-icon:before {
    display: inline-block;
    font-family: "FontAwesome";
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

i.x-icon.sign-language:before {
    content: "";
}

i.x-icon.thumbs-up:before {
    content: "";
}
/* Styles that do not fit into any of the available sections above can go here. */


/* ==========================================================================
   9. MEDIA QUERIES                              
   ========================================================================== */


/* =============== Screen sizes smaller than .page-center =============== */
@media (max-width: 925px) and (min-width:768px) {
    .hs-four-col-equal-wrapper.with-background h4 {
        font-size: 21px;
    }
    .hs-home-section2 .hs-three-col-equal h6 {
        font-size: 50px;
    }
}
@media (max-width: 1360px) {
    .hs-programs-page .body-container.container-fluid .row-fluid .page-center.content-wrapper .main-content{
            padding-left:0;
            padding-right: 0;
    }
}
@media (max-width: 1140px) {
    
   .custom-menu-primary .hs-menu-wrapper > ul > li > a {
        padding-left: 10px;
        padding-right: 10px;
    } 
    
}

@media (max-width: 980px) {
    .hs-no-nav-search {
        display: none !IMPORTANT;
    }
    .hs-header.no-navi .mobile-trigger {
        display: none !IMPORTANT;
    }
    .hs-two-column-right-page .body-container {
        background: #fff;
    }
    .blog.hs-portfolio-page.hs-blog-post .entry-featured {
        width: 100%;
        padding-right: 0;
    }
    
    .blog.hs-portfolio-page.hs-blog-post .entry-wrap-cf {
        width: 100%;
    }
    .hs-header {
        
        padding-bottom: 18px;
    }
    li.hs-menu-item.hs-menu-depth-1.x-menu-item-search a {
        margin: 0 0 7px!IMPORTANT;
        background-color: transparent;
        text-align: center;
    }
    
    li.hs-menu-item.hs-menu-depth-1.x-menu-item-search {
        margin: 22px 0 0;
        text-align: center;
    }
    
    li.hs-menu-item.hs-menu-depth-1.x-menu-item-search i.x-icon-search {
        margin-right: 0px;
            width: auto !important;
    }
    span.x-hidden-desktop {
        display: inline;
            width: auto;
    }
    .hs-blog-content-wrapper .row-fluid .span9,.hs-blog-content-wrapper .row-fluid .span3 {
        WIDTH: 100%;
        PADDING-LEFT: 0;
        PADDING-RIGHT: 0;
    }
    
    .hs-blog-content-wrapper:before {
        DISPLAY: NONE;
    }
    
    .blog .body-container {
        BACKGROUND: #FFF;
    }
    .hs-blog-content-wrapper .row-fluid .span3 {
        margin-top: 70px;
    }
    .mobile-open .mobile-trigger {
        color: #fff;
    }
    .custom-menu-primary .hs-menu-wrapper > ul li.child-open >a {
        color: #d3840d;
    }
}
/* =============== Landscape tablet and smaller devices =============== */
@media (max-width: 767px) {
    input[type="text"],
input[type="password"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="date"], 
input[type="month"], 
input[type="time"], 
input[type="week"], 
input[type="number"], 
input[type="email"], 
input[type="url"], 
input[type="search"], 
input[type="tel"], 
input[type="color"],
input[type="file"],
textarea,
select {
    max-width:100%;
}
    .hs-four-col-equal-wrapper.with-background {
        background-position: center center;
    }
    p.hs-two-image span {
        width: 100%;
        margin-bottom: 1.5em;
    }
    .hs-four-col-equal-wrapper.with-background .hs-four-col-equal {
        max-width: 250px;
        margin: 0 auto 50px !IMPORTANT;
        float: none;
    }
    .x-nav-articles {
        display: none;
    }
    .hs-four-col-equal {
        width: 100%;
        margin-right: 0;
            margin-bottom: 50px;
    }
    .hs-two-column-top-image-wrapper {
        padding: 10px;
    }
    .hs-two-column-top-image-col {
        display: block;
        width: 100%;
        vertical-align: inherit;
        width: 100%;
    }
    
    
    .hs-three-column-left-icon-col {
        width: 100%;
        margin-right: 0;
    }
    
    a.x-btn.x-btn-flat.x-btn-global {
        margin-top: 50px;
    }
    .hs-four-col-equal.col4 {
        margin-bottom: 0;
        padding: 15px;
    }
    .hs-two-col-right-group .row-fluid .span4, .hs-two-col-right-group .row-fluid .span8 {
        width: 100%;
        margin-right: 0;
    }
    .hs-sidebar.right img {
        margin-bottom: 1.5em;
    }
   .coy-registration-part-2-section h1 {
        text-align: center;
    }
    .hs-about-section1 .hs_cos_wrapper_type_rich_text {
        padding: 0px 5.1%;
    }
    .entry-featured {
        width: 100%;
        margin: 0 0 2.15em;
    }
    
    .entry-wrap.with-feature {
        width: 100%;
        padding-left: 0;
    }
    .hs-four-col-equal-wrapper.with-background .hs-four-col-equal.col4 {
        padding: 0;
    }
    .hs-botom-link {
        text-align: center;
        margin-top: 0px;
    }
    
    .hs-home-section2 .hs-three-col-equal {
        margin-bottom: 50px;
    }
    .hs-home-section2 .hs-three-col-equal:last-child {
        margin-bottom: 0;
    }
    .hs-home-section3 .widget-span.widget-type-rich_text {
        width: 100%;
        margin-right: 0;
        margin-top: 50px;
    }
   .hs-portfolio-page .x-nav-articles {
        display: block;
    }
     .hs-three-col-equal {
        width: 100%;
        margin-right: 0;
    }
    .custom_error_message p {
        font-size: 20px;
        margin-bottom: 26px;
    }
    .hs-error-pages .body-container.container-fluid .row-fluid .page-center.content-wrapper {
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0;
    }
    
    .hs-home-page .hs-four-col-equal-wrapper.with-background {
        background-attachment: fixed;
    }
}

@media (max-width: 700px) {
    div#comment-form {
        margin-top: 20px;
    }
    .hs-about-section3 {
        padding: 10px;
    }
    .hs-full-width-page .main-content h4 {
        font-size: 34px;
    }
   .hs-two-col-bottom-flexi blockquote a.x-btn {
        font-size: 18px;
    }
    .x-searchform-overlay-inner .widget-type-google_search label {
        font-size: 12.6px;
        margin-bottom: 10px;
    }
    .x-searchform-overlay-inner .widget-type-google_search .hs-input {
        font-size: 56.4px;
    }
    .hs-home-page-section-wrapper h2,h2.h-custom-headline.man {
        font-size: 34px;
    }

    .hs-about-page .hs-section-header-wrapper {
        padding: 10px;
    }
    .hs-home-page-section-wrapper, .hs-four-col-equal-wrapper.with-background, .hs-home-section2,.hs-home-section3 {
        padding: 10px;
    }
    .hs-home-page-section-wrapper p {
        margin-top: 37px;
    }


    .hs-about-page .hs-section-header-wrapper h2, .hs-about-section1 .hs_cos_wrapper_type_rich_text h2, .hs-about-section1 .hs_cos_wrapper_type_rich_text h3,.hs-about-section3 .hs_cos_wrapper_type_rich_text h2 {
        font-size: 34px;
    }
    .hs-about-section1 {
        padding: 10px;
    }
    .hs-two-column-top-image-col h4 {
        font-size: 34px;
    }
    a.x-btn.x-btn-square {
        margin-top: 20px;
    }
    .hs-header-module h2 {
        font-size: 34px;
        margin-bottom: 25px;
    }
    
    .hs-full-width-page .content-wrapper {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .hs-programs-page h1 {
        font-size: 34px;
    margin-top: 78px;
    margin-bottom: 6px;
    }
    .hs-program-bottom-flexi {
        padding: 21px 0px 0;
    }
    .hs-two-col-bottom-flexi blockquote h2 {
        font-size: 34.4px;
    }
    .hs-two-col-bottom-flexi blockquote p {
        font-size: 16px;
    }
    .hs-two-col-bottom-flexi blockquote {
            margin-top: 35px;
                padding: 37.6px;
    }
    .hs-section-header-wrapper {
        padding: 10px 10px 1px;
    }
    
    .hs-section-header-wrapper h1 {
        font-size: 34px;
    }
    .hs-iframe-wrapper {
        padding: 20px 0px 0 !important;
    }
    .hs-section-header-wrapper h3 {
        font-size: 25px;
    }
    
    .hs-section-header-wrapper h3 span {
        padding-left: 37px;
    }
    
    .hs-section-header-wrapper p {
        margin-bottom: 13px;
    }
    .content-wrapper {
        padding: 10px;
    }
    .hs-get-right-content h2 {
        font-size: 34px;
    }
    
    .hs-get-right-content p {}
    
    .hs-get-in-touch-form {
        margin-bottom: 50px;
    }
    .hs-two-col-right-header h1 {
        font-size: 34px;
        margin-top: 42px;
    }
    
    .hs-two-col-right-header {
        padding: 10px 0;
    }
    
    .hs-two-col-right-group {
        padding: 10px 0;
    }
    
    .hs-two-column-right-bottom-pane-page .body-container {
        padding-left: 10px;
        padding-right: 10px;
    }
    .hs-three-col-equal-wrapper {
        padding: 10px 0 0;
        padding-bottom: 0;
    }
   .hs-programs-page .body-container {
        padding-bottom: 50px;
    }
    .hs-about-page .hs-section-header-wrapper h1{
        font-size:34px !important;
    }
}  


/* =============== Landscape phones and smaller devices =============== */

@media (max-width: 479px) {
    .custom_error_message p {
        font-size: 16px;
    }
    .hs-two-col-bottom-flexi blockquote a.x-btn {
        font-size: 16px;
    }
}
@media (max-width: 340px){

    .hs-two-col-bottom-flexi blockquote h2 {
        font-size: 25.4px;
    }
}
