 /* Order of files */
/* this file is theme */
/* 1 LO_variables import to theme - styles - core */
/* 2 LO_styles include in theme */
/* 3 LO_theme include in core */
/* 4 LO_core attach to LO_master */

/* things on core - center - zigzag - right align - structural - mobile menu */
/* core always corresponds to sections */
/* things on theme - typography - spacing - colors - shadows - margins - background images */


  
 

 
 {% include "Custom/page/Templates/LO_styles.css" %}

 
.page-center {
    float: none !important;
    max-width: 1145px !important;
    margin: 0 auto !important;
}
.page-center-custom-right {
    float: right !important;
    max-width: 90%!important;
    margin: 0 auto !important;
}
.page-center-custom-left {
    float: left !important;
    max-width: 90%!important;
    margin: 0 auto !important;
}

@media(max-width: 767px) {
    .page-center-custom-right, .page-center-custom-left {
        float: none !important;
        max-width: 1145px !important;
        margin: 0 auto !important;
    }
}

body {
    margin: 0;
}

:target:before {
content:"";
display:block;
height:80px; /* fixed header height*/
margin:-80px 0 0; /* negative fixed header height */
}
.center-align {
    text-align: center;
}
.right-align {
    text-align: right;
}
.left-align {
    text-align: left;
}

.generic-padding {
    padding: 7% 15px;
}
.minimal-padding {
    padding: 0 15px;
}
.top-padding {
    padding-top: 40px;
}
.bottom-padding {
    padding-bottom: 40px;
}
.left-padding {
    padding-left: 40px;
}
.right-padding {
    padding-right: 40px;
}
.banner-bkg {
    background-size: cover !important;
    background-repeat: no-repeat !important;
}
.parallax {
    background-attachment: fixed !important;
}
.banner-padding {
    padding: 8% 10% 12%;
}
.narrow-section-padding {
    padding: 0 10%;
}
.banner-text-padding {
    padding: 0 15%;
}
.page-center-custom-left .z-text-padding {
    padding: 0 10%;
}
.white-bkg {
    background: #fff;
}
.border-radius {
    border-radius: {{ bbsvar.borderRadius }};
}

.row-fluid .span1.card, .row-fluid .span1.nested-card { width: 8.33%; }
.row-fluid .span2.card, .row-fluid .span2.nested-card { width: 16.66%; }
.row-fluid .span3.card, .row-fluid .span3.nested-card { width: 25%; }
.row-fluid .span4.card, .row-fluid .span4.nested-card { width: 33.33%; }
.row-fluid .span5.card, .row-fluid .span5.nested-card { width: 41.66%; }
.row-fluid .span6.card, .row-fluid .span6.nested-card { width: 50%; }
.row-fluid .span7.card, .row-fluid .span7.nested-card { width: 58.33%; }
.row-fluid .span8.card, .row-fluid .span8.nested-card { width: 66.66%; }
.row-fluid .span9.card, .row-fluid .span9.nested-card { width: 75%; }
.row-fluid .span10.card, .row-fluid .span10.nested-card { width: 83.33%; }
.row-fluid .span11.card, .row-fluid .span12.nested-card { width: 91.66%; }
.row-fluid .span12.card, .row-fluid .span12.nested-card { width: 100%; }

.card {
    padding: 0;
    border: 0;
    margin-left: 0 !important;
}
.nested-card {
    padding: 0;
    border: 0;
    overflow: hidden;
}

.columns5 {
    width: 20% !important;
    margin-left: 0 !important;
}

@media(max-width: 767px) {
    .row-fluid .span1.card, .row-fluid .span1.nested-card, 
    .row-fluid .span2.card, .row-fluid .span2.nested-card, 
    .row-fluid .span3.card, .row-fluid .span3.nested-card, 
    .row-fluid .span4.card, .row-fluid .span4.nested-card, 
    .row-fluid .span5.card, .row-fluid .span5.nested-card, 
    .row-fluid .span6.card, .row-fluid .span6.nested-card, 
    .row-fluid .span7.card, .row-fluid .span7.nested-card, 
    .row-fluid .span8.card, .row-fluid .span8.nested-card, 
    .row-fluid .span9.card, .row-fluid .span9.nested-card, 
    .row-fluid .span10.card, .row-fluid .span10.nested-card, 
    .row-fluid .span11.card, .row-fluid .span12.nested-card, 
    .row-fluid .span12.card, .row-fluid .span12.nested-card {
        width: 100%;
    }
    .right-align {
        text-align: center;
    }
    .columns5 {
        width: 100% !important;
    }
    .parallax {
        background-attachment: initial !important;
    }
}

@media(max-width: 767px){ 
    .left-padding {
        padding-left: 0;
    }
    .right-padding {
        padding: 0;
    }
    
}
h3.form-title {
    margin: 0;
    padding-bottom: 30px;
}
fieldset.form-columns-1 .hs-form-field {
    width: 100% !important;
    padding: 0;
    margin-right: 0;
}
fieldset.form-columns-2 .hs-form-field {
    padding: 0;
}
fieldset.form-columns-3 .hs-form-field {
    padding: 0;
}
fieldset {
    max-width: 100% !important;
}

div.actions {
    text-align: center;
}

@media(max-width: 767px) {
    fieldset.form-columns-2 .hs-form-field {
        width: 100% !important;
    }
}


.blog .static-socials{
    position: fixed;
    margin-left: -215px!important;
    margin-top: 122px;
    width: 75px;
}
.blog .static-socials .hs-blog-social-share .hs-blog-social-share-list .hs-blog-social-share-item{
    float: none;
    height: 50px;
}
.blog .static-socials .hs-blog-social-share .hs-blog-social-share-list .hs-blog-social-share-item-twitter{
    height: 35px;
}
.blog .static-socials-custom-share ul li{
    list-style-type: none;
}
.blog .static-socials-custom-share ul li .fa-2x{
    font-size: 22px;
}

.blog .author-image {
    width: 10% !important;
    float: left;
}
.blog .author-content {
    width: 90% !important;
    float: left;
}
.blog-post .post-body p, .blog-post .post-body span, .blog-post .post-body a {
    font-size: 20px;
    margin:5px 0 60px;
    font-weight: 300;
    line-height: 1.58;
}
.blog .mobile-socials {
    display: none;
}
.blog-comments {
    padding-top: 12% !important;
}



@media(max-width: 1160px) {
    .blog .static-socials {
        margin-left: -115px !important;
    }
}

@media(max-width: 960px) {
    .blog .static-socials {
        margin-left: -85px !important;
    }
}

@media(max-width: 900px) {
    .blog .static-socials {
        display: none;
    }
    .blog .mobile-socials {
        display: block;
    }
    .blog .static-socials-custom-share ul {
        margin: 0;
        padding: 0;
    }
    .blog .static-socials-custom-share ul li {
        width: 35px;
        float: left;
        padding-bottom: 20px;
    }
    .blog .static-socials-custom-share ul li.label {
        width: 100%;
        padding-bottom: 0;
    }
    .blog .static-socials-custom-share ul li.share-mail-to {
        width: 50%;
    }
}


@media (max-width: 767px) {
    .blog .author-image {
        width: 20% !important;
    }
    .blog .author-content {
        width: 80% !important;
    }
    .blog-post .post-body p, .blog-post .post-body span, .blog-post .post-body a {
        font-size: 18px;
        margin: 5px 0 30px;
    }

    
}

@media(max-width: 414px) {
    .blog .static-socials-custom-share ul li.share-mail-to {
        width: 30%;
    }
}

/* ============== Mobile Menu ================= */
/**
 * Special Note
 *
 * When the menu is open, a class of .mobile-open is applied to the body. You can 
 * use this for custom styling on any element when the menu is in the open position.                     
 */
@media (min-width: 951px){
  a.mobile-trigger, a.child-trigger {
      display: none !important; /* Hide button on Desktop */
  }
}

@media (max-width: 950px){
  /* Menu Reset - Remove styling from desktop version of custom-menu-primary */
  /* Place any additional CSS you want removed from the mobile menu in this reset */
  .custom-menu-primary, .custom-menu-primary *{
    display: block;
    float: none;
    position: static;
    top: auto;
    right: auto;
    left: auto;
    bottom: auto;
    padding: 0px;
    margin: 0px;
    background-image: none;
    background-color: transparent;
    border: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow:    none;
    box-shadow:         none; 
    max-width: none;
    width: 100%;
    height: auto;
    line-height: 1.75em;  
    font-weight: normal;
    text-decoration: none;
    text-indent: 0px;
    text-align: left;
  }

  /* Toggle Button
     ========================================================================== */
  a.mobile-trigger {
      display: inline-block !important; /* Hide button on Desktop */
      cursor: pointer; /* Mouse pointer type on hover */
      position: absolute; /*******************************************/
      top: 0px;          /* Position Button at top right of screen  */
      right: 10px;        /*******************************************/
      width: auto; /* Button width */
      height: auto; /* Button height */      
      padding: 12px 10px;
      z-index: 99999999999; /* Z-index to keep button on top of other layers */
      -webkit-transition: background-color 0.2s linear; /* Button color transition effect */
      font-size: 16px;
      font-weight: normal;
      text-align: left;
      text-transform: uppercase;
      -webkit-border-bottom-right-radius: 6px;
      -webkit-border-bottom-left-radius: 6px;
      -moz-border-radius-bottomright: 6px;
      -moz-border-radius-bottomleft: 6px;
      border-bottom-right-radius: 6px;
      border-bottom-left-radius: 6px;
      -webkit-transition:color .2s ease-in; 
      -moz-transition:color .2s ease-in;
      transition:color .2s ease-in;
      background: {{ bbsvar.primaryColor }}; /* Background color */
  }
  a.mobile-trigger:hover {
      text-decoration: none; /* Removes link text underline on button */
      color: {{ bbsvar.secondColor }};
  }
  a.mobile-trigger span{
      display: inline;
  }
  a.mobile-trigger span:before{
      position: absolute;
      content: ''; /* Change the text on the closed toggle button */
  }
  a.mobile-trigger span:after{
      position: relative;
      right: 2px;
      content: ''; /* Change the text on the open toggle button */
      background-color: #fff;
      opacity: 0;
      transition: opacity .4s ease-in-out;
      -moz-transition: opacity .4s ease-in-out;
      -webkit-transition: opacity .4s ease-in-out; 
  }

  /* Change button when menu is open */
  .mobile-open a.mobile-trigger{
      -webkit-transition:background-color 0.2s linear; /* Button color transition effect */
      -moz-transition:background-color 0.2s linear; /* Button color transition effect */
      transition:background-color 0.2s linear; /* Button color transition effect */
      background: transparent; /* Changes button background to be slightly darker than open menu color */  
  }
  .mobile-open a.mobile-trigger span:after{
     opacity: 1; 
  }
  
  /* Toggle Button Icon & Animations
     ========================================================================== */
  a.mobile-trigger i {
      display: inline;
      position: relative;
      top: -5px;
      margin-left: 0;
      -webkit-transition-duration: 0s;
      -webkit-transition-delay: .2s;
      -moz-transition-duration: 0s;
      -moz-transition-delay: .2s;
      transition-duration: 0s;
      transition-delay: .2s;
  }
  a.mobile-trigger  i:before, a.mobile-trigger i:after {
      position: absolute;
      content: '';
  }
  a.mobile-trigger  i, a.mobile-trigger  i:before, a.mobile-trigger  i:after {
      width: 15px; /* Icon line width */
      height: 2px; /* Icon line height */
      background-color: #fff; /* Icon color */
      display: inline-block;
  }
  a.mobile-trigger  i:before {
      margin-top: -6px; /* Position top line */
      -webkit-transition-property: margin, -webkit-transform;
      -webkit-transition-duration: .2s;
      -webkit-transition-delay: .2s, 0;
  }
  a.mobile-trigger  i:after {
      margin-top: 6px; /* Position bottom line */
      -webkit-transition-property: margin, -webkit-transform;
      -webkit-transition-duration: .2s;
      -webkit-transition-delay: .2s, 0;
  }
  .mobile-open a.mobile-trigger i {
      background-color: rgba(0,0,0,0.0);
      -webkit-transition-delay: .2s;
      -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0);
      -moz-box-shadow:    0px 1px 1px rgba(0, 0, 0, 0);
      box-shadow:         0px 1px 1px rgba(0, 0, 0, 0);
  }
  .mobile-open a.mobile-trigger i:before {
      margin-top: 0;
      background-color: {{ bbsvar.primaryColor }};
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      -webkit-transition-delay: 0, .2s;
      -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0);
      -moz-box-shadow:    0px 1px 1px rgba(0, 0, 0, 0);
      box-shadow:         0px 1px 1px rgba(0, 0, 0, 0);
  }
  .mobile-open a.mobile-trigger i:after {
      margin-top: 0;
      background-color: {{ bbsvar.primaryColor }};
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
      -webkit-transition-delay: 0, .2s;
      -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0);
      -moz-box-shadow:    0px 1px 1px rgba(0, 0, 0, 0);
      box-shadow:         0px 1px 1px rgba(0, 0, 0, 0);
  }

  /* Child Toggle Button
     ========================================================================== */
  a.child-trigger {
      display: block !important; /* Hide button on Desktop */
      cursor: pointer; /* Mouse pointer type on hover */
      position: absolute;
      top: 0px;
      right: 0px;
      width: 55px !important; /* Button width */
      min-width: 55px !important;
      height: 45px !important; /* Button height */  
      padding: 0 !important;
      border-left: 1px dotted rgba(255, 255, 255, .20);
  }
  a.child-trigger:hover {
      text-decoration: none;
  }

  /* Child Toggle Button Icon & Animations
     ========================================================================== */
  a.child-trigger span {
      position: relative;
      top: 50%; /* Centers icon inside button */
      margin: 0 auto !important;
      -webkit-transition-duration: .2s;
      -moz-transition-duration: .2s;
      transition-duration: .2s;
  }
  a.child-trigger span:after {
      position: absolute;
      content: '';
  }
  a.child-trigger span, a.child-trigger span:after {
      width: 10px; /* Icon line width */
      height: 1px; /* Icon line height */
      background-color: {{ bbsvar.primaryColor }}; /* Icon color */
      display: block;
  }
  a.child-trigger span:after {
      -webkit-transform: rotate(-90deg);
       -ms-transform: rotate(-90deg);
      transform: rotate(-90deg);
       -webkit-transition-duration: .2s;
       -moz-transition-duration: .2s;
      transition-duration: .2s;
  }
  a.child-trigger.child-open span:after {
      -webkit-transform: rotate(-180deg);
       -ms-transform: rotate(-180deg);
      transform: rotate(-180deg);
       -webkit-transition-duration: .2s;
       -moz-transition-duration: .2s;
      transition-duration: .2s;
  }
  a.child-trigger.child-open span {
      -webkit-transform: rotate(180deg);
       -ms-transform: rotate(180deg);
      transform: rotate(180deg);
       -webkit-transition-duration: .2s;
       -moz-transition-duration: .2s;
      transition-duration: .2s;
  }

  /* Menu Styles on Mobile Devices
     ========================================================================== */  
  /* Hide menu on mobile */
  .custom-menu-primary.js-enabled .hs-menu-flow-horizontal,
  .custom-menu-primary.js-enabled .hs-menu-children-wrapper{
      display: none;
  }  
  
    .custom-menu-primary.js-enabled {
        min-height: 0px !important;
    }

  /* Make child lists appear below parent items */
  .custom-menu-primary ul.hs-menu-children-wrapper {
      visibility: visible !important;
      opacity: 1 !important;
      position: static !important;
      display: none;
  }

  /* Mobile Menu Styles */
  .custom-menu-primary.js-enabled .hs-menu-flow-horizontal{
      position: absolute; /**************************************************************/
      top: -15px;             /* Positions the menu to drop from the very top of the screen */
      left: 0px;          /**************************************************************/                                              
      width: 100%;   
      -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.65);
      -moz-box-shadow:    0px 5px 5px 0px rgba(0, 0, 0, 0.65);
      box-shadow:         0px 5px 5px 0px rgba(0, 0, 0, 0.65);
      background: transparent;
  }
  .custom-menu-primary .hs-menu-flow-horizontal{
      padding: 85px 0 0 0; /* Padding to add room for close button */
      background-color: {{ menuColorMobile }}; /* Menu background color set off global mobile-menuColor variable */
      width: 100%; /* Full screen width */
      z-index: 8888;
  }

   /* Level 1 Menu List Styles */
  .custom-menu-primary .hs-menu-flow-horizontal > ul > li{
      position: relative;
   }
  .custom-menu-primary .hs-menu-flow-horizontal > ul > li a{
      font-size: 22px; /* Font size of top level list items */
      line-height: 45px;
      overflow: visible;
  }

  /* Level 1 and Higher Menu List Styles */
  .custom-menu-primary .hs-menu-flow-horizontal ul {
      background: #fff;
  }
  .custom-menu-primary .hs-menu-flow-horizontal ul li{}
  .custom-menu-primary .hs-menu-flow-horizontal ul li a{
      color: {{ bbsvar.primaryColor }};
      padding: 10px 15px;
      margin: 0;
  }
  .custom-menu-primary .hs-menu-flow-horizontal ul li a:hover{
      color: {{ bbsvar.primaryColor }};
      background: none;
  }
  .nav-wrapper .hs-menu-wrapper.hs-menu-flow-horizontal ul {
      float: none;
  }
  .nav-wrapper .hs-menu-wrapper.hs-menu-flow-horizontal ul li a, 
  .nav-wrapper.scroll .hs-menu-wrapper.hs-menu-flow-horizontal ul li a, 
  .nav-wrapper .hs-menu-wrapper.hs-menu-flow-horizontal ul li.hs-item-has-children ul.hs-menu-children-wrapper li a {
      color: {{ bbsvar.primaryColor }};
      padding: 0 20px;
      border-top: 0;
  }
  .nav-wrapper .hs-menu-wrapper.hs-menu-flow-horizontal ul li a:hover, 
  .nav-wrapper.scroll .hs-menu-wrapper.hs-menu-flow-horizontal ul li a:hover, 
  .nav-wrapper .hs-menu-wrapper.hs-menu-flow-horizontal ul li.hs-item-has-children ul.hs-menu-children-wrapper li a:hover {
      border-top: 0;
  }

  /* Level 2 and Higher Menu List Styles */
  .custom-menu-primary .hs-menu-flow-horizontal > ul ul li{
     background-color: rgba(255, 255, 255, .08);
  }
  .custom-menu-primary .hs-menu-flow-horizontal > ul ul li a{
      text-indent: 10px; /* Indent Child lists */
      font-size: 20px; /* Font size of child lists */
      color: {{ bbsvar.primaryColor }}; 
      border-top: 0;
  }
  .custom-menu-primary .hs-menu-flow-horizontal > ul ul li a:hover{
      color: {{ bbsvar.primaryColor }}; 
      border-top: 0;
  }
  .custom-menu-primary .hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-item-has-children ul.hs-menu-children-wrapper li a {
      background-color: transparent;
      max-width: 100%;
  }

  /* Level 3 and Higher Menu List Styles */
  .custom-menu-primary .hs-menu-flow-horizontal > ul ul ul li a{
      text-indent: 30px; /* Indent Child lists */
  }
  .custom-menu-primary .hs-menu-flow-horizontal > ul ul ul ul li a{
      text-indent: 50px; /* Indent Child lists */
  }
}


