 
/* @import url('http://example.com/example_style.css'); */

@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,300italic,400italic,500,500italic,600,600italic,700,700italic,800,800italic);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

/***********************************************/
/* CSS @imports must be at the top of the file */
/* Add them above this section                 */
/***********************************************/

/****************************************/
/* HubSpot Style Boilerplate            */
/****************************************/

/* These includes are optional, but helpful. */
{% include "hubspot/styles/responsive/modules.css" %}
{% include "hubspot/styles/patches/recommended.css" %}


/*****************************************/
/* Start your style declarations here    */
/*****************************************/



/* Font Family and Colors */
{% set baseColor              = "#ec1c33" %}    /* {# red  |  Used on 'CTA' in 'Base'  |  Ex. "color: {{ baseColor }};" #} */
{% set secondarybaseColor     = "#10cf96" %}    /* {# red  |  Used on 'CTA' in 'Base'  |  Ex. "color: {{ secondarybaseColor }};" #} */
{% set linkColor              = "#333" %}    /* {# Black  |  Used on global anchors in 'Base'  |  Ex. "color: {{ linkColor }};" #} */


/* Typography */
{% set baseFontFamily         = "'Raleway', sans-serif;"%}            /* {# Used on 'body' in 'Base'  |  Ex. "font-family: {{ baseFontFamily }};" #} */
{% set fakebodycolor          = "#EDEDED" %}                          /* {# Used on 'body' in 'Base'  |  Ex. "background: {{ fakebodycolor }};" #} */
{% set baseFontSize           = "16px" %}                         /* {# Used on 'body' in 'Base'  |  Ex. "font-size: {{ baseFontSize }};" #} */
{% set baseLineHeight         = "1.5" %}                          /* {# Used on 'body' in 'Base'  |  Ex. "line-height: {{ baseLineHeight }};" #} */


/* Wrappers */
{% set fakebody               = "1440px" %}                          /* {# Used on 'body' in 'Base'  |  Ex. "max-width: {{ fakebody }};" #} */
{% set wrappersize            = "1200px" %}                          /* {# Used on 'body' in 'Base'  |  Ex. "max-width: {{ wrappersize }};" #} */
{% set smallwrapper           = "1000px" %}                          /* {# Used on 'body' in 'Base'  |  Ex. "max-width: {{ smallwrapper }};" #} */




body{
    padding:0;
    font-size: {{ baseFontSize }};
    line-height:{{ baseLineHeight }};
    overflow-x:hidden;
    -webkit-font-smoothing: antialiased;
    font-family:{{ baseFontFamily }};
    width:100%;
    background:{{ fakebodycolor }};
    margin:0 auto;
    max-width:{{ fakebody }};
}

.row-fluid [class*="span"].wrapper{
    width: 100%;
    max-width: {{ wrappersize }};
    margin: 0 auto;
    float: none;
    padding: 0 15px;    
}


h1,h2,h3,h4,h5,h6,p,a{
    text-transform:initial;
    margin:0;
    padding:0;
    text-decoration:none;
    margin-bottom:15px;
    color:#2f2432;
}

.body-container-wrapper ul,.body-container-wrapper li{
    margin-bottom:15px;
}

a{
    margin-bottom:0;
}

h1{
    font-size: 50px;
    line-height: 60px;
    font-weight: 600;
}

h2{
    font-size: 30px;
    line-height: 40px;
    color: #515356;
    font-weight: 600;
    letter-spacing: .8px;
    margin-bottom:10px;
}

h3{
    font-size:18px;
    font-weight:600;    
    margin-bottom:5px;
}

h4{
    font-size: 16px;
    color: #515356;
    font-weight: 700;
    margin-bottom:5px;
    line-height: 20px;
}

h5{
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    margin-bottom:5px;
}

h6{
    font-size:10px;
    color:#515356;
    font-weight:600;
    margin-bottom:5px;
}

p{
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #2f2432;
    letter-spacing:1px;
}

h4+p{
    margin-top:15px;
}


.body-container-wrapper ul{
    margin:0;
    padding:0;
    text-decoration:none;
    list-style:none;
    margin-bottom:15px;
}

.body-container-wrapper li{
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #2f2432;
    letter-spacing: 1px;
    position:relative;
    margin-left:22px;
    margin-bottom:7px;
}

.body-container-wrapper li:before {
    position: absolute;
    content: '';
    top: 9px;
    left: -21px;
    background: {{ baseColor }};
    height: 6px;
    width: 6px;
    border-radius: 50%;
}

a{
    color:{{ linkColor }};    
}

blockquote{
    margin: 0;
    font-size: 18px;
    font-style: italic;
    color: #2f2432;
    font-weight: 300;
    padding-left: 17px;
    border-left: 2px solid {{ baseColor }};
    margin-left: 4px;
    margin-top: 25px;
    letter-spacing: .5px;
}

 .widget-type-cta{
    margin-top:12px;
}


a.cta_button,.hs-button{
    font-size: 16px;
    line-height: 18px;
    padding: 12px 28px;
    color: #fff;
    background: {{ baseColor }};
    font-weight: 600;
    letter-spacing: .5px;
    border: 2px solid {{ baseColor }};
    cursor: pointer;
    font-family:{{ baseFontFamily }};
    text-align: center;
    display: inline-block;
    border-radius: 0px;
    transition:all .3s ease-in;
    -webkit-transition:all .3s ease-in;
}

a.cta_button:hover,.hs-button:hover{
    color: {{ baseColor }};
    background:transparent;
}

.transparent-cta a.cta_button{
    background:transparent;
    color:{{ baseColor }};    
}

.transparent-cta a.cta_button:hover{
    background: {{ baseColor }};
    color:#fff
}

.simple-arrow-cta a.cta_button{
    position: relative;
    padding: 0;
    color: {{ baseColor }};
    background: transparent;
    letter-spacing: 1px;
    border: 0;
    font-weight: 300;
    text-decoration: underline;
    transition:all .3s ease-in;
    -webkit-transition:all .3s ease-in;    
}

.simple-arrow-cta a.cta_button:before{
    position: absolute;
    top: 0;
    right: -12px;
    content: '\f105';
    font-family: FontAwesome;
    font-size: 18px;
    transition:all .3s ease-in;
    -webkit-transition:all .3s ease-in;    
}

.simple-arrow-cta a.cta_button:hover:before{
    right: -15px;
}

.align-center {
    text-align:center;
}

.align-left {
    text-align:left;
}

.align-right {
    text-align:right;
}

.float-left{
    float:left;
}

.float-right{
    float:right;
}

.overlay{
    position:relative;
    z-index:1;
}

.overlay:before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background:rgba(0, 15, 58, 0.80);
    z-index: -1;
}

body .container-fluid .row-fluid .center-heading{
    margin: 0 auto;
    width: 100%;
    max-width: 680px;
    float: none;
    margin-bottom: 30px;
    text-align:center;
}

.white-bg{
    background:#fff;
}

.gray-bg{
    background:#f5f5f5;
}

.black-bg{
    background:#333;
}

.base-color-bg{
    background:{{ baseColor }};
}

.base-color-bg h2,
.base-color-bg p,
.base-color-bg h3,
.base-color-bg h4,
.base-color-bg h5,
.base-color-bg .fa{
    color:#fff;
}


.black-bg h2,
.black-bg p,
.black-bg h4,
.black-bg h5,
.black-bg h6,
.black-bg .fa{
    color:#fff;
}

.section-padding{
    padding: 70px 0;
}

.border-left {
    border-left: 1px solid #E4E1E1;
}

.border-right {
    border-right: 1px solid #E4E1E1;
}

.border-bottom{
    border-bottom: 1px solid #e4e1e1;
    padding-bottom: 40px;
}

.fa{
    font-size:35px;
}

.hero-banner{
    padding: 220px 0 80px;
    background-size:cover;
    background-repeat:no-repeat;
}

.hero-banner h1{ 
    color:#fff;
    margin-bottom: 20px;
    font-weight:300;
}

.hero-banner p{ 
    font-size: 14px;
    color: #fff;
    font-weight: 300;
    line-height: 24px;
}


body .container-fluid .row-fluid .pad-bottom{
    margin-bottom:80px;
}


.header-container-wrapper .row-fluid [class*="span"]{
    min-height:0;
}


.body-container-wrapper{
    background-color:#fff;
}


.section-heading{
    margin-bottom:40px;
}

.section-heading h3{
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    letter-spacing:1px;    
    color:{{ baseColor }};;
    margin-bottom:18px
}

.section-heading h2{
    font-size: 30px;
    font-weight: 600;
    line-height: 1;
    letter-spacing:0.6px;    
    position:relative;
}

/*.section-heading h2:before{
    position:absolute;
    content:'';
    left:0;
    right:0;
    height:2px;
    width:40px;
    margin:0 auto;
    background:{{ baseColor }};
    bottom:-15px;
}*/


.left-border.section-heading h2:before{
    margin-left:0
}



@media (min-width: 768px) {
    .equal-height-container > .row-fluid-wrapper > .row-fluid {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-align: stretch;
        -moz-box-align: stretch;
        -webkit-align-items: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
    }
}


@media (min-width:768px) and (max-width:1024px){

.row-fluid [class*="span"].wrapper{
    padding:0 40px;    
}

}


@media (max-width:767px){

.row-fluid [class*="span"].wrapper{
    padding:0 20px;    
}

.hero-banner h1 {
    font-size: 40px;
    line-height:50px;
}

.hero-banner {
    padding: 130px 0 40px;
}



}







/*===============================================
            Header Styling
================================================*/            

.header-container-wrapper{
    z-index: 11;
    position: relative;    
}



/*==============Top Bar===========*/

.header-top-bar {
    background: #000;
    padding: 6px 0 5px;
}

.header-top-bar .contact .fa{
    font-size: 16px;
    margin-right: 12px;
}

.header-top-bar .contact a{
    margin-right:40px;
}

.header-top-bar a{
    color:#d2d2d2;
    font-size:12px;
    line-height:16px;
    letter-spacing:0.1px;    
    font-weight:300;
}

.header-top-bar .hs-menu-wrapper{
    float:right;
    line-height:1;
}

.header-top-bar .hs-menu-wrapper.hs-menu-flow-horizontal>ul li a{
    padding:0;
    margin:0;
    padding-left: 30px;
    padding-top:5px;
}




/*==============Top Mian Header ===========*/

.top-main-header{
    padding: 15px 0 0;
    background:rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(86, 86, 86, 0.6);
    transition:all .3s ease-in;
    -webkit-transition:all .3s ease-in;   
}

@media (min-width:1025px){

body .header-container-wrapper .row-fluid .top-main-header{
    min-height:77px;
}

}

.top-main-header .logo{
    margin-top:8px;
}

.top-main-header .hs-menu-wrapper{
    float:right;
    line-height:0;
}

.top-main-header .hs-menu-wrapper.hs-menu-flow-horizontal>ul li a{
    padding:0;
    margin:0;
    margin-left: 30px;
    margin-right: 10px;
    margin-top:13px;
    font-size:14px;
    line-height:18px;
    letter-spacing:.1px;
    color:#fff;
    font-weight:400;
    position:relative;
    overflow:visible;
    padding-bottom:30px;
}

@media (min-width:768px){

.top-main-header .hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-menu-depth-1>a:before{
    position:absolute;
    content:'';
    bottom:0;
    left:0;
    right:0;
    height:2px;
    background:#fff;
    width:0;
    transition:all .2s ease-in;
    -webkit-transition:all .2s ease-in;
}

.top-main-header .hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-menu-depth-1>a:hover:before{
    width:100%;
}


.top-main-header .hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-item-has-children ul.hs-menu-children-wrapper{
    background:#fff;
    min-width:165px;
    margin-top: 1px;
    box-shadow: 0 0 6px #b7b7b7;
}

.top-main-header .hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-item-has-children ul.hs-menu-children-wrapper li a{
    color:#000;
    margin: 0;
    padding: 10px 30px;
    font-size: 12px;   
    border-bottom: 1px solid #ec1c33;
    transition:all .2s ease-in;
    -webkit-transition:all .2s ease-in;
}

.top-main-header .hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-item-has-children ul.hs-menu-children-wrapper li:last-child a{
    border-bottom: 0;
}

.top-main-header .hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-item-has-children ul.hs-menu-children-wrapper li a:hover{
    background: #ec1c33;
    color: #fff;
}

}

.top-main-header .hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-menu-depth-1:last-child>a{
    font-size: 16px;
    line-height: 18px;
    padding: 12px 28px;
    color: {{ baseColor }};
    background: transparent;
    font-weight: 600;
    letter-spacing: .5px;
    border: 2px solid #ec1c33;
    cursor: pointer;
    font-family: 'Raleway',sans-serif;
    text-align: center;
    display: inline-block;
    border-radius: 0;
    transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    margin-top: 0;  
    margin-right:0
}

.top-main-header .hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-menu-depth-1:last-child>a:hover{
    color:#fff;
    background:{{baseColor}};
}

.top-main-header .hs-menu-wrapper.hs-menu-flow-horizontal>ul li:last-child a:hover:before,
.top-main-header .hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-item-has-children a:hover:before{
    display:none;
}



/*=====================================================================     
                        Header Tab Responsive
=====================================================================*/            

@media (min-width:768px) and (max-width:1024px){


.header-top-bar .hs-menu-wrapper.hs-menu-flow-horizontal>ul li a {
    padding-left: 20px;
}

.top-main-header .hs-menu-wrapper.hs-menu-flow-horizontal>ul li a {
    margin-left: 14px;
    margin-top: 9px;
    font-size: 13px;
    padding-bottom: 20px;
}

.top-main-header .logo {
    margin-top: 4px;
}

.top-main-header {
    padding: 10px 0 0;
}


.top-main-header .hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-menu-depth-1:last-child>a {
    font-size: 14px;
    line-height: 18px;
    padding: 6px 12px;
    margin-top:4px;
}

}






/*=====================================================================     
                        Header Mobile Responsive
=====================================================================*/            

@media (max-width:767px){
 
body .header-container-wrapper .top-main-header .hs-menu-wrapper{
    display:none;
}

body .header-container-wrapper .row-fluid .header-top-bar{
    display:none;
}

.row-fluid .top-main-header .wrapper{
    padding:0;
}

.row-fluid .top-main-header .logo{
    padding-left:20px;
    margin:0;
}

.top-main-header {
    padding:12px 0;
    background: rgb(0, 0, 0);
}

.top-main-header .hs-menu-wrapper.hs-menu-flow-horizontal>ul li a {
    margin: 0;
    padding: 10px 20px;
    text-align:center;
    font-size: 16px;
    line-height: 24px;    
}

.top-main-header .hs-menu-wrapper.hs-menu-flow-horizontal>ul li{
    border:0;
}

.top-main-header .hs-menu-wrapper.hs-menu-flow-horizontal>ul li:last-child{
    text-align:center;
    margin-top:15px;
}



}























/*================= FIXED NAV====================*/




body .header-container-wrapper .row-fluid .header-group{
    position: fixed;
    left: 0;
    right: 0;
    max-width: 1440px;
    margin: 0 auto;
    transition:all .3s ease-in;
    -webkit-transition:all .3s ease-in;   
    top:0;   
}

body .header-container-wrapper.fixed .row-fluid .header-group{
    top:-38px;   
}

body .header-container-wrapper.fixed .row-fluid .top-main-header{
    background:#000;
}






















/*=========================================
                FOOTER
==========================================*/

.footer{
    background:#2f2432;
    padding:80px 0 35px;
}

.footer .logo{
    margin-bottom:35px;
}

.footer .description p{
    font-size:16px;
    line-height:26px;
    letter-spacing:1.5px;
    color:#fff;
    font-weight:300;
}

.footer .menu-heading{
    margin-bottom:15px;
}

.footer .menu-heading h2{
    line-height:16px;
    font-size:16px;
    letter-spacing:2px;
    font-weight:700;
    color:#fff;
}

.footer .hs-menu-wrapper.hs-menu-flow-vertical>ul li.hs-menu-depth-1>a{
    font-size:16px;
    line-height:35px;
    color:#fff;
    padding:0;
    white-space: initial;
}




@media (min-width:1025px){

.footer-container-wrapper .footer .row-fluid .menu-group{
    padding-left:6%;
}
   
}



/*================ Bottom Bar ============ */

.footer .bottom-bar {
    margin-top: 60px;
    padding: 30px 0 0;
    border-top: 1px solid #6d6d6d;
}

.footer .copyright-text p{
    font-size: 16px;
    line-height: 16px;
    font-weight: 300;
    color: #fff;
    letter-spacing: 1px;
    margin-top: 8px;
    margin-bottom: 0;
}

.footer .social-icons .fa{
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 16px;
    border-radius: 50%;
    color: #fff;
    margin-left: 18px;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    border: 1px solid;
}










/*=====================================================================     
                        Footer Tab Responsive
=====================================================================*/            

@media (min-width:768px) and (max-width:1024px){

.footer {
    padding: 60px 0 25px;
}

.footer .description p {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 1px;
}

.footer .menu-heading h2 {
    font-size: 14px;
}

.footer .menu-heading {
    margin-bottom: 8px;
}

.footer .hs-menu-wrapper.hs-menu-flow-vertical>ul li.hs-menu-depth-1>a {
    font-size: 12px;
    line-height: 28px;
}

.footer .logo {
    margin-bottom: 25px;
}

.footer .bottom-bar {
    margin-top: 30px;
    padding: 25px 0 0;
}

.footer .copyright-text p {
    font-size: 14px;
    margin-top: 6px;
}

}




/*=====================================================================     
                        Footer Mobile Responsive
=====================================================================*/            

@media (max-width:767px){

.footer {
    text-align:center;
    padding: 50px 0 35px;
}

.footer .logo {
    margin-bottom: 20px;
}

.footer .description p {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: .5px;
}

.footer .menu-heading {
    margin-bottom: 0;
}

.footer .menu-heading h2 {
    margin: 0;
    font-size:14px;
}

.footer .hs-menu-wrapper.hs-menu-flow-vertical>ul li.hs-menu-depth-1>a {
    font-size: 14px;
    line-height: 30px;
}

.footer .menu-group{
    border-top: 1px solid #6d6d6d;
    padding-top: 30px;
    margin-top: 10px;
}

.footer .copyright-text p {
    font-size: 14px;
}

.footer .bottom-bar {
    margin-top: 10px;
    padding: 25px 0 0;
}

.footer .social-icons{
    text-align:center;
    margin-top:6px;
}

.footer .social-icons .fa {
    margin: 0 5px;
}

}











/*=========================================================
                    FORM STYLE
=========================================================*/                



.row-fluid form li{
    margin:0;
}

.row-fluid  form li:before{
    display:none;
}

.row-fluid  form input,
.row-fluid  form select,
.row-fluid  form textarea{
    height: 50px;
    font-family:{{ baseFontFamily }};
    border: 1px solid #e7e7e7;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 1px;    
    padding:13px;
    margin-bottom:25px;
}

.row-fluid  form textarea{
    height:130px;    
}

.row-fluid  form .hs_file_upload input,
.row-fluid  form .hs-form-checkbox input,
.row-fluid  form .hs-form-radio input,
.row-fluid  form .hs-form-booleancheckbox input{
    height:auto;
    padding:0;
    border:0;
}

body .container-fluid .row-fluid  form .hs-form-checkbox input.hs-input,
body .container-fluid .row-fluid  form .hs-form-radio input.hs-input,
body .container-fluid .row-fluid  form .hs-form-booleancheckbox input.hs-input{
    height:auto;
    padding:0;
    border:0;
    margin-bottom:0;
    width:auto;
    margin-right: 8px;
}

.row-fluid form .field>label{
    font-size: 14px;
    line-height: 1;
    letter-spacing: 1px;
    font-weight: 700;
    display:block;
    margin-bottom:10px;
}

.row-fluid form .hs_submit{
    text-align:center;
}

.row-fluid form .hs-button.primary{
    padding-left:60px;
    padding-right:60px;
    border:2px solid {{ baseColor }};
}

.row-fluid form .hs-button.primary:hover{
    border:2px solid {{ baseColor }};
}

form .hs-error-msgs{
    margin:0;
}

form .hs-error-msgs li{
    line-height: 1;
    color: red;
    font-weight: 500;
    font-size: 11px;
    position: relative;
    top: -20px;
    letter-spacing: 0.3px;
}

body .row-fluid .hs-form fieldset.form-columns-1 .hs-input {
    width: 100%;
}

body .row-fluid .hs-form fieldset {
    max-width: 100%;
}

form .hs-form-required{
    display:none;
}


@media (max-width:480px){


body form.hs-form .form-columns-2 .hs-form-field .hs-input,body form.hs-form .form-columns-3 .hs-form-field .hs-input{
    width:100%;
}

body .row-fluid .hs-form fieldset .input{
    margin:0;
}

}






























/* ==========================================================================
   Custom Menu Primary
   ========================================================================== */


{% set ulColor       = "" %} /* Set ul background color */
{% set liColor       = "" %} /* Set li background Color */
{% set aColor        = "" %} /* Set link Color */
{% set aColorHover   = "" %} /* Set link Hover Color */

/* Parent List */
.custom-menu-primary .hs-menu-wrapper > ul{ 
  background:{{ ulColor }};
}
.custom-menu-primary .hs-menu-wrapper > ul > li{
  background:{{ liColor }};
}
.custom-menu-primary .hs-menu-wrapper > ul > li > a{
  color:{{ aColor }};
}
.custom-menu-primary .hs-menu-wrapper > ul > li > a:hover{
  color:{{ aColorHover }};
}

/* Child List */
.custom-menu-primary .hs-menu-wrapper > ul ul{}
.custom-menu-primary .hs-menu-wrapper > ul ul li{
  background:{{ liColor }};
}
.custom-menu-primary .hs-menu-wrapper > ul ul li a{
  color:{{ aColor }};
}
.custom-menu-primary .hs-menu-wrapper > ul ul li a:hover{
  color:{{ aColorHover }};
}

/* Override max width on menu links */
.custom-menu-primary .hs-menu-wrapper > ul li a, 
.hs-menu-wrapper.hs-menu-flow-horizontal > ul li.hs-item-has-children ul.hs-menu-children-wrapper li a {
  overflow: visible !important;
  max-width: none !important;
  width: auto !important;
}

/* Fix menu disappearing on desktop after toggling mobile menu */
@media screen and (min-width:768px) {
      .custom-menu-primary .hs-menu-wrapper { 
          display:block !important;
      }
  }




/* ==========================================================================
   Mobile Menu - Hubspot Standard Toggle Menu
   ========================================================================== */


/**
 * Special Note
 *
 * When the menu is open, a class of .mobile-open is applied to the body. You can 
 * use this for custom styling on any element when the menu is in the open position.                     
 */

.mobile-trigger, .child-trigger{
    display: none; /* Hide button on Desktop */
}

@media (max-width: 767px){


  /* Variables
     ========================================================================== */

  {% set menuColorMobile = "#000000" %}   /* Set Mobile Menu Background Color */
  {% set aColorMobile = "#ffffff" %}      /* Set Link Color */
  {% set aColorHoverMobile = "#ffffff" %} /* Set Link Hover Color */

  /* 
    * Menu Reset
    *
    * Remove styling from desktop version of custom-menu-primary. Place any 
    * additional CSS you want removed from the mobile menu in this reset 
    */

  .custom-menu-primary,
  .custom-menu-primary .hs-menu-wrapper > ul,
  .custom-menu-primary .hs-menu-wrapper > ul li,
  .custom-menu-primary .hs-menu-wrapper > ul li a{
    display: block;
    float: none;
    position: static;
    top: auto;
    right: auto;
    left: auto;
    bottom: auto;
    padding: 0px;
    margin: 0px;
    background-image: none;
    background-color: transparent;
    border: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow:    none;
    box-shadow:         none; 
    max-width: none;
    width: 100%;
    height: auto;
    line-height: 1;  
    font-weight: normal;
    text-decoration: none;
    text-indent: 0px;
    text-align: left;
    color:{{aColorMobile}};
  }


  /* Toggle Button
     ========================================================================== */

  .mobile-trigger{
    display: inline-block !important; /* Show button on mobile */
    cursor: pointer; /* Mouse pointer type on hover */
    position: absolute; /*******************************************/
    top: 0px;          /* Position Button at right of screen  */
    right: 10px;        /*******************************************/
    width: auto; /* Button width */
    height: auto; /* Button height */      
    padding: 7px 10px 8px 10px;
    background: #ffffff; /* Background color */
    border: 1px solid {{ menuColorMobile }};
    font-size: 16px;
    font-weight: normal;
    text-align: left;
    text-transform: uppercase;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: {{ menuColorMobile }}; 
  }
  .mobile-trigger:hover{
    text-decoration: none; /* Removes link text underline on button */
    color:{{ aColorHoverMobile }};
    background-color: {{ menuColorMobile }}; 
    border-color: transparent;
  }

  /* Change button when menu is open */
  .mobile-open .mobile-trigger{
    color:{{ aColorHoverMobile }};
    background-color: {{ menuColorMobile }}; 
    border-color: transparent;
  }


  /* Toggle Button Icon
     ========================================================================== */

  .mobile-trigger i{
    display: inline;
    position: relative;
    top: -4px;
  }
  .mobile-trigger i:before, .mobile-trigger i:after{
    position: absolute;
    content: '';
  }
  .mobile-trigger i, .mobile-trigger i:before, .mobile-trigger i:after{
    width: 22px; /* Icon line width */
    height: 2px; /* Icon line height */
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    background-color: {{ menuColorMobile }}; /* Icon color */
    display: inline-block;
  }
  .mobile-trigger i:before{
    top: -6px; /* Position top line */
  }
  .mobile-trigger i:after{
    top: 6px; /* Position bottom line */
  }
  
  .mobile-trigger:hover i, .mobile-trigger:hover i:before, .mobile-trigger:hover i:after,  
  .mobile-open .mobile-trigger i, .mobile-open .mobile-trigger i:before, .mobile-open .mobile-trigger i:after{
      background-color: {{ aColorHoverMobile }}; /* Icon color */
  }


  /* Child Toggle Button
     ========================================================================== */

  .child-trigger{
    display: block !important; /* Hide button on Desktop */
    cursor: pointer; /* Mouse pointer type on hover */
    position: absolute;
    top: 0px;
    right: 0px;
    width: 55px !important; /* Button width */
    min-width: 55px !important;
    height: 45px !important; /* Button height */  
    padding: 0 !important;
    border-left: 1px dotted rgba(255, 255, 255, .20);
  }
  .child-trigger:hover{
    text-decoration: none;
  }
  .child-trigger i{
    position: relative;
    top: 50%; /* Centers icon inside button */
    margin: 0 auto !important;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  .child-trigger i:after{
    position: absolute;
    content: '';
  }
  .child-trigger i, .child-trigger i:after{
    width: 10px; /* Icon line width */
    height: 1px; /* Icon line height */
    background-color:{{ aColorMobile }}; /* Icon color */
    display: block;

  }
  .child-trigger i:after{
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  .child-trigger.child-open i:after{
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }
  .child-trigger.child-open i{
  }

    
  /* Menu Styles on Mobile Devices
     ========================================================================== */  
     
   .custom-menu-primary.js-enabled{
       position: relative;
       padding-top:0; /* Makes room for button */
       margin: 0;
   }

  /* Hide menu on mobile */
  .custom-menu-primary.js-enabled .hs-menu-wrapper,
  .custom-menu-primary.js-enabled .hs-menu-children-wrapper{
    display: none;
  }  

  /* Make child lists appear below parent items */
  .custom-menu-primary ul.hs-menu-children-wrapper{
    visibility: visible !important;
    opacity: 1 !important;
    position: static !important;
    display: none;
  }

  /* Mobile Menu Styles */ 
  .custom-menu-primary.js-enabled .hs-menu-wrapper{
    width: 100%;
    position:absolute; /**************************************************************/
    top: 38px;             /* Positions the menu to drop from the very top of the screen */
    left: 0;          /**************************************************************/
    padding: 0;
  }
  .custom-menu-primary .hs-menu-wrapper{
    background-color:{{ menuColorMobile }}; /* Menu background color set off global menuColorMobile variable */
    width: 100%; /* Full screen width */
  }

   /* Level 1 Menu List Styles */
  .custom-menu-primary .hs-menu-wrapper > ul > li{
    position: relative;
  }
  .custom-menu-primary .hs-menu-wrapper > ul > li a{
    font-size: 22px; /* Font size of top level list items */
    line-height: 45px;
    overflow: visible;
  }

  /* Level 1 and Higher Menu List Styles */
  .custom-menu-primary .hs-menu-wrapper > ul li{
    border-top: 1px dotted rgba(255, 255, 255, .35); /* Adds transparent dark highlights to top of top level list items */
  }
  .custom-menu-primary .hs-menu-wrapper >  ul li a{
    padding: 0 10px;
    color:{{ aColorMobile }}; /* link color set by global mobile-aColor variable */
  }
  .custom-menu-primary .hs-menu-wrapper > ul li a:hover{
    color:{{ aColorHoverMobile }}; /* link hover color set by global mobile-aColorHover variable */
  }

  /* Level 2 and Higher Menu List Styles */
  .custom-menu-primary .hs-menu-wrapper > ul ul li{
    background-color: rgba(255, 255, 255, .08);
  }
  .custom-menu-primary .hs-menu-wrapper > ul ul li a{
    text-indent: 10px; /* Indent Child lists */
    font-size: 16px; /* Font size of child lists */
  }

  /* Level 3 and Higher Menu List Styles */
  .custom-menu-primary .hs-menu-wrapper > ul ul ul li a{
    text-indent: 30px; /* Indent Child lists */
  }
  .custom-menu-primary .hs-menu-wrapper > ul ul ul ul li a{
    text-indent: 50px; /* Indent Child lists */
  }
}



/*============================================================
            HEADER Mobile Responsive
===========================================================*/


@media (max-width:767px){


.header-container-wrapper .header .wrapper {
    padding: 0 20px;
}

.header .logo {
    position:relative;
    z-index:14;
}

.header-container-wrapper .row-fluid .header .top-nav {
    max-width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 11;
    padding-top: 34px;
    top:3px;
}

.mobile-trigger {
    border: 0;
    top: 0;
    right: 14px;    
    background:transparent;
}

.mobile-trigger i, .mobile-trigger i:before, .mobile-trigger i:after {
    width: 25px;
    background: #fff;
}

.mobile-trigger i:before {
    top: -6px;
}

.mobile-trigger i:after {
    top: 6px;
}

.mobile-open .mobile-trigger {
    background-color: transparent;
}

.mobile-trigger:hover {
    background-color: rgba(0, 0, 0, 0);
    border-color: transparent;
}

.mobile-trigger:hover i, .mobile-trigger:hover i:before, 
.mobile-trigger:hover i:after, .mobile-open .mobile-trigger i,
.mobile-open .mobile-trigger i:before, .mobile-open .mobile-trigger i:after {
    background-color: #fff;
}

.mobile-trigger i{
    transition: all .5s ease-in;
}

.mobile-open .mobile-trigger i{
    background:transparent;
    transition: all .1s ease-in;
}

.mobile-trigger i:before,
.mobile-trigger i:after{
    transition: all .3s ease-in;
}

.mobile-open .mobile-trigger i:before {
    top: 0;
    transform: rotate(45deg);
}

.mobile-open .mobile-trigger i:after{
    top: 0;
    transform: rotate(-45deg);
}


body .header-container-wrapper .row-fluid .logo{
    max-width:190px;
    float:left;
}

.header-container-wrapper .header .hs-menu-wrapper {
    top: 8px;
}


.custom-menu-primary .hs-menu-wrapper>ul li {
    border-top: 0px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.24);
}

.custom-menu-primary.js-enabled .hs-menu-wrapper{
    border-top: 1px solid #565656;
    padding: 30px 20px 40px;
    border-bottom: 1px solid #565656;
}

}

/****************** END Header Mobile Responsive *******************/









/***************************************************
                ERROR PAGE
*************************************************/        

.ngo-error .top-main-header {
    background: rgba(0, 0, 0, 0.68);
}

.error-page-body{
    padding:240px 0 100px;
}

.error-page-body h1{
    font-weight:300;
}




@media (max-width:767px){
    
    
.error-page-body .right-col{
    text-align:center;
    margin-top:40px;
}    

.error-page-body h1{
    font-size: 30px;
    line-height: 40px;
}

.error-page-body h2{
    font-size: 20px;
    line-height: 30px;
}

.error-page-body {
    padding: 140px 0 60px;
}

}






























/*===============================================================================
                        Header Option Two
===============================================================================*/                        


.header-opt-two{
    background:{{ baseColor }};
}

.header-opt-two .hs-menu-wrapper{
    line-height:1;
}

.header-opt-two .hs-menu-wrapper.hs-menu-flow-horizontal>ul li {
    line-height: .7;
}

.header-opt-two .hs-menu-wrapper.hs-menu-flow-horizontal>ul li a {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.9);
    letter-spacing: .1px;
    font-weight: 500;
    padding: 18px 20px 15px;
    transition:all .2s ease-in;
    -webkit-transition:all .2s ease-in;
}

.header-opt-two .hs-menu-wrapper.hs-menu-flow-horizontal>ul li a:hover{
    background:#fff;
    color:#000;
}

.header-opt-two .social-icons{
    margin-top:10px;
}

.header-opt-two .social-icons .fa {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.6);
    padding-left: 25px;
    transition:all .2s ease-in;
    -webkit-transition:all .2s ease-in;
}

.header-opt-two .social-icons .fa:hover{
    color:#fff;
}



@media (min-width:768px){
    
/*======================= Child Styling ==============================*/


.hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-item-has-children:hover>ul.hs-menu-children-wrapper {
    background: #fff;
    border: 1px solid #ececec;
    border-top: 0;
}

.hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-item-has-children>ul.hs-menu-children-wrapper a{
    color:#000;
    min-width: 110px;
}

.hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-item-has-children>ul.hs-menu-children-wrapper a:hover{
    background: #f3f3f3;
}

.hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-item-has-children:hover{
    background:#fff;
}

.hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-item-has-children:hover a{
    color:#000;
}

}




/*================================  Address Bar =============================*/

.header-group-option-two .address-bar{
    padding:20px 0;
    background:#fff;
}

.header-group-option-two .address-bar .right-cta{
    margin-top:0;
}

.header-group-option-two .address-bar .right-cta a.cta_button{
    padding-right:0;
    padding-left:0;
    width:100%;
}

.header-group-option-two .address-bar .logo{
    margin-top:9px;
}

.header-group-option-two .address-bar .contacts .fa{
    float:left;
    padding-right: 10px;
    font-size: 28px;    
}

.header-group-option-two .address-bar .contacts .contact-container {
    width: 100%;
    max-width: 30%;
    float: right;
    margin-top:7px;
}

.header-group-option-two .address-bar .contacts h4 {
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 0;
    line-height: 12px;
    letter-spacing: .1px;
}

.header-group-option-two .address-bar .contacts a{
    color: #333;
    font-size: 12px;
    line-height: 1;
    font-weight: 700;
    letter-spacing: .1px;
}

.header-group-option-two .address-bar .phone-number{
    margin-right: 30px;
    border-right: 1px solid #e7e7e7;
}













/*==============================================================
        Fixed Header Option Two
==============================================================*/        

.header-opt-two {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    z-index: 11;
    transition:all .2s ease-in;
    -webkit-transition:all .2s ease-in;    
}

.header-opt-two:before{
    content:'';
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    height:3px;
    background:#fff;
}

.header-group-option-two .address-bar {
    position: absolute;
    left: 0;
    right: 0;
    top:42px;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    z-index: 10;
}

.move-top .header-group-option-two .header-opt-two {
    position:fixed;
    top:-62px;
    margin:0 auto;
    transition:all .35s ease-in;
    -webkit-transition:all .35s ease-in;    
    box-shadow: -6px 10px 16px -11px #8e8e8e;
}
    
.fixed .header-group-option-two .header-opt-two {
    top:0px;     
}






@media (min-width:768px) and (max-width:1024px){
    
.header-group-option-two .address-bar .contacts .fa {
    padding-right: 7px;
    font-size: 12px;
}

.header-group-option-two .address-bar .phone-number {
    margin-right: 18px;
}
 
.header-group-option-two .address-bar .contacts .contact-container {
    max-width: 40%;
} 

.header-group-option-two .address-bar .right-cta a.cta_button {
    font-size: 12px;
}
 
}






@media (max-width:767px){



body .header-container-wrapper .row-fluid .wrapper{
    padding:0;
}

.header-opt-two {
    padding: 8px 0;
}

.header-opt-two .social-icons {
    margin-top: 3px;
    float: left;
}

.header-opt-two .custom-menu-primary.js-enabled .hs-menu-wrapper {
    border-top: 1px solid #565656;
    padding: 0;
}

.header-opt-two .hs-menu-wrapper.hs-menu-flow-horizontal>ul li a {
    padding: 0 20px;
}

.header-opt-two .hs-menu-wrapper{
    display:none;
}

.header-opt-two .custom-menu-primary.js-enabled .hs-menu-wrapper {
    top: 34px;
}

.header-group-option-two .address-bar{
    padding:10px 20px;
}

.header-group-option-two .address-bar .contacts,
.header-group-option-two .address-bar .right-cta{
    display:none;
}

.header-group-option-two .address-bar .logo{
    margin-top:0;
}

.header-group-option-two .address-bar {
    z-index: 5;
}

}


















/*================================================
    PAGE STYLING
===============================================*/





/*===============================================   
        Section About Us
================================================*/        


.about-us-section{
    padding:100px 0; 
}

.about-us-section .section-heading{
    margin-bottom:70px;
    border-radius:12px;
}

.about-us-section .cta{
    margin-top:40px;
}

body .row-fluid .about-us-section .wrapper{
    max-width:1000px;
}


@media (min-width:768px) and (max-width:1024px){
  
.about-us-section {
    padding: 60px 0;
}  
    
}

@media (max-width:767px){
    
.about-us-section .right-col{
    margin-top: 40px;
}

.about-us-section {
    padding: 60px 0;
}

}
















/*===============================================   
        Section Four Column Volunteer
================================================*/        

.four-column-about{
    padding:35px 0;
    background:{{ baseColor }};
}

.four-column-about h3{
    font-size:20px;
    line-height:1.2;
    font-weight:700;
    color:#fff;
    margin:0;
    margin-bottom:10px;
}

.four-column-about p{
    font-size:14px;
    line-height:1.2;
    font-weight:300;    
    color:#fff;
    margin:0;
    letter-spacing:0;
}

.four-column-about .fa{
    color:#fff;
}

.four-column-about .icon{
    margin-bottom:15px;
}

body .row-fluid .four-column-about .icon-group{
    padding:0 20px;
    border-left:1px solid rgba(255, 255, 255, 0.52);
}

body .row-fluid .four-column-about .icon-group:first-child{
    border:0;
}



@media (min-width:768px) and (max-width:1024px){
    
    
}

@media (max-width:767px){

body .row-fluid .four-column-about .icon-group {
    padding: 30px 20px;
    border-left: 0;
    border-top: 1px solid rgba(255,255,255,0.52);
}

.four-column-about {
    padding: 15px 0;
}
    
}












/*===================================================
        Section Become Volunteer
==================================================*/

.become-volunteer{
    padding:80px 0;
    background-size:cover;
    background-position:center center;
}

.become-volunteer h2,
.become-volunteer p{
    color:#fff;
}

body .row-fluid .become-volunteer .description {
    max-width:800px;
    margin:0 auto;
    float:none;
}


@media (min-width:768px) and (max-width:1024px){
 
.become-volunteer {
    padding: 50px 0;
}
    
}

@media (max-width:767px){
    
.become-volunteer {
    padding: 60px 0;
}    
    
}





















/*===================================================
        Testimonial Section
==================================================*/

.testimonial-section{
    padding:100px 0 60px;
}

.testimonial-section .owl-carousel .designation{
    margin:0;
    padding-right: 68px;    
}

.testimonial-section .owl-carousel {
    display: block;
    margin-top: 30px;
}

.testimonial-section .owl-carousel .item{
    padding: 25px 20px;
    margin: 0 15px;
    width: auto;
    border: 1px solid #e7e7e7;
    position: relative;
}

.testimonial-section .owl-theme .owl-controls {
    margin-top: 65px;
}

.testimonial-section .owl-theme .owl-dots .owl-dot span {
    width: 14px;
    height: 10px;
    margin: 4px;
    background: #d8d8d8;
    transition:all .2s ease-in;
    -webkit-transition:all .2s ease-in;
}

.testimonial-section .owl-theme .owl-dots .owl-dot.active span{
    width: 28px;
    background:{{ baseColor }};
}

.testimonial-section .owl-theme .owl-dots .owl-dot:hover span {
    background:{{ baseColor }};
}



.testimonial-cm .text p{
    font-size: 15px;
    line-height: 28px;
    color: #4a4a4a;
    letter-spacing: 0.4px;
}

.testimonial-cm .image{
    position: absolute;
    bottom: 28px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    right: 25px;
}

.testimonial-cm .text{
    margin-bottom: 30px;
}

.testimonial-cm h4{
    color:{{ baseColor }};
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    letter-spacing: .5px;
    margin-bottom: 6px;

}

.testimonial-cm h5{
    font-size:14px;
    line-height:1.2;
    font-weight:400;    
    color:#a9a9a9;
}


@media (min-width:768px) and (max-width:1024px){

.testimonial-cm .text p {
    font-size: 14px;
    line-height: 22px;
}

.testimonial-section .owl-carousel .item {
    padding: 14px 12px;
    margin: 0 5px;
}

.testimonial-section .owl-theme .owl-controls {
    margin-top: 35px;
}

.testimonial-section {
    padding: 60px 0 40px;
}

.testimonial-section .owl-carousel {
    margin-top: 10px;
}

.testimonial-cm .image {
    bottom: 16px;
}

}

@media (max-width:767px){

.testimonial-section {
    padding: 60px 0 40px;
}

.testimonial-cm .text p {
    font-size: 14px;
    line-height: 22px;
}

.testimonial-section .owl-carousel .item {
    padding: 14px 12px;
    margin: 0 5px;
}

.testimonial-section .owl-theme .owl-controls {
    margin-top: 35px;
}

.testimonial-cm .image {
    bottom: 16px;
}

}







/*====================================
    About-page-hero-section
===================================*/    


.about-hero-section{
    padding: 115px 0 0;
}

.about-hero-section .left-col {
    display: flex;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
}

body .body-container-wrapper .row-fluid .white-bg-form{
    background:#f2f2f2;
    width:100%;
    max-width:970px;
    margin:0 auto;
    float:none;
    padding:30px 20px 30px 28px;
}


@media (min-width:768px) and (max-width:1024px){

.about-hero-section {
    padding: 96px 0 0;
}


}


@media (max-width:767px){

.about-hero-section {
    padding: 100px 0 0;
}

.about-hero-section .left-col{
    text-align:center;
    margin-bottom:10px;
}

body .body-container-wrapper .row-fluid .white-bg-form {
    padding: 30px 20px 10px;
}

}











